{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "mocotw/base-resp.html" %}

{% set navigation_bar = [
    (url('mozorg.about'), '認識 Mozilla'),
    (url('mocotw.about.manifesto'),  'Mozilla 宣言'),
    (url('mocotw.about.space'),  'Mozilla Space'),
    (url('mocotw.about.careers'),  '工作機會'),
    (url('mocotw.about.intern'),  '實習機會'),
    (url('mocotw.about.contact'),  '聯絡我們'),
] -%}

{% block extrahead %}
    {{ css('about-base') }}
{% endblock %}

{% block content %}

<div id="main-content">
<div class="row">

<article class="main-column">
{% block article %}{% endblock %}
</article>

<aside class="sidebar">
  <nav>
    <ul>
    {% for href, caption in navigation_bar %}
      <li>
      {% if href == request.path %}
        <b>{{ caption|e }}</b>
      {% else %}
        <a href="{{ href|e }}">{{ caption|e }}</a>
      {% endif %}
      </li>
    {% endfor %}
    <ul>
  </nav>

  <div class="reference">
    <h4>下載 Firefox</h4>
    <p>給你最好的網路體驗。</p>
    <a class="more" href="/firefox/">了解更多 »</a>
  </div>
  <div class="reference">
    <h4>粉絲團按讚</h4>
    <p>加入粉絲團以接收最新消息。</p>
    <a class="more" href="https://www.facebook.com/MozillaTaiwan">了解更多 »</a>
  </div>
  <div class="reference">
    <h4>加入我們</h4>
    <p>在各種領域參與我們志工的行列。</p>
    <a class="more" href="/community/">了解更多 »</a>
  </div>

</aside>

</div>
</div>

{% endblock %}
