{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "mocotw/about/base.html" %}

{% block page_title %}聯絡我們{% endblock %}
{% block page_desc %}{% endblock %}
{% block body_id %}about-manifesto{% endblock %}

{% block article %}
  <h1 class="title-banner">聯絡我們</h1>
  <a class="online_button right_button" href="/reg/moztour/" target="_blank">線上報名</a>
  <div class="divider">
    <h2>企業參訪</h2>
    <p>熱愛Mozilla 的你，如果對Mozilla Taiwan 辦公室充滿好奇，Mozilla Taiwan 之旅將實現你的夢想！請透過上方的「線上報名」讓我們聽到你的聲音。</p>
    <p>參觀日期：每月第二個星期五<br />時間：PM14:00~PM14:50<br />人數：滿15人成行 (限學校團體), 上限不得超過30人</p>
    <h2>演講／訪談邀約</h2>
    <p>不論你是社群團體、學術機構、活動主辦單位、媒體朋友，Mozilla 都十分樂意和大家面對面交流，互相交換意見，相關需求也請透過「線上報名」讓我們知道如何主動聯絡你！</p>
  </div>
  <h2>想找我們？以下是我們完整的聯絡方式</h2>
  <ul>
    <li><strong>地址</strong>：110 台北市信義區信義路五段 106 號 4 樓 A-1</li>
    <li><strong>電話</strong>：(02) 8786-1100</li>
    <li><strong>傳真</strong>：(02) 8786-1109</li>
    <li><strong>聯絡信箱</strong>：<a href="mailto:tw-mktg@mozilla.com">tw-mktg@mozilla.com</a></li>
  </ul>
  <iframe width="100%" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.tw/maps?f=q&amp;source=s_q&amp;hl=zh-TW&amp;geocode=&amp;q=110+%E5%8F%B0%E5%8C%97%E5%B8%82%E4%BF%A1%E7%BE%A9%E5%8D%80%E4%BF%A1%E7%BE%A9%E8%B7%AF%E4%BA%94%E6%AE%B5+106+%E8%99%9F+4+%E6%A8%93+A-1&amp;aq=&amp;sll=23.63446,120.970459&amp;sspn=5.644297,10.206299&amp;brcurrent=3,0x3442abadec7543e7:0x5dbcdd8252aeabe7,0,0x3442ac6b61dbbd9d:0xc0c243da98cba64b&amp;ie=UTF8&amp;hq=&amp;hnear=110%E5%8F%B0%E5%8C%97%E5%B8%82%E4%BF%A1%E7%BE%A9%E5%8D%80%E4%BF%A1%E7%BE%A9%E8%B7%AF%E4%BA%94%E6%AE%B5106%E8%99%9F&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
  <br /><a href="http://maps.google.com.tw/maps?f=q&amp;source=embed&amp;hl=zh-TW&amp;geocode=&amp;q=110+%E5%8F%B0%E5%8C%97%E5%B8%82%E4%BF%A1%E7%BE%A9%E5%8D%80%E4%BF%A1%E7%BE%A9%E8%B7%AF%E4%BA%94%E6%AE%B5+106+%E8%99%9F+4+%E6%A8%93+A-1&amp;aq=&amp;sll=23.63446,120.970459&amp;sspn=5.644297,10.206299&amp;brcurrent=3,0x3442abadec7543e7:0x5dbcdd8252aeabe7,0,0x3442ac6b61dbbd9d:0xc0c243da98cba64b&amp;ie=UTF8&amp;hq=&amp;hnear=110%E5%8F%B0%E5%8C%97%E5%B8%82%E4%BF%A1%E7%BE%A9%E5%8D%80%E4%BF%A1%E7%BE%A9%E8%B7%AF%E4%BA%94%E6%AE%B5106%E8%99%9F&amp;t=m&amp;z=14&amp;iwloc=A">檢視較大的地圖 » </a>

{% endblock %}
