{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "mocotw/about/base.html" %}

{% block page_title %}實習機會{% endblock %}
{% block page_desc %}Mozilla Taiwan 提供台灣學生參與國際大型專案與國際接軌的機會。『 實習專案 』提供對開放源碼 (Open Source) 專案的程式開發，或對行銷推廣有興趣的在職學生青年學子優質的實習機會。{% endblock %}
{% block body_id %}about-manifesto{% endblock %}

{% block extrahead %}
  {{ css('about-intern') }}
{% endblock %}

{% block article %}
  <h1 class="title-banner">實習機會</h1>
  <div class="poster">
    <div class="poster-right">
      <div class="intern-title">
        <h2>美商謀智 (Mozilla Taiwan) 實習專案</h2>
      </div>
      <div class="description">
<p>學生們參與國際大型專案與國際接軌的機會來啦～
Mozilla Taiwan『 實習專案 』提供對開放源碼 (Open Source) 專案的程式開發，
或對行銷推廣有興趣的在職學生青年學子優質的實習機會。</p>
<p>若你想在求學階段提早接觸國際專案、累積相關工作經驗、儘早取得職場體驗以確認未來方向，
歡迎立即投遞履歷，加入我們一同努力打造更美好的網路未來！</p>
      </div>
    </div>
  </div>
  <div class="poster">
    <div class="poster-right">
      <div class="dev-title">
        <h3>Mozilla Taiwan 實習專案 (程式相關)</h3>
        <div class="dev-doll">
          <div class="globe"></div>
        </div>
      </div>
      <div class="description">
        <ul>
          <li><h4>ㄧ、專案目的：</h4>
<ul><li>提供管道讓國內優秀在職學生接觸並參與國際大型專案、學習開放源碼運作方式，
並藉由參與 Firefox OS 專案，培養學生行動裝置與網路系統的開發能力，
同時協助國內有志學生在邁入職場前累積實際開發經驗，進而發掘自己的興趣與求職方向。</li></ul>
          </li>
          <li><h4>二、職務說明</h4>
            <ul>
              <li><b>申請資格：</b>大學(含)以上在學學生 (含碩士及博士生)</li>
              <li><b>科系要求：</b>理工相關科系（電機、資訊為佳）</li>
              <li><b>語文條件：</b>英文聽、說、讀、寫流利</li>
              <li><b>程式設計能力：</b>熟 Linux, C/C++ 或 JavaScript/html5/CSS 等程式語言。</li>
              <li><b>工作內容：</b>軟體設計、實作與測試</li>
              <li><b>工作待遇：</b>面議</li>
              <li><b>工作時間：</b>周一至周五，09:00~18:00（每週 2 ~ 3 日）、<br>
                &emsp;&emsp;&emsp;&emsp;&emsp;國定、例假日休假</li>
              <li><b>實習時間：</b>至少半年</li>
            </ul>
            <ul>
              <li>＊實習期間交通、住宿需自理</li>
              <li>＊實習尾聲須提交報告，分享實習成果</li>
            </ul>
          </li>
          <li>
            <b>本期實習名額已額滿，請密切注意下期招募時間</b>
          </li>
        </ul>

      </div>
    </div>
  </div>
  <div class="poster">
    <div class="poster-right">
      <div class="mktg-title">
        <h3>Mozilla Taiwan 實習專案 (行銷相關)</h3>
        <div class="mktg-doll">
          <div class="blink-mktg"></div>
        </div>
      </div>
      <div class="description">
        <ul>
          <li><h4>一、專案目的：</h4>
            <ul><li>做為 <a href="/community/student/" title="Firefox 校園大使">Firefox 校園大使</a>專案的延伸，提供任期內表現優異的校園大使實際職場實習工作機會。
            透過企劃成果的展現，於求學期間獲得實際推廣企劃經驗並讓企劃提案付諸實現。</li></ul>
          </li>
          <li><h4>二、職務說明</h4>
            <ul>
              <li><b>申請資格：</b>曾經擔任過 <a href="/community/student/" title="Firefox 校園大使">Firefox 校園大使</a>並取得優良校園大使資格者。<br>
                &emsp;&emsp;&emsp;&emsp;&emsp;有意願但無相關經驗者者請先報名 Firefox 校園大使專案。</li>
              <li><b>科系要求：</b>無</li>
              <li><b>特殊要求：</b>不需要會寫程式，但求個性活潑、喜歡創意發想、注重細節，<br>
                &emsp;&emsp;&emsp;&emsp;&emsp;對經營社群平台、設計、影片拍攝、活動企劃、市場調查、<br>
                &emsp;&emsp;&emsp;&emsp;&emsp;各式行銷手法... 略懂或有經驗者佳。</li>
              <li><b>工作內容：</b>校園推廣相關活動規劃</li>
              <li><b>工作待遇：</b>面議</li>
              <li><b>工作時間：</b>周一至周五，09:00~18:00（每週 2 ~ 3 日）、<br>
                &emsp;&emsp;&emsp;&emsp;&emsp;國定、例假日休假</li>
              <li><b>實習時間：</b>僅開放暑假 2 個月</li>
            </ul>
          </li>
          <li>
            <b>本期實習名額已額滿，請參考 <a href="http://mozilla.com.tw/community/student/">Firefox 校園大使</a></b>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="balls">
    <div id="p1" class="pillar"></div>
    <div id="p2" class="pillar"></div>
    <div id="p3" class="pillar"></div>
    <div id="p4" class="pillar"></div>
    <div id="p5" class="pillar"></div>
    <div id="p6" class="pillar"></div>
    <div id="p7" class="pillar"></div>
    <div id="p8" class="pillar"></div>
    <div id="c1" class="circle">Firefox</div>
    <div id="c2" class="circle">Mozilla</div>
    <div id="c3" class="circle">Intern</div>
    <div id="c4" class="circle">Design</div>
    <div id="c5" class="circle">JS</div>
    <div id="c6" class="circle">Marketing</div>
    <div id="c7" class="circle">Open Source</div>
    <div id="c8" class="circle">Project</div>
  </div>

{% endblock %}
