
{% extends "base-resp.html" %}

{% block page_title_prefix %}Firefox 十週年 - {% endblock %}
{% block page_image %}{{ settings.CANONICAL_URL }}{{ media('img/mocotw/10years/10years-fb.png') }}{% endblock %}

{% block extrahead %}
  {{ css('10years-base') }}
{% endblock %}

{% block site_header_nav %}
  <nav role="navigation" id="nav-main">
    <ul id="nav-main-menu">
      <li><a href="{{ url('mocotw.10years.index') }}" id="nav-index">十週年首頁</a></li>
      <li><a href="{{ url('mocotw.10years.browser-survey-result') }}" id="nav-main-customize">問卷調查</a></li>
      <li><a href="{{ url('mocotw.10years.firefox-family') }}" id="nav-firefox-family">線上活動</a></li>
      <li><a href="{{ url('mocotw.10years.firefox-day') }}" id="nav-firefox-day">網路自由日</a></li>
    </ul>
  </nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block js %}
{% endblock %}
