{% extends "mocotw/10years/base.html" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}Firefox 十週年 - 幸福的狐家元件{% endblock %}
{% block page_image %}{{ settings.CANONICAL_URL }}{{ media('img/mocotw/10years/firefox-family-fb.png') }}{% endblock %}


{% block extrahead %}
  {{ css('10years-base') }}
  {{ css('10years-firefox-family') }}
{% endblock %}

{% block content %}
  <div id="intro">
    <video id="firefox-family-intro">
      <source src="{{ media('img/mocotw/10years/firefox-family.mp4') }}" type="video/mp4">
      <source src="{{ media('img/mocotw/10years/firefox-family.webm') }}" type="video/webm">
      <source src="{{ media('img/mocotw/10years/firefox-family.ogg') }}" type="video/ogg">
      Your browser does not support the <code>video</code> element.
    </video>
    <span id="scroll-tip">
      <span class="text1">向下滾動</span>
      <span class="text2">（或按 Enter 自動播放）</span>
      <span class="arrow1">﹀</span>
      <span class="arrow2">﹀</span>
    </span>
  </div>

  <div id="fathers-room" class="room">
    <div class="floor"></div>
    <div class="stage">
      <div class="chair"></div>
      <div class="actor"></div>
      <div class="cup"></div>
      <div class="folder"></div>
      <div class="phone"></div>
      <div class="desk"></div>
      <div class="notebook"></div>
      <div class="bonsai"></div>
    </div>
    <a class="addon" href="https://addons.mozilla.org/zh-tw/firefox/addon/quick-translator/" target="_blank">
      <div class="addon-logo"></div>
      <div class="addon-desc">
        <h2>爸爸（上班族）<br>Quick Translator</h2>
        <p>善於使用 Firefox 語言支援 類附加元件閱讀國內外文章，隨時充實自己，與公司的國外同事、主管溝通良好，職場表現相當出色。</p>
      </div>
    </a>
  </div>
  <div id="mothers-room" class="room">
    <div class="floor"></div>
    <div class="stage">
      <div class="blackboard"></div>
      <div class="chair"></div>
      <div class="actor"></div>
      <div class="book1"></div>
      <div class="book2"></div>
      <div class="desk"></div>
      <div class="notebook"></div>
      <div class="bonsai"></div>
    </div>
    <a class="addon" href="https://addons.mozilla.org/zh-tw/firefox/addon/evernote-web-clipper/" target="_blank">
      <div class="addon-logo"></div>
      <div class="addon-desc">
        <h2>媽媽（主婦、老師）<span>Evernote Web Clipper</span></h2>
        <p>身為老師及主婦的職業婦女，對於時間管理非常有一套。在準備課程教材的時候，會使用 Firefox 書籤管理 類附加元件將有用的資訊儲存下來方便日後隨時使用。</p>
      </div>
    </a>
  </div>
  <div id="grandpas-room" class="room">
    <div class="floor"></div>
    <div class="stage">
      <div class="frame"></div>
      <div class="chair"></div>
      <div class="actor"></div>
      <div class="crutch"></div>
      <div class="tea"></div>
      <div class="teapot"></div>
      <div class="light"></div>
      <div class="desk"></div>
      <div class="notebook"></div>
    </div>
    <a class="addon" href="https://addons.mozilla.org/zh-tw/firefox/addon/nosquint/" target="_blank">
      <div class="addon-logo"></div>
      <div class="addon-desc">
        <h2>爺爺（長青族）<span>NoSquint</span></h2>
        <p>利用退休時間投資及從事喜愛的興趣，Firefox 上安裝了許多佈景外觀 類附加元件，讓自己不因身體、體力上的限制侷限生活領域。</p>
      </div>
    </a>
  </div>
  <div id="daughters-room" class="room">
    <div class="floor"></div>
    <div class="stage">
      <div class="bookshelf"></div>
      <div class="chair"></div>
      <div class="actor"></div>
      <div class="book0"></div>
      <div class="book1"></div>
      <div class="book2"></div>
      <div class="book3"></div>
      <div class="book4"></div>
      <div class="book5"></div>
      <div class="desk"></div>
      <div class="notebook"></div>
    </div>
    <a class="addon" href="https://addons.mozilla.org/zh-tw/firefox/addon/media-downloader/" target="_blank">
      <div class="addon-logo"></div>
      <div class="addon-desc">
        <h2>女兒（大學生）<span>Youtube Downloader</span></h2>
        <p>資訊萬事通，善於使用 Firefox下載管理 類附加元件蒐集運用各種來源資訊，豐富自己的課業參考資料與提升生活品質。</p>
      </div>
    </a>
  </div>
  <div id="sons-room" class="room">
    <div class="floor"></div>
    <div class="stage">
      <div class="poster"></div>
      <div class="chair"></div>
      <div class="actor"></div>
      <div class="gundam"></div>
      <div class="plane"></div>
      <div class="desk"></div>
      <div class="notebook"></div>
    </div>
    <a class="addon" href="https://addons.mozilla.org/zh-tw/firefox/addon/greasemonkey/" target="_blank">
      <div class="addon-logo"></div>
      <div class="addon-desc">
        <h2>兒子（科技宅）<span>GreaseMonkey</span></h2>
        <p>技術愛好者，對於各種技術瞭如指掌，隨時掌握 Firefox 各類附加元件資訊並善加利用，尤其擅長改善網頁操作與瀏覽便利性。</p>
      </div>
    </a>
  </div>
  <div id="boyfriends-room" class="room">
    <div class="floor"></div>
    <div class="stage">
      <div class="map"></div>
      <div class="chair"></div>
      <div class="actor"></div>
      <div class="cup"></div>
      <div class="coffee-grinder"></div>
      <div class="coffee-machine"></div>
      <div class="desk"></div>
      <div class="notebook"></div>
    </div>
    <a class="addon" href="https://addons.mozilla.org/zh-tw/firefox/addon/firebug/" target="_blank">
      <div class="addon-logo"></div>
      <div class="addon-desc">
        <h2>女兒的男朋友 (開發者）<span>Firebug</span></h2>
        <p>資訊萬事通，善於使用 Firefox下載管理 類附加元件蒐集運用各種來源資訊，豐富自己的課業參考資料與提升生活品質。</p>
      </div>
    </a>
  </div>
  <div id="all-addons">
    <ul class="kwicks">
      <li class="father">
        <h3>上班族</h3>
        <div class="actor"></div>
        <div class="spotlights"></div>
        <ul class="addons">
          <li class="addon1">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/quick-translator/" target="_blank">
              <h4>Quick Translator</h4>
              <p>輕量易用的即時翻譯機</p>
            </a>
          </li>
          <li class="addon2">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/adblock-plus/" target="_blank">
              <h4>ADBlocker</h4>
              <p>移除網頁線上廣告與封鎖惡意網域</p>
            </a>
          </li>
          <li class="addon3">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/measureit/" target="_blank">
              <h4>MeasureIt</h4>
              <p>直覺式測量網頁長寬距離</p>
            </a>
          </li>
          <li class="addon4">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/lastpass-password-manager/" target="_blank">
              <h4>LastPass Password Manager</h4>
              <p>密碼管理服務</p>
            </a>
          </li>
          <li class="addon5">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/foxclocks/" target="_blank">
              <h4>FoxClocks</h4>
              <p>跨地區時鐘</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="mother">
        <h3>主婦、老師</h3>
        <div class="actor"></div>
        <div class="spotlights"></div>
        <ul class="addons">
          <li class="addon1">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/evernote-web-clipper/" target="_blank">
              <h4>Evernote Web Clipper</h4>
              <p>儲存網頁內文、連結、影像</p>
            </a>
          </li>
          <li class="addon2">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/clearly/" target="_blank">
              <h4>Evernote Clearly</h4>
              <p>使網頁乾淨易於閱讀</p>
            </a>
          </li>
          <li class="addon3">
            <a href="http://www.savebar.com.tw/Page_Download.aspx" target="_blank">
              <h4>SaveBar</h4>
              <p>網路購物即時比價</p>
            </a>
          </li>
          <li class="addon4">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/turn-off-the-lights/" target="_blank">
              <h4>關燈看影片</h4>
              <p>便於觀賞網頁影片</p>
            </a>
          </li>
          <li class="addon5">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/scrapbook/" target="_blank">
              <h4>ScrapBook</h4>
              <p>方便擷取網頁與整理擷取後的資料</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="grandpa">
        <h3>長青族</h3>
        <div class="actor"></div>
        <div class="spotlights"></div>
        <ul class="addons">
          <li class="addon1">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/nosquint/" target="_blank">
              <h4>NoSquint</h4>
              <p>放大網頁文字與圖片</p>
            </a>
          </li>
          <li class="addon2">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/stock-market-quotes/" target="_blank">
              <h4>Stock Market Quotes</h4>
              <p>即時股票交易追蹤</p>
            </a>
          </li>
          <li class="addon3">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/auto-reload/" target="_blank">
              <h4>Auto Reload</h4>
              <p>網頁內容有變動時將自動更新頁面</p>
            </a>
          </li>
          <li class="addon4">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/reminderfox/" target="_blank">
              <h4>ReminderFox</h4>
              <p>管理提醒計畫列表</p>
            </a>
          </li>
          <li class="addon5">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/healthpage/" target="_blank">
              <h4>健康頁 Health Page App</h4>
              <p>紀錄如運動、健康筆記、健康目標、飲食狀況等資料</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="daughter">
        <h3>大學生</h3>
        <div class="actor"></div>
        <div class="spotlights"></div>
        <ul class="addons">
          <li class="addon1">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/media-downloader/" target="_blank">
              <h4>Youtube Downloader</h4>
              <p>方便下載網頁影片</p>
            </a>
          </li>
          <li class="addon2">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/bbsfox/" target="_blank">
              <h4>BBSFox</h4>
              <p>使用 Firefox 瀏覽 BBS</p>
            </a>
          </li>
          <li class="addon3">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/personas-rotator/" target="_blank">
              <h4>Personas Rotator</h4>
              <p>定時自動更換 Firefox 佈景主題</p>
            </a>
          </li>
          <li class="addon4">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/ie-tab/" target="_blank">
              <h4>IE Tab</h4>
              <p>直接在 Firefox 分頁中以內嵌的 IE 引擎，瀏覽 IE Only 的網頁</p>
            </a>
          </li>
          <li class="addon5">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/easyscreenshot/" target="_blank">
              <h4>網頁截圖</h4>
              <p>將網頁以圖片方式擷取保存</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="son">
        <h3>科技宅</h3>
        <div class="actor"></div>
        <div class="spotlights"></div>
        <ul class="addons">
          <li class="addon1">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/greasemonkey/" target="_blank">
              <h4>GreaseMonkey</h4>
              <p>使大部分 HTML 為主的網頁於使用者端更方便易用</p>
            </a>
          </li>
          <li class="addon2">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/firegestures/" target="_blank">
              <h4>FireGestures</h4>
              <p>自訂滑鼠手勢套件執行各種瀏覽命令</p>
            </a>
          </li>
          <li class="addon3">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/snaplinksplus/" target="_blank">
              <h4>Snap Links Plus</h4>
              <p>可一次選取大量連結並個別開啟新分頁</p>
            </a>
          </li>
          <li class="addon4">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/tile-tabs/" target="_blank">
              <h4>Tile Tabs</h4>
              <p>透過縮圖快速檢視各分頁內容</p>
            </a>
          </li>
          <li class="addon5">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/panorama-tab-group-name/" target="_blank">
              <h4>Panorama Tab Group Name</h4>
              <p>可簡易直覺地將各分頁分組整理</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="boyfriend">
        <h3>開發者</h3>
        <div class="actor"></div>
        <div class="spotlights"></div>
        <ul class="addons">
          <li class="addon1">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/firebug/" target="_blank">
              <h4>Firebug</h4>
              <p>協助快速及方便的修改網頁各項元素與功能</p>
            </a>
          </li>
          <li class="addon2">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/jsonview/" target="_blank">
              <h4>JSONView</h4>
              <p>協助快速及方便的修改網頁各項元素與功能</p>
            </a>
          </li>
          <li class="addon3">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/sqlite-manager/" target="_blank">
              <h4>SQLite Manager</h4>
              <p>圖形化 SQLite 管理工具</p>
            </a>
          </li>
          <li class="addon4">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/copy-plain-text-2/" target="_blank">
              <h4>Copy Plain Text 2</h4>
              <p>複製選取的內容為無格式文字</p>
            </a>
          </li>
          <li class="addon5">
            <a href="https://addons.mozilla.org/zh-tw/firefox/addon/font-finder/" target="_blank">
              <h4>Font Finder</h4>
              <p>讓使用者知道被選擇的文字的 CSS 屬性</p>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div id="coming-soon">
    <h3>活動即將開幕，敬請期待！</h3>
    <a target="_blank" href="https://www.facebook.com/MozillaTaiwan">加入粉絲團以追蹤最新消息 »</a>
    <div class="fb-fans-page">
      <div class="fb-like-box" data-href="http://www.facebook.com/MozillaTaiwan" data-width="300" data-height="240" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="false"></div>
    </div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=135467439980355";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
  </div>
  <div id="play-button"></div>
{% endblock %}

{% block email_form %}{% endblock %}

{% block site_footer %}{% endblock %}

{% block js %}
  {{ js('10years-firefox-family') }}
{% endblock %}
