{% extends "mocotw/10years/base.html" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}Firefox 十週年{% endblock %}
{% block page_image %}{{ settings.CANONICAL_URL }}{{ media('img/mocotw/10years/10years-fb.png') }}{% endblock %}

{% block extrahead %}
  {{ css('10years-base') }}
  {{ css('10years-index') }}
{% endblock %}

{% block content %}
  <div id="banners">
    <div id="firefox-10years" class="banner">
      <div class="content"></div>
    </div>
    <div id="firefox-users" class="banner">
      <div class="content"></div>
    </div>
    <div id="firefox-dnt" class="banner">
      <div class="content"></div>
    </div>
    <div id="firefox-addons" class="banner">
      <div class="content"></div>
    </div>
    <div id="firefox-open-source" class="banner">
      <div class="content"></div>
    </div>
  </div>
  <div id="events">
    <a href="{{ url('mocotw.10years.browser-survey-result') }}" id="browser-survey" class="event running">
      <div class="emblem">
        <div class="chart">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
          <div class="bar4"></div>
          <div class="bar5"></div>
        </div>
      </div>
      <h3>問卷調查結果</h3>
      <p>The Web We Want<br>透過 Firefox 的問卷調查<br>大聲說出你想要什麼樣的瀏覽器<br>(調查已結束，看分析結果)</p>
    </a>
    <a href="{{ url('mocotw.10years.firefox-family') }}" id="firefox-family" class="event running">
      <div class="emblem">
        <div class="screen">
          <div class="piece g"></div>
          <div class="piece b"></div>
          <div class="piece o"></div>
          <div class="piece r"></div>
          <div class="piece y"></div>
          <div class="piece b2"></div>
          <div class="piece o2"></div>
          <div class="piece r2"></div>
          <div class="piece y2"></div>
        </div>
        <div class="pc"></div>
      </div>
      <h3>線上活動</h3>
      <p>幸福的狐家元件<br>看看令人羨慕的狐家大小<br>如何因為 Firefox 附加元件讓人生發光<br></p>
    </a>
    <a href="{{ url('mocotw.10years.firefox-day') }}" id="firefox-day" class="event running">
      <div class="emblem">
        <div class="lens">
          <div class="balloon b"></div>
          <div class="balloon g"></div>
          <div class="balloon lb"></div>
          <div class="balloon lo"></div>
          <div class="balloon o"></div>
          <div class="balloon r"></div>
        </div>
      </div>
      <h3>網路自由日</h3>
      <p>於華山 1914 舉辦慶祝活動<br>透過時光走廊、闖關活動<br>與 Firefox 歡度十週年的生日</p>
    </a>
  </div>
{% endblock %}

{% block js %}
  {{ js('10years-index') }}
{% endblock %}
