<ul class="primary">
  <li><a href="{{ url('firefox.features') }}"><span>功能特色</span></a></li>
  <li><a href="/firefox/mobile/features"><span>行動版</span></a></li>
  <li><a href="https://addons.mozilla.org"><span>{{_('Add-ons')}}</span></a></li>
  <li><a href="https://support.mozilla.org/"><span>{{_('Support')}}</span></a></li>
  <li><a href="/firefox/faq/" title="Frequently Asked Questions"><span>常見問答集</span></a></li>
  <li><a href="{{ url('mozorg.about') }}"><span>{{_('About')}}</span></a></li>
</ul>
<ul class="secondary">
  <li><a href="{{ php_url('/privacy/') }}">{{_('Privacy Policy')}}</a></li>
  <li><a href="/firefox/ueip/" title="User Experience Improvement Program">使用者經驗改善計畫</a></li>
  <li><a href="{{ php_url('/about/legal.html') }}">{{_('Legal Notices')}}</a></li>
</ul>
