{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "base-resp.html" %}
{% block page_title_prefix %}關於 Mozilla － {% endblock %}

{% block body_class %}sand lang-{{ LANG }}{% endblock %}

{% block email_form %}
  {# Note: not using the email footer macro here because that submits the
  subscription to Bedrock.  This form goes to sendto.mozilla.org #}
<form class="billboard newsletter-form" id="footer-email-form" method="post"
      action="https://sendto.mozilla.org/page/s/sign-up-for-mozilla">
  <h3>{{ _('Get Mozilla updates') }}</h3>

  <div class="form-contents">
    <div class="field field-email">
      <label for="id_email" class="hidden">{{ _('Email') }}</label>
      <input name="email" type="email" id="id_email" value="" required aria-required="true" placeholder="{{ _('YOUR EMAIL HERE') }}">
    </div>

    <div id="form-details">

      <div class="field field-privacy">
        <label for="id_privacy" class="privacy-check-label">
          <input required aria-required="true" type="checkbox" name="custom-314" id="id_privacy" />
          <span class="title">{{ _('I’m okay with you handling this info as you explain in your <a href="%s">Privacy Policy</a>')|format(MOFO_URL + '/en-US/privacy-policy') }}</span>
        </label>
      </div>
    </div>
  </div>

  <div class="form-submit">
    <input type="submit" id="footer_email_submit" value="{{ _('Sign me up') }} »" class="button">
    <p class="form-details"><small>{{ _('We will only send you Mozilla-related information.') }}</small></p>
  </div>
</form>
{% endblock %}

{% block site_js %}
  {{ js('mozorg-resp') }}
{% endblock %}
