<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="NOINDEX, NOFOLLOW" name="ROBOTS">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <title>歡迎加入 Firefox 校園大使！</title>
  <style type="text/css">
    @media only screen and (max-device-width: 450px) {
      div[class="mobiledevicesupport"] .hide_on_mobile {
        display: none !important;
      }

      div[class="mobiledevicesupport"] table.container,
      div[class="mobiledevicesupport"] table.compressed_on_mobile {
        width: 320px !important;
      }

      div[class="mobiledevicesupport"] table td.compressed_on_mobile {
        width: 318px !important;
      }

      div[class="mobiledevicesupport"] td.stack_on_mobile {
        display: block !important;
      }

      div[class="mobiledevicesupport"] body,
      div[class="mobiledevicesupport"] div {
        font-size: 14px !important;
        line-height: 1.2 !important;
      }

      div[class="mobiledevicesupport"] .menu-title,
      div[class="mobiledevicesupport"] .menu-item a {
        padding: 5px 10px !important;
      }

      div[class="mobiledevicesupport"] .title {
        font-size: 18px !important;
      }

      div[class="mobiledevicesupport"] img.title-image {
        width: 200px !important;
        height: auto !important;
      }

      div[class="mobiledevicesupport"] img.header-image {
        width: 320px !important;
        height: auto !important;
      }

      div[class="mobiledevicesupport"] img.firefox-logo,
      div[class="mobiledevicesupport"] img.dnt-logo {
        width: 75px !important;
        height: auto !important;
      }
    }
  </style>
</head>
<body>
<div class="mobiledevicesupport">


<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center"
       style="border-top: 1px solid #ffffff;border-collapse: collapse; background: #f6f2e7;font-family: Georgia, serif;font-size: 16px;color: #655e4c;">
<tbody>
<tr>
<td valign="top" bgcolor="f6f2e7">

<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" class="container">
<tbody>
<tr>
<td width="100%">


<!--Start header info -->


<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody>
  <tr>
    <td style="font-family: georgia, serif;font-size: 12px;color: #655e4c;" class="small red-links" colspan="3">
      在瀏覽器中<a style="color: #b30406;text-decoration: none;font-family: georgia, serif;font-size: 12px" href="http://mozilla.com.tw/community/student/welcome-letter/">開啟這封信</a> »
    </td>
    <td valign="top">
      <a style="color: #447bc4;text-decoration: none;display: block;font-family: sans-serif;font-size: 12px;"
         target="_blank"
         href="http://mozilla.com.tw">
        <img width="146" height="44" border="0" align="right" style="display:block" alt="Mozilla"
             src="http://mozilla.com.tw/media/img/tabzilla/tab-static.png"></a>
    </td>
  </tr>
  </tbody>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody>

  <tr>
    <td height="5" colspan="3"></td>
  </tr>
  <tr>
    <td class="stack_on_mobile"><img width="324" height="90" border="0" class="title-image stack_on_mobile"
                                     src="http://{{MOCO_URL}}/media/img/contribute/university-ambassadors/logo.png"
                                     alt="Student Ambassadors"></td>
    <td width="20">&nbsp;</td>

    <td valign="middle"
        style="font-family: georgia, serif;font-style: italic;font-size: 14px;line-height: 1;padding: 10px 0;color: #7d7d7d;"
        class="tagline stack_on_mobile">這封信來自非營利組織 Mozilla<br>－ Firefox 的開發者
    </td>
  </tr>

  </tbody>
</table>
<!--End header info -->


<!--start Article, no image -->


<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="hide_on_mobile">
  <tbody>
  <tr>
    <td height="10" colspan="2"></td>
  </tr>
  </tbody>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody>
  <tr>
    <td width="100%">
      <table width="598" cellspacing="0" cellpadding="0" border="0"
             style="background: #fff;border-bottom: 1px solid #777;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-collapse: collapse;"
             class="white-box compressed_on_mobile">
        <tbody>
        <tr>
          <td width="20" rowspan="4">&nbsp;</td>
          <td height="20">&nbsp;</td>
          <td width="20" rowspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td height="20"><h2
                  style="font-family: sans-serif;font-size: 26px;font-weight: normal;font-style: normal;color: #d04b00;margin-top: 0;margin-bottom: 15px;"
                  class="title">歡迎加入 Firefox 校園大使！ </h2></td>
        </tr>
        <tr>
          <td>
            <div style="line-height: 1.4;color: #655e4c;margin-top: 0;font-family: Georgia, serif;font-size: 16px;">
              此封電子郵件用以確認你已正式報名 Firefox 校園大使。接下來你可透過幾個方式向周遭的人宣揚 Mozilla 的理念：              <br><br>

              <strong><a style="color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;"
                         href="https://wiki.mozilla.org/StudentAmbassadors/Activities#Become_a_Mobilizer.21">
                1) 加入 Firefox OS 的 Team Mobilizer</a></strong>
              <br>
              你想搶先知道 Firefox OS 的最新消息嗎？也想和其他大使互動，協助創造 Mozilla 的歷史嗎？              <br> <br>

              Team Mobilizer 是由一群熱血的科技高手所組成，致力發揚 Mozilla 行動新產品 ─ Firefox OS。Mobilizer 將定期接到任務，以簡單方法向外宣達 Firefox OS 的理念。另外根據自己的所在地，Mobilizer 每個月均需於當地市場參加、協助、舉辦活動一次。              <a style="color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;"
                 href="https://wiki.mozilla.org/Mobilizers">
                進一步了解自己所在地的 Team Mobilizer！</a>

              <br><br>


              <strong><a style="color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;"
                         href="https://wiki.mozilla.org/StudentAmbassadors">
                2) 看 Wiki 上的簡介</a></strong>
              <br>
              透過我們的 <a style="color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;" href="https://wiki.mozilla.org/StudentAmbassadors"> Wiki 頁面</a>了解校園大使所應完成的任務、可利用的工具、相關活動等資訊。也可以在裡面找到你能參與的<a style="color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;" href="https://wiki.mozilla.org/StudentAmbassadors/Activities">活動</a> (中文版說明<a href="http://{{MOCO_URL}}{{url('mocotw.community.student.mission')}}" style="color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;">請參考 Firefox 校園大使任務包</a>)，以在校園中推廣 Mozilla 以及 Firefox (<a alias="wiki rewards" style="color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;" href="https://wiki.mozilla.org/StudentAmbassadors/Recognition">還能贏得獎品</a>)。              <br><br>

              <strong>3) 加入 <a style="color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;" href="https://www.facebook.com/Firefox.Student.Ambassadors">Facebook</a> 與 <a style="color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;" href="https://twitter.com/mozstudents">Twitter</a> 的校園大使粉絲團！</strong><br> 到社交網站查看定期更新的資訊，並聯絡其他校園大使。

              <br><br>
              <strong><a style="color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;"
                         href="https://wiki.mozilla.org/StudentAmbassadors/FirefoxClubs">
                4) 找到自己學校的 Firefox 社團，還沒有社團的話就自己創社吧！</a></strong>
              <br>
              找到自己校內的大使，或者創社擔任校內第一位 Firefox 社長。
              <br><br>


              加入校園大使之後，每個月都會收到 Mozilla 所寄發的電子報，內含更新訊息、達成成就、Firefox 新聞，還有更多資訊。我們要和你隨時保持聯絡！              <br><br>

              當然，只要你有任何疑問，也請你隨時<a style="color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;" href="mailto:firefoxstudents@mozilla.com">反應給我們</a>。                            <br><br>
              <strong><a style="color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;"
                         href="https://mail.mozilla.org/listinfo/community-taiwan-campus/">
                5) 與本地的 Firefox 校園大使交流互動</a></strong>
              <br>
              在台灣，已經有一群充滿熱忱的 Firefox 校園大使在為網路的開放與自由貢獻心力。想要認識他們嗎？歡迎加入校園大使 <a style="color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;" href="https://mail.mozilla.org/listinfo/community-taiwan-campus/">mailing list</a>。
                            <br><br>
              再次感謝你熱情參與 Mozilla 的行動，並努力協助我們打造更美好 Web 的終極使命。              <br><br>
              Mozilla 校園大使專案
            </div>
          </td>
        </tr>
        <tr>
          <td height="20">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<!--end Article, no image -->

<!--Start last table, 2 col -->

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="hide_on_mobile">
  <tbody>
  <tr>
    <td height="20" colspan="2"></td>
  </tr>
  </tbody>
</table>

<table width="100%" height="182" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody>
  <tr>
    <td style="vertical-align: top;" class="stack_on_mobile">
      <table width="290" height="182" cellspacing="0" cellpadding="0" border="0"
             style="height: 182px; background: #fff;border-bottom: 1px solid #777;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-collapse: collapse;"
             class="white-box compressed_on_mobile">
        <tbody>
        <tr>
          <td width="20" rowspan="4">&nbsp;</td>
          <td height="20">&nbsp;</td>
          <td width="20" rowspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <h2 style="font-family: sans-serif;font-size: 26px;font-weight: normal;font-style: normal;color: #d04b00;margin-top: 0;margin-bottom: 15px;"
                class="title">有任何問題嗎?</h2></td>
        </tr>
        <tr>
          <td valign="top">
            <div style="line-height: 1.4;color: #655e4c;margin-top: 0;font-family: Georgia, serif;font-size: 16px;">
              你可以在 IRC (#firefoxstudents) 上面「舉手發問」，或者參閱我們的 <a style="line-height: 1.4; color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;" href="https://wiki.mozilla.org/StudentAmbassadors/FAQ">FAQ 頁面</a>。
            </div>
          </td>
        </tr>
        <tr>
          <td height="20">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </td>
    <td width="20" valign="top" class="hide_on_mobile">&nbsp;</td>
    <td style="vertical-align: top;" class="stack_on_mobile">
      <table width="290" height="182" cellspacing="0" cellpadding="0" border="0"
             style="height: 182px; background: #fff;border-bottom: 1px solid #777;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-collapse: collapse;"
             class="white-box compressed_on_mobile">
        <tbody>
        <tr>
          <td width="20" rowspan="4">&nbsp;</td>
          <td height="20">&nbsp;</td>
          <td width="20" rowspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td height="20"><h2
                  style="font-family: sans-serif;font-size: 26px;font-weight: normal;font-style: normal;color: #d04b00;margin-top: 0;margin-bottom: 15px;"
                  class="title">聯繫 Mozilla Taiwan</h2>
          </td>
        </tr>
        <tr>
          <td>

            <table>
              <tbody>
              <tr>
                <td>
                  <a style="line-height: 1.4; color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;"
                     href="https://www.facebook.com/MozillaTaiwan">
                    <img width="32" height="32" border="0" style="vertical-align: middle;"
                         src="http://mozilla.com.tw/media/img/firefox/firstrun/facebook.png">
                  </a>

                </td>
                <td width="5">&nbsp;</td>
                <td>
                  <a style="line-height: 1.4;  color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;"
                     href="https://www.facebook.com/MozillaTaiwan">
                    在 Facebook 上幫我們按讚
                  </a>
                </td>
              </tr>
              <tr>
                <td style="line-height: 1.4;color: #655e4c;margin-top: 0;font-family: Georgia, serif;font-size: 10px;"
                    colspan="3">
                  <br>
                </td>
              </tr>
              <tr>
                <td>
                  <a style="line-height: 1.4; color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;"
                     href="https://plus.google.com/+MozillaTw/">
                    <img width="32" height="32" border="0" style="vertical-align: middle;"
                         src="http://mozilla.com.tw/media/img/firefox/firstrun/gplus-32.png"></a>
                </td>
                <td width="5">&nbsp;</td>

                <td>
                  <a style="line-height: 1.4;  color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;"
                     href="https://plus.google.com/+MozillaTw/">
                    到 Google+ 追蹤我們的頻道</a>

                </td>
              </tr>
              </tbody>
            </table>


          </td>
        </tr>
        <tr>
          <td height="20">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>

<!--End last table, 2 col -->

<!--Start footer -->


<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center"
       style="font-size: 12px;font-style: italic;color: #898378; background: #f6f2e7;"
       class="footer compressed_on_mobile">
  <tbody>
  <tr>
    <td width="10" rowspan="3">&nbsp;</td>
    <td height="20"></td>
  </tr>
  <tr>
    <td valign="top">
    </td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  </tbody>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center"
       style="font-size: 12px;font-style: italic;color: #898378; background: #f6f2e7"
       class="footer compressed_on_mobile">
  <tbody>
  <tr>
    <td width="10">&nbsp;</td>
    <td valign="top" class="stack_on_mobile">
    </td>
    <td width="40" class="hide_on_mobile">&nbsp;</td>
    <td width="170" valign="top" class="address stack_on_mobile">
      <p style="margin: 0 0 10px 0;line-height: 1.4;color: #655e4c;margin-top: 0;"><strong
              style="font-style: normal;color: #736a5e;font-family: Georgia, serif;">Mozilla</strong><br>
        110 台北市信義區信義路五段 106 號 4 樓 A-1</p>

      <p style="margin: 0 0 10px 0;line-height: 1.4;color: #655e4c;margin-top: 0;font-family: Georgia, serif;"><a
              style="color: #0096dd;text-decoration: none;font-size: 12px;font-family: Georgia, serif;" target="_blank"
              href="http://www.mozilla.org/en-US/privacy/policies/websites/">
        Mozilla 隱私政策</a></p>
    </td>
    <td width="10">&nbsp;</td>
  </tr>
  </tbody>
</table>


<!--End footer -->

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>

</div>

</body>
</html>