{% set link_style='color: #0096dd;text-decoration: none;font-family: Georgia, serif;font-size: 16px;' %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="NOINDEX, NOFOLLOW" name="ROBOTS">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <title>Newsletter</title>
  <style type="text/css">
    @media only screen and (max-device-width: 450px) {
      div[class="mobiledevicesupport"] .hide_on_mobile {
        display: none !important;
      }

      div[class="mobiledevicesupport"] table.container,
      div[class="mobiledevicesupport"] table.compressed_on_mobile {
        width: 320px !important;
      }

      div[class="mobiledevicesupport"] table td.compressed_on_mobile {
        width: 318px !important;
      }

      div[class="mobiledevicesupport"] td.stack_on_mobile {
        display: block !important;
      }

      div[class="mobiledevicesupport"] body,
      div[class="mobiledevicesupport"] div {
        font-size: 14px !important;
        line-height: 1.2 !important;
      }

      div[class="mobiledevicesupport"] .menu-title,
      div[class="mobiledevicesupport"] .menu-item a {
        padding: 5px 10px !important;
      }

      div[class="mobiledevicesupport"] .title {
        font-size: 18px !important;
      }

      div[class="mobiledevicesupport"] img.title-image {
        width: 200px !important;
        height: auto !important;
      }

      div[class="mobiledevicesupport"] img.header-image {
        width: 320px !important;
        height: auto !important;
      }

      div[class="mobiledevicesupport"] img.firefox-logo,
      div[class="mobiledevicesupport"] img.dnt-logo {
        width: 75px !important;
        height: auto !important;
      }
    }
  </style>
</head>
<body>
<div class="mobiledevicesupport">


<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center"
       style="border-top: 1px solid #ffffff;border-collapse: collapse; background: #f6f2e7;font-family: Georgia, serif;font-size: 16px;color: #655e4c;">
<tbody>
<tr>
<td valign="top" bgcolor="f6f2e7">

<table width="600" cellspacing="0" cellpadding="0" border="0" align="center" class="container">
<tbody>
<tr>
<td width="100%">


<!--Start header info -->


<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody>
  <tr>
    <td style="font-family: georgia, serif;font-size: 12px;color: #655e4c;" class="small red-links" colspan="3">
      {% trans link='//' + MOCO_URL + url('mocotw.emails.welcome_fsa') %}
        <a style="color: #b30406;text-decoration: none;font-family: georgia, serif;font-size: 12px" href="{{ link }}">
          Read this</a> in your browser »
      {% endtrans %}

    </td>
    <td valign="top">
      <a style="color: #447bc4;text-decoration: none;display: block;font-family: sans-serif;font-size: 12px;"
         target="_blank"
         href="http://{{ MOCO_URL }}">
        <img width="146" height="44" border="0" align="right" style="display:block" alt="Mozilla"
             src="http://{{ MOCO_URL }}/media/img/tabzilla/tab-static.png"></a>
    </td>
  </tr>
  </tbody>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody>

  <tr>
    <td height="5" colspan="3"></td>
  </tr>
  <tr>
    <td class="stack_on_mobile"><img width="324" height="90" border="0" class="title-image stack_on_mobile"
                                     src="http://{{ MOCO_URL }}/media/img/contribute/university-ambassadors/logo.png"
                                     alt="Student Ambassadors"></td>
    <td width="20">&nbsp;</td>

    <td valign="middle"
        style="font-family: georgia, serif;font-style: italic;font-size: 14px;line-height: 1;padding: 10px 0;color: #7d7d7d;"
        class="tagline stack_on_mobile">{{ _('From Mozilla, a non-profit organization and developer of Firefox') }}
    </td>
  </tr>

  </tbody>
</table>
<!--End header info -->


<!--start Article, no image -->


<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="hide_on_mobile">
  <tbody>
  <tr>
    <td height="10" colspan="2"></td>
  </tr>
  </tbody>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody>
  <tr>
    <td width="100%">
      <table width="598" cellspacing="0" cellpadding="0" border="0"
             style="background: #fff;border-bottom: 1px solid #777;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-collapse: collapse;"
             class="white-box compressed_on_mobile">
        <tbody>
        <tr>
          <td width="20" rowspan="4">&nbsp;</td>
          <td height="20">&nbsp;</td>
          <td width="20" rowspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td height="20"><h2
                  style="font-family: sans-serif;font-size: 26px;font-weight: normal;font-style: normal;color: #d04b00;margin-top: 0;margin-bottom: 15px;"
                  class="title">{{ _('Welcome to Firefox Student Ambassadors!') }} </h2></td>
        </tr>
        <tr>
          <td>
            <div style="line-height: 1.4;color: #655e4c;margin-top: 0;font-family: Georgia, serif;font-size: 16px;">
              {% trans %}
                This email confirms that you are now officially registered as a member of the Firefox Student Ambassador
                program. Here are a few easy ways in which you can get started spreading the word about Mozilla right
                away:
              {% endtrans %}
              <br><br>

              <strong><a style="{{ link_style }}"
                         href="https://wiki.mozilla.org/StudentAmbassadors/Activities#Become_a_Mobilizer.21">
                {{ _('1) Join Team Mobilizer for Firefox OS.') }}</a></strong>
              <br>
              {% trans %}
                Do you want to be the first to know about Firefox OS in your region? Want to have fun with people like
                you and help make history?
              {% endtrans %}
              <br> <br>

              {% trans %}
                Team Mobilizer is a group of tech/geek enthusiasts that are committed to spreading FirefoxOS, Mozilla's
                new mobile product. Mobilizers receive periodic missions asking them to do a simple action to teach
                others about the new Firefox OS. Mobilizers will also attend, assist or host events in their market
                about once a month.
              {% endtrans %}
              <a style="{{ link_style }}"
                 href="https://wiki.mozilla.org/Mobilizers">
                {{ _('Learn about Team Mobilizer in your region!') }}</a>

              <br><br>


              <strong><a style="{{ link_style }}"
                         href="https://wiki.mozilla.org/StudentAmbassadors">
                {{ _('2) Read the wiki.') }}</a></strong>
              <br>
              {% trans link1='https://wiki.mozilla.org/StudentAmbassadors',
              link2='https://wiki.mozilla.org/StudentAmbassadors/Activities',
              link2_tw=url('mocotw.community.student.mission'),
              link3='https://wiki.mozilla.org/StudentAmbassadors/Recognition' %}
                Further familiarize yourself with the program's mission, tools, and activities on our
                <a style="{{ link_style }}"
                   href="{{ link1 }}">
                  wiki page</a>.
                Here you can also find out more information about what
                <a style="{{ link_style }}"
                   href="{{ link2 }}">
                  activities</a>
                you can do on campus to promote Mozilla (
                <a alias="wiki rewards"
                   style="{{ link_style }}"
                   href="{{ link3 }}">
                  and earn rewards!</a>)
              {% endtrans %}
              <br><br>

              {% trans link1='https://www.facebook.com/Firefox.Student.Ambassadors',
              link2='https://twitter.com/mozstudents' %}
                <strong>3) Join us on <a
                        style="{{ link_style }}"
                        href="{{ link1 }}">Facebook</a>
                  and <a style="{{ link_style }}"
                         href="{{ link2 }}">Twitter</a>!</strong><br>
                Explore our social pages for regular updates and to connect with your fellow Student Ambassadors.
              {% endtrans %}


              <br><br>
              <strong><a style="{{ link_style }}"
                         href="https://wiki.mozilla.org/StudentAmbassadors/FirefoxClubs">
                {{ _('4) Find or start a Firefox Club at your university.') }}</a></strong>
              <br>
              {{ _('Find fellow Ambassadors at your school or be the first Firefox Club founder at your university.') }}
              <br><br>


              {% trans %}
                As part of the Student Ambassadors program, you'll receive an email newsletter from us every month with
                updates, achievements, Firefox news, and more. We look forward to staying in-touch!
              {% endtrans %}
              <br><br>

              {% trans link='mailto:firefoxstudents@mozilla.com' %}
                In the meantime, if you have any questions, please do not hesitate to <a
                      style="{{ link_style }}"
                      href="{{ link }}">let us know</a>.
              {% endtrans %}

              <br><br>

              {% trans %}
                Thank you again for all of your hard work in helping Mozilla with our mission of building a brighter
                future for the Web.
              {% endtrans %}
              <br><br>
              Kate <br>
              {{ _('Mozilla Student Community Manager') }}
            </div>
          </td>
        </tr>
        <tr>
          <td height="20">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
<!--end Article, no image -->

<!--Start last table, 2 col -->

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" class="hide_on_mobile">
  <tbody>
  <tr>
    <td height="20" colspan="2"></td>
  </tr>
  </tbody>
</table>

<table width="100%" height="182" cellspacing="0" cellpadding="0" border="0" align="center">
  <tbody>
  <tr>
    <td style="vertical-align: top;" class="stack_on_mobile">
      <table width="290" height="182" cellspacing="0" cellpadding="0" border="0"
             style="background: #fff;border-bottom: 1px solid #777;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-collapse: collapse;"
             class="white-box compressed_on_mobile">
        <tbody>
        <tr>
          <td width="20" rowspan="4">&nbsp;</td>
          <td height="20">&nbsp;</td>
          <td width="20" rowspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td>
            <h2 style="font-family: sans-serif;font-size: 26px;font-weight: normal;font-style: normal;color: #d04b00;margin-top: 0;margin-bottom: 15px;"
                class="title">{{ _('Any questions?') }}</h2></td>
        </tr>
        <tr>
          <td valign="top">
            <div style="line-height: 1.4;color: #655e4c;margin-top: 0;font-family: Georgia, serif;font-size: 16px;">
              {% trans link='https://wiki.mozilla.org/StudentAmbassadors/FAQ' %}
                Please 'raise your hand' on either IRC (#firefoxstudents) or take a look at our
                <a style="line-height: 1.4; {{ link_style }}" href="{{ link }}">FAQ page</a>.
              {% endtrans %}

            </div>
          </td>
        </tr>
        <tr>
          <td height="20">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </td>
    <td width="20" valign="top" class="hide_on_mobile">&nbsp;</td>
    <td style="vertical-align: top;" class="stack_on_mobile">
      <table width="290" cellspacing="0" cellpadding="0" border="0"
             style="background: #fff;border-bottom: 1px solid #777;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-collapse: collapse;"
             class="white-box compressed_on_mobile">
        <tbody>
        <tr>
          <td width="20" rowspan="4">&nbsp;</td>
          <td height="20">&nbsp;</td>
          <td width="20" rowspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td height="20"><h2
                  style="font-family: sans-serif;font-size: 26px;font-weight: normal;font-style: normal;color: #d04b00;margin-top: 0;margin-bottom: 15px;"
                  class="title">{{ _('Connect with Mozilla Taiwan') }}</h2>
          </td>
        </tr>
        <tr>
          <td>

            <table>
              <tbody>
              <tr>
                <td>
                  <a style="line-height: 1.4; {{ link_style }}"
                     href="https://www.facebook.com/MozillaTaiwan">
                    <img width="32" height="32" border="0" style="vertical-align: middle;"
                         src="http://{{ MOCO_URL }}/media/img/firefox/firstrun/facebook.png">
                  </a>

                </td>
                <td width="5">&nbsp;</td>
                <td>
                  <a style="line-height: 1.4;  {{ link_style }}"
                     href="https://www.facebook.com/MozillaTaiwan">
                    {{ _('Join us on Facebook') }}
                  </a>
                </td>
              </tr>
              <tr>
                <td style="line-height: 1.4;color: #655e4c;margin-top: 0;font-family: Georgia, serif;font-size: 10px;"
                    colspan="3">
                  <br>
                </td>
              </tr>
              <tr>
                <td>
                  <a style="line-height: 1.4; {{ link_style }}"
                     href="https://plus.google.com/+MozillaTw/">
                    <img width="32" height="32" border="0" style="vertical-align: middle;"
                         src="http://{{ MOCO_URL }}/media/img/firefox/firstrun/gplus-32.png"></a>
                </td>
                <td width="5">&nbsp;</td>

                <td>
                  <a style="line-height: 1.4;  {{ link_style }}"
                     href="https://plus.google.com/+MozillaTw/">
                    {{ _('Follow us on Google+') }}</a>

                </td>
              </tr>
              </tbody>
            </table>


          </td>
        </tr>
        <tr>
          <td height="20">&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>

<!--End last table, 2 col -->

<!--Start footer -->


<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center"
       style="font-size: 12px;font-style: italic;color: #898378; background: #f6f2e7;"
       class="footer compressed_on_mobile">
  <tbody>
  <tr>
    <td width="10" rowspan="3">&nbsp;</td>
    <td height="20"></td>
  </tr>
  <tr>
    <td valign="top">
    </td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  </tbody>
</table>

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center"
       style="font-size: 12px;font-style: italic;color: #898378; background: #f6f2e7"
       class="footer compressed_on_mobile">
  <tbody>
  <tr>
    <td width="10">&nbsp;</td>
    <td valign="top" class="stack_on_mobile">
    </td>
    <td width="40" class="hide_on_mobile">&nbsp;</td>
    <td width="170" valign="top" class="address stack_on_mobile">
      <p style="margin: 0 0 10px 0;line-height: 1.4;color: #655e4c;margin-top: 0;"><strong
              style="font-style: normal;color: #736a5e;font-family: Georgia, serif;">Mozilla</strong><br>
        {{ _('650 Castro St., Ste 300<br>Mountain View CA 94041-2021') }}</p>

      <p style="margin: 0 0 10px 0;line-height: 1.4;color: #655e4c;margin-top: 0;font-family: Georgia, serif;"><a
              style="color: #0096dd;text-decoration: none;font-size: 12px;font-family: Georgia, serif;" target="_blank"
              href="http://www.mozilla.org/en-US/privacy/policies/websites/">
        {{ _('Mozilla Privacy Policy') }}</a></p>
    </td>
    <td width="10">&nbsp;</td>
  </tr>
  </tbody>
</table>


<!--End footer -->

</td>
</tr>
</tbody>
</table>

</td>
</tr>
</tbody>
</table>

</div>
{#<img width="1" height="1" src="http://{{ MOCO_URL }}/">#}

</body>
</html>