{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "/firefox/base.html" %}

{% block page_title %}Download Firefox Aurora or Beta &amp; Help Determine the Next Firefox{% endblock %}
{% block body_id %}channel{% endblock %}

{% block site_css %}
  {{ css('firefox_channel') }}
{% endblock %}

{% block content %}

<div id="main-content" class="pager pager-with-tabs pager-cleartype-fix">

  <ul id="toggler-container" class="pager-tabs">
    <li id="beta-link"><a href="{{ php_url('/firefox/beta/') }}"><img src="{{ media('/img/firefox/channel/toggler-beta.png') }}" id="toggler-logo-beta" /></a></li>
    <li id="nightly-link"><a href="//{{ NIGHTLY_URL }}"><img src="{{ media('/img/mocotw/firefox/channel/toggler-nightly.png') }}" id="toggler-logo-nightly" /></a></li>
    <li id="aurora-link"><a href="{{ php_url('/firefox/aurora/') }}"><img src="{{ media('/img/firefox/channel/toggler-aurora.png') }}" id="toggler-logo-aurora" /></a></li>
  </ul>

  <a href="#" id="carousel-left"></a>
  <a href="#" id="carousel-right"></a>

  <div class="pager-content">

    <div id="beta" class="pager-page">
      <h2 class="channel-title channel-title-beta"><img src="{{ media('/img/firefox/channel/title-beta.png') }}" alt="Firefox Beta" /></h2>
      <h3>The latest features in a more stable environment</h3>
      <div class="download-box" id="beta-desktop">
        {{ download_firefox('beta', icon=False, small=True, force_stub_installer=True, force_direct=True) }}
      </div>
      <div class="download-box mobile" id="beta-mobile">
        {{ download_firefox('beta', icon=False, mobile=True, small=True) }}
      </div>
      <p class="more"><a href="{{ php_url('/firefox/beta/') }}">Learn more about Firefox Beta<span> »</span></a></p>
    </div>

    <div id="nightly" class="pager-page">
      <h2 class="channel-title channel-title-nightly"><img src="{{ media('/img/mocotw/firefox/channel/nightly-header-bg.png') }}" alt="Firefox Nightly" /></h2>
      <h3>For testing purpose only</h3>
      <div class="download-box" id="nightly-desktop">
        {{ download_firefox('nightly', icon=False, small=True, force_direct=True) }}
      </div>
      <div class="download-box mobile" id="nightly-mobile">
        {{ download_firefox('nightly', icon=False, mobile=True, small=True, force_direct=True) }}
      </div>
      <p class="more"><a href="//{{ NIGHTLY_URL }}">Learn more about Firefox Nightly<span> »</span></a></p>
      <p class="warning">Firefox Nightly automatically sends feedback to Mozilla. <a href="{{ php_url('/legal/privacy/firefox.html#telemetry') }}">Learn more</a>.</p>
    </div>

    <div id="aurora" class="pager-page">
      <h2 class="channel-title channel-title-aurora"><img src="{{ media('/img/firefox/channel/title-aurora.png') }}" alt="Firefox Aurora" /></h2>
      <h3>The newest innovations in an experimental environment</h3>
      <div class="download-box" id="aurora-desktop">
        {{ download_firefox('aurora', icon=False, small=True) }}
      </div>
      <div class="download-box mobile" id="aurora-mobile">
        {{ download_firefox('aurora', icon=False, mobile=True, small=True) }}
      </div>
      <p class="more"><a href="{{ php_url('/mobile/aurora/') }}">Learn more about Firefox Aurora<span> »</span></a></p>
      <p class="warning">Firefox Aurora automatically sends feedback to Mozilla. <a href="{{ php_url('/legal/privacy/firefox.html#telemetry') }}">Learn more</a>.</p>
    </div>

  </div>

</div><!-- end #main-content div -->

{% endblock %}

{% block js %}
{{ js('firefox_channel') }}
{% endblock %}

{% block email_form %}{% endblock %}
