{% extends 'base-resp.html' %}

{% block page_title_prefix %}Firefox 電子報 － {% endblock page_title_prefix %}
{% block page_title %}過去電子報列表{% endblock page_title %}
{% block page_desc %}回味過去發行的電子報。{% endblock %}
{% block site_css %}
  {{ super() }}
  {{ css('newsletter_index') }}
{% endblock %}

{% block content %}
<div id="main-feature">
  <div class="row">
    <hgroup class="stacked">
      <h1><span class="large">Firefox 電子報</span></h1><br>
      <h4>回味過去發行的電子報。</h4>
    </hgroup>
  </div>
</div>
<article class="2013-10 post type-post status-publish format-standard hentry category-uncategorized no-author no-comments" id="2013-10">
  <header class="entry-header">
    <h2 class="entry-title"><a rel="bookmark" title="Firefox OS 最新 1.1 版釋出，Lightbeam 讓網路追蹤完全透明！" href="2013-10">Firefox OS 最新 1.1 版釋出，Lightbeam 讓網路追蹤完全透明！</a></h2>

    <p class="entry-posted">
    <time datetime="2013-10-30T21:45:50+00:00" title="2013-10-30T21:45:50+00:00" class="published">
        <span class="posted-year">2013年</span>
        <span class="posted-month">10月</span>
        <span class="posted-date">Vol.12</span>
      </time>
    </p>
    <div class="entry-thumbnail thumbnail-12"></div>
  </header>
</article>
<article class="2013-09 post type-post status-publish format-standard hentry category-uncategorized no-author no-comments" id="2013-09">
  <header class="entry-header">
    <h2 class="entry-title"><a rel="bookmark" title="Firefox OS 大步向前，邁向全球市場，再次掀起 Web 浪潮" href="2013-09">Firefox OS 讓你盡情享受每一刻活動，邀你上傳照片得大獎！</a></h2>

    <p class="entry-posted">
    <time datetime="2013-09-30T21:45:50+00:00" title="2013-09-30T21:45:50+00:00" class="published">
        <span class="posted-year">2013年</span>
        <span class="posted-month">09月</span>
        <span class="posted-date">Vol.11</span>
      </time>
    </p>
    <div class="entry-thumbnail thumbnail-11"></div>
  </header>
</article>
<article class="post type-post status-publish format-standard hentry category-uncategorized no-author no-comments" id="2013-08">
  <header class="entry-header">
    <h2 class="entry-title"><a rel="bookmark" title="Firefox OS 大步向前，邁向全球市場，再次掀起 Web 浪潮" href="2013-08">Firefox OS 大步向前，邁向全球市場，再次掀起 Web 浪潮</a></h2>

    <p class="entry-posted">
    <time datetime="2013-08-13T21:45:50+00:00" title="2013-08-13T21:45:50+00:00" class="published">
        <span class="posted-year">2013年</span>
        <span class="posted-month">08月</span>
        <span class="posted-date">Vol.10</span>
      </time>
    </p>
    <div class="entry-thumbnail thumbnail-10"></div>
  </header>
</article>
<article class="post type-post status-publish format-standard hentry category-uncategorized no-author no-comments" id="2013-07">
  <header class="entry-header">
    <h2 class="entry-title"><a rel="bookmark" title="第二屆 Firefox 校園大使正式開跑，Firefox 與你打造精彩每一天！" href="2013-07">第二屆 Firefox 校園大使正式開跑，Firefox 與你打造精彩每一天！</a></h2>

    <p class="entry-posted">
    <time datetime="2013-07-13T21:45:50+00:00" title="2013-07-13T21:45:50+00:00" class="published">
        <span class="posted-year">2013年</span>
        <span class="posted-month">07月</span>
        <span class="posted-date">Vol.09</span>
      </time>
    </p>
    <div class="entry-thumbnail thumbnail-09"></div>
  </header>
</article>
<article class="post type-post status-publish format-standard hentry category-uncategorized no-author no-comments" id="2013-06">
  <header class="entry-header">
    <h2 class="entry-title"><a rel="bookmark" title="慶祝全球首支 Firefox OS 手機上市，Mozilla 邀你一同為網路的平等、自由、開放發聲！" href="2013-06">慶祝全球首支 Firefox OS 手機上市，Mozilla 邀你一同為網路的平等、自由、開放發聲！</a></h2>

    <p class="entry-posted">
    <time datetime="2013-06-13T21:45:50+00:00" title="2013-06-13T21:45:50+00:00" class="published">
        <span class="posted-year">2013年</span>
        <span class="posted-month">06月</span>
        <span class="posted-date">Vol.08</span>
      </time>
    </p>
    <div class="entry-thumbnail thumbnail-08"></div>
  </header>
</article>
<article class="post type-post status-publish format-standard hentry category-uncategorized no-author no-comments" id="2013-05">
  <header class="entry-header">
    <h2 class="entry-title"><a rel="bookmark" title="Mozilla 攜手鴻海合作 Firefox OS 開放平台！校園大使招募倒數中！" href="2013-05">Mozilla 攜手鴻海合作 Firefox OS 開放平台！校園大使招募倒數中！</a></h2>

    <p class="entry-posted">
    <time datetime="2013-05-13T21:45:50+00:00" title="2013-05-13T21:45:50+00:00" class="published">
        <span class="posted-year">2013年</span>
        <span class="posted-month">05月</span>
        <span class="posted-date">Vol.07</span>
      </time>
    </p>
    <div class="entry-thumbnail thumbnail-07"></div>
  </header>
</article>
<article class="post type-post status-publish format-standard hentry category-uncategorized no-author no-comments" id="2013-04">
  <header class="entry-header">
    <h2 class="entry-title"><a rel="bookmark" title="Firefox 慶祝 15 年的美好 Web！校園大使熱烈招募中！" href="2013-04">Firefox 慶祝 15 年的美好 Web！校園大使熱烈招募中！</a></h2>

    <p class="entry-posted">
    <time datetime="2013-04-13T21:45:50+00:00" title="2013-04-13T21:45:50+00:00" class="published">
        <span class="posted-year">2013年</span>
        <span class="posted-month">04月</span>
        <span class="posted-date">Vol.06</span>
      </time>
    </p>
    <div class="entry-thumbnail thumbnail-06"></div>
  </header>
</article>
<article class="post type-post status-publish format-standard hentry category-uncategorized no-author no-comments" id="2013-03">
  <header class="entry-header">
    <h2 class="entry-title"><a rel="bookmark" title="Firefox OS 歡迎二十億上網新用戶！校園大使招募開跑！" href="2013-03">Firefox OS 歡迎二十億上網新用戶！校園大使招募開跑！</a></h2>

    <p class="entry-posted">
    <time datetime="2013-03-13T21:45:50+00:00" title="2013-03-13T21:45:50+00:00" class="published">
        <span class="posted-year">2013年</span>
        <span class="posted-month">03月</span>
        <span class="posted-date">Vol.05</span>
      </time>
    </p>
    <div class="entry-thumbnail thumbnail-05"></div>
  </header>
</article>
<article class="post type-post status-publish format-standard hentry category-uncategorized no-author no-comments" id="2012-11">
  <header class="entry-header">
    <h2 class="entry-title"><a rel="bookmark" title="Firefox 正式整合 Facebook Messenger、HTML5 流言終結" href="2012-11">Firefox 正式整合 Facebook Messenger、HTML5 流言終結</a></h2>

    <p class="entry-posted">
    <time datetime="2012-11-13T21:45:50+00:00" title="2012-11-13T21:45:50+00:00" class="published">
        <span class="posted-year">2012年</span>
        <span class="posted-month">11月</span>
        <span class="posted-date">Vol.04</span>
      </time>
    </p>
    <div class="entry-thumbnail thumbnail-04"></div>
  </header>
</article>
<article class="post type-post status-publish format-standard hentry category-uncategorized no-author no-comments" id="2012-10">
  <header class="entry-header">
    <h2 class="entry-title"><a rel="bookmark" title="校園活動結果揭曉、Firefox整合社交功能" href="2012-10">校園活動結果揭曉、Firefox整合社交功能</a></h2>

    <p class="entry-posted">
    <time datetime="2012-10-13T21:45:50+00:00" title="2012-10-13T21:45:50+00:00" class="published">
        <span class="posted-year">2012年</span>
        <span class="posted-month">10月</span>
        <span class="posted-date">Vol.03</span>
      </time>
    </p>
    <div class="entry-thumbnail thumbnail-03"></div>
  </header>
</article>
<article class="post type-post status-publish format-standard hentry category-uncategorized no-author no-comments" id="2012-09">
  <header class="entry-header">
    <h2 class="entry-title"><a rel="bookmark" title="第2期 Firefox 電子報" href="2012-09">第2期 Firefox 電子報</a></h2>

    <p class="entry-posted">
    <time datetime="2012-09-13T21:45:50+00:00" title="2012-09-13T21:45:50+00:00" class="published">
        <span class="posted-year">2012年</span>
        <span class="posted-month">09月</span>
        <span class="posted-date">Vol.02</span>
      </time>
    </p>
    <div class="entry-thumbnail thumbnail-02"></div>
  </header>
</article>
<article class="post type-post status-publish format-standard hentry category-uncategorized no-author no-comments" id="2012-08">
  <header class="entry-header">
    <h2 class="entry-title"><a rel="bookmark" title="第1期 Firefox 電子報" href="2012-08">第1期 Firefox 電子報</a></h2>

    <p class="entry-posted">
    <time datetime="2012-08-13T21:45:50+00:00" title="2012-08-13T21:45:50+00:00" class="published">
        <span class="posted-year">2012年</span>
        <span class="posted-month">08月</span>
        <span class="posted-date">Vol.01</span>
      </time>
    </p>
    <div class="entry-thumbnail thumbnail-01"></div>
  </header>
</article>
{% endblock %}
