{% extends 'base-resp.html' %}

{% block page_title_prefix %}Firefox 電子報 － {% endblock page_title_prefix %}
{% block page_title %}過去電子報列表{% endblock page_title %}
{% block page_desc %}回味過去發行的電子報。{% endblock %}
{% block site_css %}
  {{ super() }}
  {{ css('newsletter_index') }}
{% endblock %}

{% block content %}
<div id="main-feature">
  <div class="row">
    <hgroup class="stacked">
      <h1><span class="large">Firefox 電子報</span></h1><br>
      <h4>回味過去發行的電子報。</h4>
    </hgroup>
  </div>
</div>

{% for newsletter in newsletters %}
<article class="{{ newsletter.issue }} post type-post status-publish format-standard hentry category-uncategorized no-author no-comments" id="{{ newsletter.issue }}">
  <header class="entry-header">
    <h2 class="entry-title"><a rel="bookmark" title="{{ newsletter.title }}" href="/newsletter/{{ newsletter.issue }}/">{{ newsletter.title }} »</a></h2>

    <p class="entry-posted">
    <time datetime="{{ newsletter.issue }}T21:45:50+00:00" title="{{ newsletter.issue }}T21:45:50+00:00" class="published">
        <span class="posted-year">{{ newsletter.issue[:4] }}年</span>
        <span class="posted-month">{{ newsletter.issue[5:7] }}月{{ newsletter.issue[8:10] }}</span>
        <span class="posted-date">Vol.{{ newsletter.volume }}</span>
      </time>
    </p>
    <img class="entry-thumbnail" src="{{ newsletter['main-thumb'] }}"/>
  </header>
</article>
{% endfor %}
<nav class="nav-paging">
  <ul role="navigation">
    {% if page > 1 %}
    <li class="prev"><a href="/newsletter/page/{{ page - 1 }}">較新的電子報</a></li>
    {% endif %}
    {% if page <= (total - 1)/count %}
    <li class="next"><a href="/newsletter/page/{{ page + 1 }}">較舊的電子報</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock %}
