{% from "macros.html" import email_newsletter_form with context %}
{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
<!doctype html>
{# Note the "windows" class, without javascript platform-specific
     assets default to windows #}
<html class="windows no-js" lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Mozilla — {{_('Get Involved: Volunteer Opportunities at Mozilla')}} — mozilla.org</title>

    <!--[if lte IE 8]>
    <script src="{{ MEDIA_URL }}js/libs/html5shiv.js"></script>
    <![endif]-->

    {{ css('responsive') }}
    <link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico">
    {{ js('site') }}
    <style>
      html, body {
        background: transparent;
      }
      .field.field-format {
        display: none;
      }
      .billboard {
        border: 0;
        {% if request.GET.opaque %}
        background: transparent;
        box-shadow: none;
        {% endif %}
      }
    </style>
    {% include 'includes/google-analytics.html' %}
  </head>

  <body id="contribute" class="embed html-{{ DIR }}">
    <div id="wrapper">
      {{ email_newsletter_form(title=request.GET.title, include_country=False, include_language=False, default_email=request.GET.email, show_archive=(False if request.GET.hide_archive else True)) }}
    </div>
    {{ js('common') }}
    <script>
      {# set target without invalidating already translated strings. #}
      $('.field-privacy a').attr('target', '_top');
      {% if request.newsletter_subscriber %}
        if (parent) {
          parent.postMessage('subscriber={{ request.newsletter_subscriber }}', '*');
        }
      {% endif %}
    </script>
  </body>
</html>
