@import "../sandstone/lib";

#masthead {
  z-index: 1000;
  position: relative;
  margin-top: -2px;
}

#tabzilla-panel {
  z-index: 1000;
}

#outer-wrapper {
  background: #555559 !important;
}

html, body {
  height: 11000px;
}

#body-wrapper {
  position: relative;
}

#body-wrapper, #outer-wrapper {
  overflow: hidden;
  height: 100%;
}

.main-content {
  height: 100%;
  position: relative;
}

#mozilla-2013 {
  margin-top: -44px;
  height: 1000px;
}
#firefox-desktop {
  height: 1000px;
}
#firefox-android {
  height: 1000px;
}
#firefox-os {
  height: 1000px;
}
#privacy {
  height: 1000px;
}
#open-badges {
  height: 1000px;
}
#webmaker {
  height: 1000px;
}
#mdn {
  height: 1000px;
}
#community {
  height: 1000px;
}
#mozilla-future {
  height: 1200px;
}
#subscription {
  height: 100px;
}

.curtain1 {
  position: fixed;
  display: block;
  z-index: 1;
  top: -1%;
  left: 0;
  background-color: #C13831;
  width: 100%;
  height: 2000px;
}

.curtain2 {
  position: fixed;
  display: block;
  z-index: 250;
  background-color: #D7D3C8;
  top: 100%;
  left: 0;
  width: 100%;
  height: 2000px;
}

.behindScene {
  top: 100%;
}

.bubble {
  display: block;
  position: fixed;
  background-repeat: no-repeat;
  background-size: 100% auto;
  color: white;
  h2 {
    display: block;
    color: white;
    font-size: 55px;
    font-weight: bolder;
    opacity: 0;
  }
  h3 {
    display: block;
    color: white;
    font-size: 31px;
    opacity: 0;
  }
  em {
    font-size: 74px;
    font-weight: bolder;
    font-style: normal;
    line-height: 80px;
    display: inline-block;
    letter-spacing: 2px;
    margin-top: 4px;
  }
  em.block {
    display: block;
  }
  p {
    display: inline-block;
    line-height: 38px;
    margin-bottom: 0;
  }
  p.block {
    display: block;
  }
  small {
    display: inline-block;
    font-size: 24px;
    font-style: italic;
    line-height: 28px;
  }
  ul {
    display: block;
    opacity: 0;
  }
  ul li {
    list-style-type: none;
    margin-left: 0;
    font-size: 31px;
  }
  a {
    color: white;
  }
}

#firefox {
  position: fixed;
  background-image: url(/media/img/mocotw/eoy2013/firefox.png);
  z-index: 800;
  width: 371px;
  height: 385px;
  left: 50%;
  top: 50%;
  margin-top: 60px;
}

#android {
  position: absolute;
  background-image: url(/media/img/mocotw/eoy2013/andriod-robot.png);
  width: 234px;
  height: 311px;
  right: 5px;
  top: 200px;
}

#android-stars {
  position: absolute;
  display: block;
  background-image: url(/media/img/mocotw/eoy2013/andriod-star.png);
  width: 216px;
  height: 33px;
  top: 231px;
  left: 102px;
}

#fxos {
  position: fixed;
  background-image: url(/media/img/mocotw/eoy2013/firefoxos-fox.png);
  z-index: 800;
  width: 619px;
  height: 552px;
  right: 50%;
  margin-right: -132px;
  bottom: 100%;
  pointer-events: none;
}

#anti-eye {
  position: absolute;
  background-image: url(/media/img/mocotw/eoy2013/privacy-eye.png);
  width: 189px;
  height: 190px;
  right: 20px;
  top: 35px;
}

#bubble0 {
  .bubble;
  background-image: url(/media/img/mocotw/eoy2013/gray-up.png);
  z-index: 100;
  width: 549px;
  height: 246px;
  margin-left: 250px;
  left: 50%;
  top: 0px;
}

#bubble1 {
  .bubble;
  background-image: url(/media/img/mocotw/eoy2013/firefox-orange.png);
  z-index: 600;
  width: 876px;
  height: 927px;
  right: 50%;
  margin-right: -176px;
  top: 50%;
  margin-top: 40px;
  h2 {
    width: 448px;
    padding-top: 96px;
    margin-left: 300px;
  }
  ul {
    width: 448px;
    margin-left: 200px;
  }
  em {
    color: #FFCC02;
  }
  p.block {
    text-align: right;
  }
  em.asm-js {
    vertical-align: top;
  }
  p.asm-js {
    margin-top: 24px;
    width: 240px;
  }
}

#bubble2 {
  .bubble;
  .behindScene;
  background-image: url(/media/img/mocotw/eoy2013/android-yellow.png);
  z-index: 700;
  width: 651/2px;
  height: 729px;
  left: 50%;
  margin-left: -54px;
  //  top: 300px;
  h2 {
    width: 342px;
    padding-top: 280px;
    margin-left: 102px;
    color: #E36124;
  }
  ul {
    width: 342px;
    margin-left: 102px;
  }
  em {
    color: #4E4F53;
    letter-spacing: -3px;
  }
  p {
    color: #E36124;
  }
  p.block {
    text-align: right;
  }
}

#bubble3 {
  .bubble;
  .behindScene;
  background-image: url(/media/img/mocotw/eoy2013/firefoxos-blue.png);
  z-index: 400;
  width: 1044/2px;
  height: 822px;
  right: 50%;
  margin-right: -500px;
  //  top: 100px;
  h2 {
    width: 320px;
    padding-top: 302px;
    margin-left: 536px;
  }
  ul {
    width: 320px;
    margin-left: 536px;
  }
  em {
    display: inline-block;
    width: 100px;
    text-align: center;
    color: #00408E;
  }
}

#bubble4 {
  .bubble;
  .behindScene;
  background-image: url(/media/img/mocotw/eoy2013/privacy-main.png);
  z-index: 600;
  width: 799/2px;
  height: 798px;
  right: 50%;
  margin-right: -171px;
  //  top: 17px;
  h2 {
    width: 420px;
    padding-top: 72px;
    margin-left: 194px;
  }
  h3 {
    width: 420px;
    margin-left: 194px;
  }
  ul {
    width: 420px;
    margin-left: 194px;
  }
  em {
    display: inline-block;
    text-align: center;
    color: rgb(51, 139, 222);
    letter-spacing: -3px !important;
    &#lightbeam-download {
      font-size: 60px;
    }
    &#trust-worthy {
      font-size: 58px;
    }
  }
}

#bubble4-back {
  .bubble;
  .behindScene;
  z-index: 300;
  background-image: url(/media/img/mocotw/eoy2013/privacy-gray.png);
  background-position: 40px 0;
  width: 358/2px;
  height: 357px;
  right: 50%;
  margin-right: 72px;
  //  top: 0px;
}

#bubble5 {
  .bubble;
  .behindScene;
  background-image: url(/media/img/mocotw/eoy2013/openbadges.png);
  z-index: 500;
  width: 641/2px;
  height: 824px;
  left: 50%;
  margin-left: 41px;
  //  top: -40px;
  text-align: right;
  h2 {
    width: 300px;
    padding-top: 194px;
    margin-left: 160px;
    color: #C13831;
  }
  ul {
    width: 300px;
    margin-left: 160px;
  }
  p {
    color: #C13831;
  }
}

#bubble6 {
  .bubble;
  .behindScene;
  background-image: url(/media/img/mocotw/eoy2013/webmaker.png);
  z-index: 400;
  width: 720/2px;
  height: 1065px;
  left: 50%;
  margin-left: -100px;
  //  top: -150px;
  h2 {
    width: 320px;
    padding-top: 318px;
    margin-left: 186px;
    color: #FFCD03;
  }
  ul {
    width: 320px;
    margin-left: 186px;
  }
  em {
    letter-spacing: -3px;
  }
  p {
    color: #FFCD03;
  }
}

#bubble7 {
  .bubble;
  .behindScene;
  background-image: url(/media/img/mocotw/eoy2013/mdn.png);
  z-index: 300;
  width: 831/2px;
  height: 878px;
  right: 50%;
  margin-right: -81px;
  //  top: 0px;
  h2 {
    width: 400px;
    padding-top: 378px;
    margin-left: 312px;
  }
  ul {
    width: 400px;
    margin-left: 312px;
  }
  em {
    letter-spacing: -4px;
    color: #00549F;
  }
}

#bubble8 {
  .bubble;
  .behindScene;
  background-image: url(/media/img/mocotw/eoy2013/community.png);
  z-index: 200;
  width: 918/2px;
  height: 1082px;
  left: 50%;
  margin-left: -522px;
  //  top: 0px;
  h2 {
    width: 400px;
    padding-top: 368px;
    margin-left: 312px;
    color: #555559;
  }
  ul {
    width: 400px;
    margin-left: 312px;
  }
  p {
    color: #555559;
  }
  em {
    color: #C13831;
    letter-spacing: -2px;
  }
  a {
    color: #555559;
  }
}

#bubble9 {
  .bubble;
  .behindScene;
  background-image: url(/media/img/mocotw/eoy2013/red.png);
  z-index: 100;
  width: 894/2px;
  height: 893px;
  right: 50%;
  margin-right: -318px;
  //  top: 0px;
  ul {
    width: 520px;
    padding-top: 322px;
    margin-left: 140px;
  }
  img {
    margin-top: 64px;
    margin-left: 140px;
  }
}

#bubble10 {
  .bubble;
  .behindScene;
  background-image: url(/media/img/mocotw/eoy2013/gray-down.png);
  z-index: 200;
  width: 657/2px;
  height: 861px;
  left: 50%;
  margin-left: 186px;
  //  top: 0px;
}

#mozilla {
  display: block;
  position: absolute;
  background-image: url(/media/img/mocotw/eoy2013/mozilla.png);
  background-repeat: no-repeat;
  background-position: 0 37px;
  z-index: 200;
  width: 678px;
  height: 454px;
  top: -44px;
  left: -114px;
}

#year-2013 {
  display: block;
  position: absolute;
  z-index: 200;
  background-image: url(/media/img/mocotw/eoy2013/2013.png);
  background-repeat: no-repeat;
  width: 823px;
  height: 789px;
  top: 147px;
  left: 276px;
}

#year-review {
  display: block;
  position: absolute;
  z-index: 200;
  background-image: url(/media/img/mocotw/eoy2013/review.png);
  background-repeat: no-repeat;
  width: 452px;
  height: 151px;
  top: 350px;
  left: 276px;
}

#footer-email-form, #newsletter-form {
  bottom: 0;
  margin-bottom: 222px;
  position: absolute;
  z-index: 1000;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

#side-nav {
  position: fixed;
  z-index: 500;
  top: 50%;
  right: 30px;
  width: 20px;
  margin-top: -154px;
  padding: 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 8px 0;
    }
    li a {
      display: block;
      width: 12px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      opacity: 0.5;
      .transition();
      &:hover, &:focus, &.curr {
        opacity: 1;
      }
    }
    li a.nav {
      height: 12px;
      padding: 0;
      background: #fff;
      .border-radius(7px);
    }
  }

  #share-pane {
    position: relative;
    display: none;
    width: auto;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.5);
    padding: @baseLine / 2;
    margin: -(@baseLine * 2) 0 0 @baseLine;
    .border-radius(@baseLine / 4);
    .share-button {
      visibility: hidden;
      display: none;
    }
    #share-options {
      margin-top: @baseLine / 2;
    }
    ul li {
      margin: 0;
      padding: 0;
    }
    a.close {
      position: absolute;
      top: 0;
      right: @baseLine / 2;
      height: 20px;
      width: 20px;
      font-size: 20px;
      color: #484848;
      span {
        display: block;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
      }
      &:before {
        position: absolute;
        top: 0;
        right: 0;
        content: "\00D7";
        font-weight: bold;
      }
    }

  }
}