{% extends "mocotw/base-resp.html" %}

{% block page_title %}Mozilla 2013 年度回顧{% endblock %}
{% block page_desc %}{% endblock %}

{% block extrahead %}
  {{ css('eoy2013') }}
{% endblock %}

{% block js %}
  {{ js('eoy2013') }}
{% endblock %}

{% block site_header_nav %}
  <nav id="side-nav" role="navigation">
    <ul>
      <li><a class="nav" href="#mozilla-2013" title="Mozilla 2013 年度回顧">Mozilla 2013 年度回顧</a></li>
      <li><a class="nav" href="#firefox-desktop" title="Firefox 桌面版">Firefox 桌面版</a></li>
      <li><a class="nav" href="#firefox-android" title="Firefox for Android">Firefox for Android</a></li>
      <li><a class="nav" href="#firefox-os" title="Firefox OS">Firefox OS</a></li>
      <li><a class="nav" href="#privacy" title="隱私性">隱私性</a></li>
      <li><a class="nav" href="#open-badges" title="Open Badges">Open Badges</a></li>
      <li><a class="nav" href="#webmaker" title="Webmaker">活動獎項</a></li>
      <li><a class="nav" href="#mdn" title="Mozilla 開發者社群網路">Mozilla 開發者社群網路</a></li>
      <li><a class="nav" href="#community" title="社群">社群</a></li>
      <li><a class="nav" href="#mozilla-future" title="Mozilla 打造未來">Mozilla 打造未來</a></li>
      <li><a class="nav" href="#subscribe" title="訂閱電子報">訂閱電子報</a></li>
    </ul>
    <div id="share-pane" aria-expanded="false">
      <a class="share close" href="#share" role="button" title="Close"><span>Close</span></a>
      <div class="socialshare" data-type="small-bubbles"></div>
    </div>
  </nav>
{% endblock %}
{% block site_header_logo %}
{% endblock %}

{% block content %}
  <div class="curtain1">
  </div>
  <div class="curtain2">
  </div>
  <div class="main-content">
    <div id="mozilla">
    </div>
    <div id="year-2013">
    </div>
    <div id="year-review">
    </div>

    <div id="bubble0">
    </div>
    <div id="bubble1">
      <a href="{{ url('firefox.features') }}" target="_blank"><h2>WINDOWS, <br>MAC, LINUX 版 FIREFOX</h2></a>
      <ul>
        <li>
          <em>500,000,000</em>

          <p class="block">Firefox 使用者</p>
        </li>
        <li>
          <em>500,000,000</em>

          <p class="block">附加元件使用中</p>
        </li>
        <li>
          <em>88%</em> 速度提昇*<br>
          <small>* 與 Octane 在 2012 年所測得的 JavaScript 基準相較</small>
        </li>
        <li>
          <em class="asm-js">6 倍</em>

          <p class="asm-js">以ASM.js提昇<br>的遊戲效能 *
            <small>* 由 Box2D 物理引擎<br>基準測得</small>
          </p>
        </li>
      </ul>
    </div>
    <div id="firefox">
    </div>
    <div id="bubble2">
      <div id="android-stars">
      </div>
      <a href="{{ url('firefox.mobile.features') }}" target="_blank"><h2>FIREFOX for ANDROID</h2></a>
      <ul>
        <li>
          <em>4.5 顆星</em>

          <p class="block">Google Play 超高評價</p>
        </li>
        <li>
          <em>50,000,000</em>

          <p class="block">下載次數</p>
        </li>
      </ul>
      <div id="android">
      </div>
    </div>
    <div id="bubble3">
      <a href="{{ url('firefox.os.index') }}" target="_blank"><h2>FIREFOX OS</h2></a>
      <ul>
        <li>
          <em>4</em> 家電信營運商
        </li>
        <li>
          <em>3</em> 款智慧型手機
        </li>
        <li>
          <em>14</em> 個國家內銷售
        </li>
      </ul>
    </div>
    <div id="fxos">
    </div>
    <div id="bubble4">
      <a href="//www.mozilla.org/en-US/privacy/" target="_blank"><h2>隱私性</h2></a>

      <a href="{{ url('firefox.dnt') }}" target="_blank"><h3>
        不要追蹤我 (DNT)：
      </h3></a>
      <ul>
        <li>
          <em>10％</em> 桌面版使用者
        </li>
        <li>
          <em>13％</em> 行動版使用者
        </li>
        <li>
          <em id="lightbeam-download">近 100 萬次下載</em>

          <p>從十月發佈 <a href="{{ url('firefox.dnt') }}" target="_blank">Lightbeam</a> 以來</p>
        </li>
        <li>
          <em id="trust-worthy">#1 最受信賴的<br>網際網路公司 *</em>
          <small>* 根據 Ponemon 公司的調查</small>
        </li>
      </ul>
      <div id="anti-eye">
      </div>
{#      <div id="eye-cover">#}
{#      </div>#}
    </div>
    <div id="bubble4-back">
    </div>
    <div id="bubble5">
      <a href="//openbadges.org/" target="_blank"><h2>OPEN BADGES</h2></a>
      <ul>
        <li>
          <em>235,000</em>

          <p class="block">徽章發出</p>
        </li>
        <li>
          <em>1,900</em>

          <p class="block">使用者</p>
        </li>
      </ul>
    </div>
    <div id="bubble6">
      <a href="//webmaker.org/" target="_blank"><h2>WEBMAKER</h2></a>
      <ul>
        <li>
          <em>1,694 場</em>

          <p class="block">Maker parties</p>
        </li>
        <li>
          <em>55 個</em>

          <p class="block">國家舉辦</p>
        </li>
        <li>
          <em>76,138 個</em>

          <p class="block">專案產出</p>
        </li>
      </ul>
    </div>
    <div id="bubble7">
      <a href="//developer.mozilla.org/" target="_blank"><h2>MOZILLA <br>開發者社群<br>網站 (MDN)</h2></a>
      <ul>
        <li>
          <em>18,000,000</em>

          <p class="block">瀏覽人次</p>
        </li>
        <li>
          <em>70,000,000</em>

          <p class="block">瀏覽頁面</p>
        </li>
      </ul>
    </div>
    <div id="bubble8">
      <a href="/community/contribute/" target="_blank"><h2>MOZILLA 社群</h2></a>
      <ul>
        <li>
          <em>數千名</em>

          <p class="block">貢獻志工</p>
        </li>
        <li>
          <em>7685 名</em>

          <p class="block">全球 Firefox 校園大使</p>
        </li>
        <li>
          <em>370 名</em>

          <p class="block">Mozilla Reps</p>
        </li>
        <li>
          <em>100,000 名</em>

          <p class="block">夥伴計畫成員</p>
        </li>
      </ul>
    </div>
    <div id="bubble9">
      <ul>
        <li>
          全球性非營利組織 Mozilla 致力打造<br> Web 的美好未來。期待 2014 年發生<br>更多創新與亮點。<br><br>
          <a href="http://blog.mozilla.com.tw/posts/4525/mozilla-in-2013" target="_blank">更多精彩的年度回顧，請看本文！</a>
        </li>
      </ul>
      <a href="//{{ MOCO_URL }}" target="_blank"><img src="/media/img/mocotw/eoy2013/mozilla-w.png"/></a>
    </div>
    <div id="bubble10">
    </div>
  </div>
  <div id="mozilla-2013" class="nav-anchor">
  </div>
  <div id="firefox-desktop" class="nav-anchor">
  </div>
  <div id="firefox-android" class="nav-anchor">
  </div>
  <div id="firefox-os" class="nav-anchor">
  </div>
  <div id="privacy" class="nav-anchor">
  </div>
  <div id="open-badges" class="nav-anchor">
  </div>
  <div id="webmaker" class="nav-anchor">
  </div>
  <div id="mdn" class="nav-anchor">
  </div>
  <div id="community" class="nav-anchor">
  </div>
  <div id="mozilla-future" class="nav-anchor">
  </div>
  <div id="subscribe" class="nav-anchor">
  </div>

{% endblock %}