{% extends "mocotw/base-resp.html" %}

{% block page_title %}Mozilla 2013 年度回顧{% endblock %}
{% block page_desc %}{% endblock %}

{% block extrahead %}
  {{ css('eoy2013') }}
{% endblock %}

{% block js %}
  {{ js('eoy2013') }}
{% endblock %}

{% block site_header_nav %}
{% endblock %}
{% block site_header_logo %}
{% endblock %}

{% block content %}
  <div class="curtain1">
  </div>
  <div class="curtain2">
  </div>
  <div class="main-content">
    <div id="mozilla">
    </div>
    <div id="year-2013">
    </div>
    <div id="year-review">
    </div>
    <div id="bubble0">
    </div>
    <div id="bubble1">
      <h2>WINDOWS, <br>MAC, LINUX 版 FIREFOX</h2>
      <ul>
        <li>
          <em>500,000,000</em>

          <p class="block">Firefox 使用者</p>
        </li>
        <li>
          <em>500,000,000</em>

          <p class="block">附加元件使用中</p>
        </li>
        <li>
          <em>88%</em> 速度提昇*<br>
          <small>* 與 Octane 在 2012 年所測得的 JavaScript 基準相較</small>
        </li>
        <li>
          <em class="asm-js">6 倍</em>

          <p class="asm-js">以ASM.js提昇<br>的遊戲效能 *
            <small>* 由 Box2D 物理引擎<br>基準測得</small>
          </p>
        </li>
      </ul>
    </div>
    <div id="firefox">
    </div>
    <div id="bubble2">
      <div id="android-stars">
      </div>
      <h2>FIREFOX for ANDROID</h2>
      <ul>
        <li>
          <em>4.5 顆星</em>

          <p class="block">Google Play 超高評價</p>
        </li>
        <li>
          <em>50,000,000</em>

          <p class="block">下載次數</p>
        </li>
      </ul>
      <div id="android">
      </div>
    </div>
    <div id="bubble3">
      <h2>FIREFOX OS</h2>
      <ul>
        <li>
          <em>4</em> 家電信營運商
        </li>
        <li>
          <em>3</em> 款智慧型手機
        </li>
        <li>
          <em>14</em> 個國家內銷售
        </li>
      </ul>
    </div>
    <div id="fxos">
    </div>
    <div id="bubble4">
      <h2>隱私性</h2>

      <h3>
        不要追蹤我 (DNT)：
      </h3>
      <ul>
        <li>
          <em>10％</em> 桌面版使用者
        </li>
        <li>
          <em>13％</em> 行動版使用者
        </li>
        <li>
          <em id="lightbeam-download">近 100 萬次下載</em>

          <p>從十月發佈 Lightbeam 以來</p>
        </li>
        <li>
          <em id="trust-worthy">#1 最受信賴的<br>網際網路公司 *</em>
          <small>* 根據 Ponemon 公司的調查</small>
        </li>
      </ul>
      <div id="anti-eye">
      </div>
    </div>
    <div id="bubble4-back">
    </div>
    <div id="bubble5">
      <h2>OPEN BADGES</h2>
      <ul>
        <li>
          <em>235,000</em>

          <p class="block">徽章發出</p>
        </li>
        <li>
          <em>1,900</em>

          <p class="block">使用者</p>
        </li>
      </ul>
    </div>
    <div id="bubble6">
      <h2>WEBMAKER</h2>
      <ul>
        <li>
          <em>1,694 場</em>

          <p class="block">Maker parties</p>
        </li>
        <li>
          <em>55 個</em>

          <p class="block">國家舉辦</p>
        </li>
        <li>
          <em>76,138 個</em>

          <p class="block">專案產出</p>
        </li>
      </ul>
    </div>
    <div id="bubble7">
      <h2>MOZILLA <br>開發者社群<br>網站 (MDN)</h2>
      <ul>
        <li>
          <em>18,000,000</em>

          <p class="block">瀏覽人次</p>
        </li>
        <li>
          <em>70,000,000</em>

          <p class="block">瀏覽頁面</p>
        </li>
      </ul>
    </div>
    <div id="bubble8">
      <h2>MOZILLA 社群</h2>
      <ul>
        <li>
          <em>數千名</em>

          <p class="block">貢獻志工</p>
        </li>
        <li>
          <em>7685 名</em>

          <p class="block">全球 Firefox 校園大使</p>
        </li>
        <li>
          <em>370 名</em>

          <p class="block">Mozilla Reps</p>
        </li>
        <li>
          <em>100,000 名</em>

          <p class="block">夥伴計畫成員</p>
        </li>
      </ul>
    </div>
    <div id="bubble9">
      <ul>
        <li>
          全球性非營利組織 Mozilla 致力打造<br> Web 的美好未來。期待 2014 年發生<br>更多創新與亮點。
        </li>
      </ul>
      <img src="/media/img/mocotw/eoy2013/mozilla-w.png"/>
    </div>
    <div id="bubble10">
    </div>
  </div>
{% endblock %}