{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "firefox/desktop/desktop-base.html" %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}Firefox 台灣版，納入所有絕妙功能，為你呈現最好的瀏覽經驗。{% endblock %}
{% block page_image %}{{ settings.CANONICAL_URL }}{{ media('img/mocotw/firefox/desktop/fb-taiwan.png') }}{% endblock %}

{% block site_css %}
  {{ css('firefox_desktop_taiwan') }}
{% endblock %}

{% block body_id %}firefox-desktop-taiwan{% endblock %}

{% block content %}
<main role="main" id="main-content">
  <section id="intro">
    <div class="container">
      <h1>台灣版在地化</h1>
      <p class="lead">
        納入所有絕妙功能，為你呈現最好的瀏覽經驗。
      </p>
    </div>{# /.container #}
  </section>
  <div id="myfx-wrapper">
    <section id="myfx-content">
      <div class="container">
        <h2>My Firefox</h2>

        <ul class="feature-list" role="tablist">
          <li>
            <a class="show-content selected" id="myfx-content-myfx" href="#myfx">
              <div class="emblem">
              </div>
              MyFirefox 全新首頁
            </a>
          </li>
          <li>
            <a class="show-content" id="myfx-content-myshelf" href="#myshelf">
              <div class="emblem">
              </div>
              My Shelf
            </a>
          </li>
          <li class="last">
            <a class="show-content" id="myfx-content-videos" href="#videos">
              <div class="emblem">
              </div>
              狐電視
            </a>
          </li>
        </ul>
      </div>
    </section>
    <div id="myfx-contents-wrapper">
      <section class="content active" id="myfx" role="tabpanel" aria-labelledby="myfx-content-myfx">
        <div class="container">
          <div class="content-copy">
            <h3>MyFirefox 全新首頁</h3>

            <a class="next show-content" href="#myshelf" role="button">{{ _('Next') }}</a>

            <p class="lead">
              特別為台灣設計的最新版 Firefox，內建好用附加元件提供更多新功能，以提升使用者體驗。
              MyFirefox 與國內知名論壇(WIRED, Inside, 癮科技, TechOrange, T客邦, 謀智台客) 合作，
              每日即時提供你最新科技新知，MyFirefox 首頁更兼具入口網站特性，
              搜尋、天氣、地圖及附加元件介紹小工具等一應俱全，讓你一開瀏覽器便能輕鬆掌握大小事！
            </p>

            <a class="more" href="http://myfirefox.com.tw">{{ _('Learn more') }}</a>
          </div>

          <div class="content-visual">
            <img id="myfx-demo" src="{{ media('/img/mocotw/firefox/desktop/pic-1-1.png') }}">
          </div>
        </div>
      </section>
      <section class="content" id="myshelf" role="tabpanel" aria-labelledby="myfx-content-myshelf">
        <div class="container">
          <div class="content-copy">
            <h3>My Shelf</h3>

            <a class="next show-content" href="#videos" role="button">{{ _('Next') }}</a>

            <p class="lead">
              申請 Persona 帳號或 Facebook 登入 MyFirefox ,你就擁有專屬的收藏專頁，
              可以將你喜愛或暫時無法閱讀的文章加入 My Shelf, 方便你日後尋找或閱讀並隨時與朋友分享。
            </p>

            <a class="more" href="http://myfirefox.com.tw/user/myshelf/">立即體驗</a>
          </div>

          <div class="content-visual">
            <img id="myshelf-demo" src="{{ media('/img/mocotw/firefox/desktop/pic-1-2.png') }}">
          </div>
        </div>
      </section>
      <section class="content" id="videos" role="tabpanel" aria-labelledby="myfx-content-videos">
        <div class="container">
          <div class="content-copy">
            <h3>狐電視</h3>

            <a class="next show-content" href="#myfx" role="button">{{ _('Next') }}</a>

            <p class="lead">
              狐電視 Firefox Vision 是 Mozilla 推出的影音平台，
              平台上現有各頻道提供五花八門與 Mozilla, Firefox, Open Web 相關的影片內容，
              同時也提供兼具趣味性和實用性、與日常生活息息相關的各式影片。
              狐電視是 Web 技術人員、一般觀眾、Firefox 愛好者，也是屬於你我的影音頻道。
            </p>

            <a class="more" href="https://myfirefox.com.tw/videos/">{{ _('Learn more') }}</a>
          </div><!--/.content-copy-->

          <div class="content-visual">
            <img id="videos-demo" src="{{ media('/img/mocotw/firefox/desktop/pic-1-3.png') }}">
          </div>
        </div>
      </section>
    </div><!--/#contents-wrapper-->
  </div>
  <div id="util-wrapper">
    <section id="util-content">
      <div class="container">
        <h2>實用功能</h2>

        <ul class="feature-list" role="tablist">
          <li>
            <a class="show-content selected" id="util-content-newtab" href="#newtab">
              <div class="emblem">
              </div>
              新分頁快速入口
            </a>
          </li>
          <li>
            <a class="show-content" id="util-content-screenshot" href="#screenshot">
              <div class="emblem">
              </div>
              網頁截圖
            </a>
          </li>
          <li class="last">
            <a class="show-content" id="util-content-tabconf" href="#tabconf">
              <div class="emblem">
              </div>
              開關分頁設定
            </a>
          </li>
        </ul>
      </div>
    </section>
    <div id="util-contents-wrapper">
      <section class="content active" id="newtab" role="tabpanel" aria-labelledby="util-content-newtab">
        <div class="container">
          <div class="content-copy">
            <h3>新分頁快速入口</h3>

            <a class="next show-content" href="#screenshot" role="button">{{ _('Next') }}</a>

            <p class="lead">
              Firefox 在地化功能提供多樣化分頁選擇。透過新增設的多樣化分頁，使用者可以依照個人使用習慣去設定新分頁開啟的內容，
              包括熱門網站、推薦網站、熱門造訪頁面。使用者也可以自訂個人化的熱門網站，開啟書籤將己加入書籤的連結拖到要放的九宮格內，
              或在推薦網站裡，透過貼心的分類，快速找到並瀏覽你感興趣的網站或論壇。
            </p>

          </div>

          <div class="content-visual">
            <img id="newtab-demo" src="{{ media('/img/mocotw/firefox/desktop/pic-2-1.png') }}">
          </div>
        </div>
      </section>
      <section class="content" id="screenshot" role="tabpanel" aria-labelledby="util-content-screenshot">
        <div class="container">
          <div class="content-copy">
            <h3>網頁截圖</h3>

            <a class="next show-content" href="#tabconf" role="button">{{ _('Next') }}</a>

            <p class="lead">
              使用者可以輕鬆透過網頁截圖的功能， 將完整的網頁轉成一個圖檔存放在桌面上，既方便又容易，相信會是你將網頁記錄成圖檔的絕妙好工具。
            </p>

          </div>

          <div class="content-visual">
            <img id="screenshot-demo" src="{{ media('/img/mocotw/firefox/desktop/pic-2-2.png') }}">
          </div>
        </div>
      </section>
      <section class="content" id="tabconf" role="tabpanel" aria-labelledby="util-content-tabconf">
        <div class="container">
          <div class="content-copy">
            <h3>開關分頁設定</h3>

            <a class="next show-content" href="#newtab" role="button">{{ _('Next') }}</a>

            <p class="lead">
              對分頁做最精準的管理。使用者可以根據自己的使用習慣設定分頁的開啟關閉方式。
              例如：點擊網頁連結或輸入網址時，可自訂想要另開新分頁或是直接在目前的分頁開啟。
              若需要更精準的分頁管理，同樣在瀏覽器右下角，直接點選開關分頁設定，使用最下方的進階設定功能進行設定。
            </p>

          </div><!--/.content-copy-->

          <div class="content-visual">
            <img id="tabconf-demo" src="{{ media('/img/mocotw/firefox/desktop/pic-2-3.png') }}">
          </div>
        </div>
      </section>
    </div><!--/#contents-wrapper-->
  </div>
  <div id="tool-wrapper">
    <section id="tool-content">
      <div class="container">
        <h2>火狐工具集</h2>

        <ul class="feature-list" role="tablist">
          <li>
            <a class="show-content selected" id="tool-content-feedback" href="#feedback">
              <div class="emblem">
              </div>
              意見回饋
            </a>
          </li>
          <li>
            <a class="show-content" id="tool-content-safety" href="#safety">
              <div class="emblem">
              </div>
              網站安全標誌
            </a>
          </li>
          <li>
            <a class="show-content" id="tool-content-theme" href="#theme">
              <div class="emblem">
              </div>
              佈景主題
            </a>
          </li>
          <li class="last">
            <a class="show-content" id="tool-content-font" href="#font">
              <div class="emblem">
              </div>
              字體設定
            </a>
          </li>
        </ul>
      </div>
    </section>
    <div id="tool-contents-wrapper">
      <section class="content active" id="feedback" role="tabpanel" aria-labelledby="tool-content-feedback">
        <div class="container">
          <div class="content-copy">
            <h3>意見回饋</h3>

            <a class="next show-content" href="#safety" role="button">{{ _('Next') }}</a>

            <p class="lead">
              輕鬆點擊即可將使用 Firefox 瀏覽器所遇到的問題或建議，回應讓我們知道，請幫助我們做出更符合使用者需求的 Firefox 瀏覽器。
            </p>

          </div>

          <div class="content-visual">
            <img id="feedback-demo" src="{{ media('/img/mocotw/firefox/desktop/pic-3-1.png') }}">
          </div>
        </div>
      </section>
      <section class="content" id="safety" role="tabpanel" aria-labelledby="tool-content-safety">
        <div class="container">
          <div class="content-copy">
            <h3>網站安全標誌</h3>

            <a class="next show-content" href="#theme" role="button">{{ _('Next') }}</a>

            <p class="lead">
              Firefox 瀏覽器幫你偵測目前所瀏覽的網站是否安全，隨時保護你安全上網
            </p>

          </div>

          <div class="content-visual">
            <img id="safety-demo" src="{{ media('/img/mocotw/firefox/desktop/pic-3-2.png') }}">
          </div>
        </div>
      </section>
      <section class="content" id="theme" role="tabpanel" aria-labelledby="tool-content-theme">
        <div class="container">
          <div class="content-copy">
            <h3>佈景主題</h3>

            <a class="next show-content" href="#font" role="button">{{ _('Next') }}</a>

            <p class="lead">
              你可以在任何時候，按照你的心情、喜好，甚至今天的天氣給你的瀏覽器換衣服！
            </p>

          </div><!--/.content-copy-->

          <div class="content-visual">
            <img id="theme-demo" src="{{ media('/img/mocotw/firefox/desktop/pic-3-3.png') }}">
          </div>
        </div>
      </section>
      <section class="content" id="font" role="tabpanel" aria-labelledby="tool-content-font">
        <div class="container">
          <div class="content-copy">
            <h3>字體設定</h3>

            <a class="next show-content" href="#feedback" role="button">{{ _('Next') }}</a>

            <p class="lead">
              每個人對網頁顯示字體的喜好各有不同，為了可以有更多的個性化設定，這是快速切換的好工具。
            </p>

          </div><!--/.content-copy-->

          <div class="content-visual">
            <img id="font-demo" src="{{ media('/img/mocotw/firefox/desktop/pic-3-4.png') }}">
          </div>
        </div>
      </section>
    </div><!--/#contents-wrapper-->
  </div>
</main>
{% endblock %}

{% block js %}
  {{ js('firefox_desktop_taiwan')}}
{% endblock %}
