{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "/mocotw/base-resp.html" %}

{% from 'macros.html' import facebook_share_url, twitter_share_url %}

{% block page_title %}{{ _('Home of the Mozilla Project') }}{% endblock %}
{% block body_id %}home{% endblock %}
{% block body_class %}sand{% endblock %}

{% block extra_meta %}
  <!-- validates bing webmaster tools -->
  <meta name="msvalidate.01" content="B7B177115A634927D608514DA17B2574"/>
{% endblock %}

{% block extrahead %}
  {{ css('moco_home') }}
{% endblock %}

{% block string_data %}
  data-close='{{ _('Close') }}'
  data-share='{{ _('Share') }}'
{% endblock %}

{% block js %}
  {{ js('moco_home') }}
{% endblock %}

{% block site_header_logo %}{% endblock %}
{% block content %}

  <hgroup id="main-feature" class="huge">
    {# L10n: The Mozilla wordmark appears inline as part of this headline, so it reads as "We are Mozilla". The alt text should not be translated. #}
    <h1>我們是 <img src="{{ media('img/home/title-wordmark.png') }}" alt="Mozilla" height="92" width="348"></h1>

    <h2>Doing good is part of our code</h2>
  </hgroup>

  <section id="firefox-promo" class="billboard">
    <h3>設計與眾不同</h3>
    {# We intentionally don't use php_url() here because all locals
   # are seeing this English page and we want them to hit their locale for
   # firefox pages #}
    <a href="/firefox/" id="firefox-promo-link">
      <img src="{{ media('img/home/firefox.png?2013-06') }}" id="promo-logo" alt="Firefox">
    </a>
    <ul class="features">
      {# L10n: Small piece of text that appears to the side of the download button on the homepage. #}
      <li>
        <small>以非營利<br>為榮</small>
      </li>
      {# L10n: Small piece of text that appears to the side of the download button on the homepage. #}
      <li>
        <small>提供<br>創新</small>
      </li>
      {# L10n: Small piece of text that appears to the side of the download button on the homepage. #}
      <li>
        <small>快速、百變、<br>安全</small>
      </li>
    </ul>

    {{ download_firefox(small=True, icon=False) }}
  </section>

  <section id="home-promo" class="pager pager-with-tabs pager-auto-rotate pager-no-history pager-with-hidden-class">

    <div class="pager-content">

    <div class="pager-page default-page" id="promo-firefox-flicks-vote">
      <a href="{{ url('firefoxflicks.list')  }}" class="container">
        <div class="content">
          <h3>行動閃耀，你來投票</h3>
          <h4>全球微影片競賽，用影片展現行動網路新格局，請為台灣參賽影片投票、集氣、一起追夢！</h4>
          <p class="go">馬上投票</p>
        </div>
      </a>
    </div>

    <div class="pager-page" id="promo-firefoxos-lookahead">
      <a href="{{ url('firefox.os.index') }}" class="container">
        <div class="content">
          <h3>大步向前</h3>
          <h4>Firefox OS 讓你活在當下、盡情分享、共同打造 Web 的美好未來！</h4>
          <p class="go">瞭解更多</p>
        </div>
      </a>
    </div>

    <div class="pager-page" id="promo-firefoxpage">
      <a href={{ url('firefox.download') }}" class="container">
        <div class="content">
          <h3>全新 Firefox</h3>
          <h4>更快速、更流暢、全方位瀏覽器。</h4>
          <p class="go">馬上下載</p>
        </div>
        {{ download_firefox(icon=False, small=True, force_full_installer=False, force_direct=True) }}
      </a>
    </div>

    <div class="pager-page" id="promo-firefoxmobile">
      <a href="{{ url('firefox.mobile.features') }}" class="container">
        <div class="content">
          {# L10n: Firefox for Android tagline. #}
          <h3>全新 Firefox 行動版</h3>
          <h4>智慧型瀏覽器，繁體中文全面支援。</h4>
          <p class="go">馬上下載</p>
        </div>
        {{ download_firefox(icon=False, mobile=True, small=True) }}
      </a>
    </div>


    </div>

    <ul class="pager-tabs">
      <li><a tabindex="-1" aria-hidden="true" href="#p1"></a></li>
      <li><a tabindex="-1" aria-hidden="true" href="#p2"></a></li>
      <li><a tabindex="-1" aria-hidden="true" href="#p3"></a></li>
      <li><a tabindex="-1" aria-hidden="true" href="#p4"></a></li>
    </ul>

  </section>

  <div id="main-content">

    {% l10n home, 20130225 %}
      <section id="home-news">
        <h3>{{ _('In the news') }}</h3>
        <ul>
          <li>
            <h4>
              <a href="https://blog.mozilla.org/blog/2013/07/11/deutsche-telekom-announces-european-launch-of-firefox-os-devices/">{{ _('Deutsche Telekom Announces European Launch of Firefox OS Devices') }}</a>
            </h4>
          </li>
          <li>
            <h4>
              <a href="https://blog.mozilla.org/blog/2013/07/01/mozilla-and-partners-prepare-to-launch-first-firefox-os-smartphones">{{ _('Mozilla and partners prepare to launch first Firefox OS smartsphones') }}</a>
            </h4>
          </li>
          <li>
            <h4>
              <a href="https://blog.mozilla.org/blog/2013/06/11/stopwatching-us-mozilla-launches-massive-campaign-on-digital-surveillance/">{{ _('Mozilla takes a stand with StopWatching.Us campaign') }}</a>
            </h4>
          </li>
        </ul>
        <a href="https://blog.mozilla.org/" id="all-news">{{ _('See all news »') }}</a>
      </section>
    {% endl10n %}

    <section id="home-promos">
      <h3>{{ _('In the know') }}</h3>
      <ul>
        <li>
          <h4><a href="{{ url('firefox.os.index') }}">{{ _('Firefox OS') }}</a></h4>

          <p>{{ _('See what’s next for the mobile Web.') }}</p>
        </li>
        <li>
          <h4><a href="https://affiliates.mozilla.org/">{{ _('Become an Affiliate') }}</a></h4>

          <p>{{ _('Help us share Firefox with the world!') }}</p>
        </li>
        <li>
          <h4><a href="{{ url('marketplace.marketplace') }}">{{ _('Firefox Marketplace') }}</a></h4>

          <p>{{ _('Launch your app on the web') }}</p>
        </li>
      </ul>
    </section>

    <section id="home-about">
      <h3>{{ _('Be a part of Mozilla') }}</h3>
      <ul>
        <li id="about-volunteer"><a href="{{ url('mozorg.contribute') }}">
          <h4>{{ _('Volunteer with us') }}</h4>

          <p>{{ _('Get involved in any area of the Mozilla Project.') }}</p>
        </a></li>
        <li id="about-work"><a href="http://careers.mozilla.org/">
          <h4>{{ _('Work with us') }}</h4>

          <p>{{ _('Apply today and love the Web for a living.') }}</p>
        </a></li>
        <li id="about-find"><a href="{{ php_url('/about/mozilla-spaces/') }}">
          <h4>{{ _('Find us') }}</h4>

          <p>{{ _('Contact one of our global Mozilla Spaces.') }}</p>
        </a></li>
        <li id="about-join"><a href="https://sendto.mozilla.org/Join-Moz-Org">
          <h4>{{ _('Donate') }}</h4>

          <p>{{ _('Show your support and help us build a better Web.') }}</p>
        </a></li>
        <li id="about-learn"><a href="{{ url('mozorg.about') }}">
          <h4>{{ _('Learn more') }}</h4>

          <p>{{ _('Get to know Mozilla a little bit better.') }}</p>
        </a></li>
      </ul>
    </section>

  </div>

{% endblock %}
