{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}
{% from "mocotw/mosaic-grid.html" import mosaic with context %}

{% extends "mocotw/base-resp.html" %}

{% block page_title %}訊息中心{% endblock %}
{% block page_desc %}提供最新 Mozilla 中文部落格文章、內容包含產品訊息、開發文件、專案進度、新聞稿與活動資訊，讓你隨時掌握 Mozilla 第一手消息，與 Mozilla 即時連線無時差！{% endblock %}
{% block body_id %}about{% endblock %}
{% block body_class %}sand{% endblock %}

{% block extrahead %}
  {{ css('news') }}
{% endblock %}

{% block js %}
  {{ js('mosaic') }}
{% endblock %}

{% block mosaic %}
  {{ mosaic('mocotw/news') }}
{% endblock %}

{% block content %}

<article id="main-content">

  <h1 class="title-banner">訊息中心</h1>
  
  <p class="intro">提供最新 Mozilla 中文部落格文章、內容包含產品訊息、開發文件、專案進度、新聞稿與活動資訊，讓你隨時掌握 Mozilla 第一手消息，與 Mozilla 即時連線無時差！</p>
  
  <ul class="links">
    <li>
      <h4><a href="http://blog.mozilla.com.tw/main/">部落格</a></h4>
      <p>最新部落格文章，提供各式 Mozilla 產品與專案相關訊息</p>
    </li>    
    <li>
      <h4><a href="http://blog.mozilla.com.tw/press/">新聞室</a></h4>
      <p>Mozilla、Firefox、Firefox OS 產品與專案新聞稿</p>
    </li>
    <li>
      <h4><a href="http://blog.mozilla.com.tw/events/">活動消息</a></h4>
      <p>各式活動訊息預告或花絮報導，立即瀏覽參與 Mozilla 活動</p>
    </li>
  </ul>

  <ul class="links">
    <li>
      <h4><a href="http://tech.mozilla.com.tw/">謀智台客</a></h4>
      <p>Firefox OS 研發工程師團隊共筆資料庫，提供各式 Firefox OS 開發心得與甘苦談</p>
    </li>
    <li>
      <h4><a href="https://hacks.mozilla.org/">Mozilla Hacks</a></h4>
      <p>Mozilla 的全球開發者部落格平台，在此可找到與 Open Web 技術開發相關的文章與展示分享</p>
    </li>
    <li>
      <h4><a href="https://developer.mozilla.org/zh-TW/">開發者網路 (MDN)</a></h4>
      <p>MDN 開發者網路擁有最豐富的 Mozilla 專案開發文件，深度瞭解 Firefox OS Apps、Web 技術</p>
    </li>
  </ul>

</article>

{% endblock %}
