{% extends "base-resp.html" %}

{% add_lang_files "mozorg/contribute" %}

{% block page_title_prefix %}Mozilla 社群 － {% endblock %}
{% block page_title %}參與社群{% endblock %}
{% block page_desc %}Mozilla 是一個全球化的非營利組織，我們的願景是打造一個更開放自由的網路未來，提升人們的網路經驗，並支持開放源碼的資源共享精神。參與我們，打造更美好的網路未來！{% endblock %}

{% block extrahead %}
  {{ css('community-index') }}
{% endblock %}


{% block content %}
<main role="main" id="main-content">
  <section id="contribute">
    <div class="intro">
      <div class="container">
        <h1>參與我們，打造更美好的網路未來</h1>
        <p>Mozilla 是全球化的非營利組織，我們的願景是打造一個更開放、自由的網路未來，提升人們的網路經驗，並支持開放源碼的資源共享精神。歡迎加入我們的行列！</p>
      </div>
    </div>
    <div class="join-buttons">
      <span class="separator">&nbsp;</span>
      <a class="button fsa" href="{{ url('mocotw.community.student.index') }}"><h2>校園大使</h2></a>
      <span class="separator">&nbsp;</span>
      <a class="button webmaker" href="//webmaker.org"><h2>Webmaker</h2></a>
      <span class="separator">&nbsp;</span>
      <a class="button sumo" href="//support.mozilla.org"><h2>Mozilla Support<br>(SUMO)</h2></a>
      <span class="separator">&nbsp;</span>
    </div>
    <div id="global-projects" class="container">
      <p>我們有各式各樣的專案，讓全球社群可依個人興趣作出不同的貢獻。你不必是程式設計師，也不一定要很懂 C++ 語言，只要你認同 Firefox 的開放源碼理念，都可以成為 Mozilla 社群的一份子。</p>
      <a class="button arrow hide" href="{{ url('mozorg.contribute') }}">查看全球社群專案<span>&nbsp;</span></a>
    </div>
  </section>

  <section id="community">
    <div class="container">
      <h2>Mozilla 社群團體</h2>
      <p>Mozilla 由來自世界各地的軟體開發工程師、測試人員、 廣告創意人員共同組成，支持網路資源的完全開放共享，是大家一致的目標。Mozilla 相信只有開放的標準才能確保任何人、在任何地方都能感受到最安全、最流暢、多元化的網路經驗。</p>
      <div class="cells">
        <a class="moztw cell" href="#moztw"><span>Mozilla 台灣社群 (MozTW)</span></a>
        <a class="mozlinks cell" href="#mozlinks"><span>Mozilla Links<br>正體中文版</span></a>
        <a class="mozillians cell" href="#mozillians"><span>Mozillians 通訊錄</span></a>
        <a class="mozhk cell" href="#mozillahk"><span>Mozilla 香港社群 (MozillaHK)</span></a>
      </div>
    </div>
    <div class="side-cells">
        <a class="moztw cell" href="http://moztw.org" target="_blank"><span>Mozilla<br>台灣社群<br>(MozTW)</span></a>
        <a class="mozlinks cell" href="//mozlinks-zh.blogspot.com/" target="_blank"><span>Mozilla Links<br>正體中文版</span></a>
        <a class="mozillians cell" href="//mozillians.org/" target="_blank"><span>Mozillians<br>通訊錄</span></a>
        <a class="mozhk cell" href="http://mozillahk.org/" target="_blank"><span>Mozilla<br>香港社群<br>(MozillaHK)</span></a>
        <a class="back" href="javascript:void(0)"></a>
    </div>
    <div class="intros">
      <a name="moztw" class="intro moztw" href="http://moztw.org" target="_blank">
        <img src="/media/img/mocotw/community/community-moztw.png"/>
        <h3>Mozilla 台灣社群(MozTW)</h3>
        <p>MozTW 成立於 2004 年，負責維護 Mozilla 軟體與網站的中文在地化，並持續舉辦推廣活動及講座，努力傳播 Mozilla 開放網路、社群驅動的理念，且積極參與全球社群。我們是一群愛好網路的人，想要讓網路變得更好，不論你的專長是什麼，都歡迎加入一同前進！</p>
        <span class="more">前往 MozTW 網站</span>
      </a>
      <a name="mozlinks" class="intro mozlinks" href="//mozlinks-zh.blogspot.com/" target="_blank">
        <img src="/media/img/mocotw/community/community-links.png"/>
        <h3>Mozilla Links 正體中文版</h3>
        <p>Mozilla Links 是清新歡樂的 Mozilla 新聞網，由翻譯機動隊全體志願者共同營運，每週精選全球社群、Mozilla 相關部落格及協力作者專文，將 Mozilla 專案的第一手資訊，編譯後再傳播給所有中文摩茲客及火狐迷。歡迎加入我們的行列或投稿！</p>
        <span class="more">前往 Moz Links 網站</span>
      </a>
      <a name="mozillians" class="intro mozillians" href="//mozillians.org/" target="_blank">
        <img src="/media/img/mocotw/community/community-mozillian.png"/>
        <h3>Mozillians 通訊錄</h3>
        <p>你是 Mozillian，想要找些夥伴在高雄辦聚會，或者需要一個專業的 XPCOM 駭客幫忙審核某個 patch？Mozillians 通訊錄就是個可以讓你尋找志同道合夥伴的地方，歡迎加入！別忘了設定你的國家、地區等資料喔！</p>
        <span class="more">前往 Mozillians 網站</span>
      </a>
      <a name="mozillahk" class="intro mozhk" href="http://mozillahk.org/" target="_blank">
        <img src="/media/img/mocotw/community/community-hk.png"/>
        <h3>Mozilla 香港社群 (MozillaHK)</h3>
        <p>MozillaHK前身為香港 Firefox 的用家社群， 早於 2004 年舉行第一次活動慶祝 Firefox 1.0 正式發行。從 2013 年起，建立網站和社交網絡，並不定期舉辦推廣活動及講座，努力宣揚 Mozilla 開放網路、社群驅動的理念，且積極參與全球社群。我們是一群喜愛互聯網的人，希望互聯網變得更好，不論你的專長是什麼，都歡迎加入一同前進！</p>
        <span class="more">前往 Mozilla HK 網站</span>
      </a>
    </div>
  </section>

  <section id="love">
    <div class="container">
      <h2>就是喜歡 Firefox，就是想時刻和它在一起！</h2>
      <p>我們懂你喜歡 Firefox、想時刻與之為伍的心情，因此精心設計了各種 Firefox 設計品供你下載，讓它們陪伴並豐富你的每一天。
        也因為你的下載使用，Firefox 的影響力將更加無遠弗屆！現在就看看我們提供的 Firefox 風格設計品！</p>
      <a class="button arrow hide" href="//{{ FFCLUB_URL }}">Firefox 設計品<span>&nbsp;</span></a>
    </div>
    <div class="gallery cycle-slideshow" data-cycle-fx="carousel" data-cycle-timeout="1200" data-cycle-speed="1000"
         data-cycle-carousel-fluid="true" data-cycle-next="#gallery-next" data-cycle-prev="#gallery-prev"
         data-swipe="true">
      <img src="/media/img/mocotw/community/design/design-1.png"/>
      <img src="/media/img/mocotw/community/design/design-2.png"/>
      <img src="/media/img/mocotw/community/design/design-3.png"/>
      <img src="/media/img/mocotw/community/design/design-4.png"/>
      <img src="/media/img/mocotw/community/design/design-5.png"/>
      <img src="/media/img/mocotw/community/design/design-6.png"/>
      <img src="/media/img/mocotw/community/design/design-7.png"/>
      <img src="/media/img/mocotw/community/design/design-8.png"/>
      <img src="/media/img/mocotw/community/design/design-9.png"/>
      <a id="gallery-prev" href="javascript:void(0)"></a>
      <a id="gallery-next" href="javascript:void(0)"></a>
    </div>
  </section>

  <section id="join">
      <h2>Are YOU ready to join？</h2>
      {% include "mozorg/contribute-form.html" %}
      {{ email_newsletter_form(include_country=False, include_language=False) }}
  </section>
</main>
{% endblock %}

{% block email_form %}{% endblock %}

{% block js %}
  {{ js('community-index')}}
{% endblock %}
