<div role="navigation" id="nav-main">
  <nav>
    <ul role="menubar">
      <li role="menuitem" class="topMenu first current">
        <a title="下載 Mozilla Firefox 中文版" href="/firefox/" tabindex="0">Firefox</a>
        <ul>
          <li>
            <a title="下載 Mozilla Firefox 中文桌面版" href="/firefox/features/" tabindex="-1">Firefox 桌面版</a>
          </li>
          <li>
            <a title="Mozilla Firefox 行動版" href="/firefox/mobile/" tabindex="-1">Firefox 行動版</a>
          </li>
          <li>
            <a title="Mozilla Firefox 未來發行版" href="/firefox/channel/" tabindex="-1">Firefox 未來發行版</a>
          </li>
          <li>
            <a title="Firefox 行動作業系統" href="/firefoxos/" tabindex="-1">Firefox OS</a>
          </li>
          <li>
            <a title="Firefox 附加元件" href="https://addons.mozilla.org/zh-TW/firefox/" tabindex="-1">附加元件</a>
          </li>
          <li>
            <a title="Firefox 說明文件、支援中心" href="https://support.mozilla.com/zh-TW/home" tabindex="-1">支援中心</a>
          </li>
        </ul>
      </li>
      <li role="menuitem" class="topMenu">
        <a title="社群參與" href="/community/" tabindex="0">社群參與</a>
        <ul>
          <li>
            <a title="Firefox 活力軍" href="http://firefox.club.tw/" tabindex="-1">Firefox 活力軍</a>
          </li>
          <li>
            <a title="校園大使" href="/community/student/" tabindex="-1">校園大使</a>
          </li>
          <li>
            <a title="社群專案" href="/community/contribute/" tabindex="-1">社群專案</a>
          </li>
        </ul>
      </li>
      <li role="menuitem" class="topMenu">
        <a title="訊息中心" href="/news/" tabindex="0">訊息中心</a>
        <ul>
          <li>
            <a title="部落格" href="http://blog.mozilla.com.tw/main" tabindex="-1">部落格</a>
          </li>
          <li>
            <a title="Mozilla 新聞" href="/news/press/" tabindex="-1">Mozilla 新聞</a>
          </li>
          <li>
            <a title="活動訊息" href="http://blog.mozilla.com.tw/events-list" tabindex="-1">活動訊息</a>
          </li>
          <li>
            <a title="謀智台客" href="http://tech.mozilla.com.tw/" tabindex="-1">謀智台客</a>
          </li>
        </ul>
      </li>
      <li role="menuitem" class="topMenu last">
        <a title="關於我們" href="/about/" tabindex="0">關於我們</a>
        <ul>
          <li>
            <a title="Mozilla 宣言" href="/about/manifesto/" tabindex="-1">Mozilla 宣言</a>
          </li>
          <li>
            <a title="Mozilla Space" href="/about/space/" tabindex="-1">Mozilla Space</a>
          </li>
          <li>
            <a title="工作機會" href="/about/careers/" tabindex="-1">工作機會</a>
          </li>
          <li>
            <a title="聯絡資訊" href="/about/contact/" tabindex="-1">聯絡資訊</a>
          </li>
          <li>
            <a title="Mozilla (US)" href="//mozilla.org/en-US/" tabindex="-1">Mozilla (US)</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="close"></div>
</div>