{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "mocotw/community/student/base.html" %}

{% block page_title %}{{ _('The Mozilla Manifesto') }}{% endblock %}
{% block page_desc %}Mozilla 專案為全球性社群，成員們信奉開放、創新及機會是網際網路健全發展的關鍵因素。我們自 1998 年起為確保網際網路的發展裨益全民而生，以創作 Mozilla Firefox
  網頁瀏覽器聞名。{% endblock %}
{% block body_id %}about-manifesto{% endblock %}

{% block article %}
  <h2>Firefox 校園大使<br>推廣任務及證書</h2>
  報名加入校園大使專案後，接下來該做什麼呢？Mozilla 早已針對校園大使和 Firefox
  社團，設計了一系列有趣又簡單的活動，讓你能迅速動手執行專案任務。如果你想認識世界各地的朋友，並和全世界最酷的社群一起累積工作經驗，這就是最好的機會！立刻開始吧！
  <ol>
    <li><b>介紹 Mozilla</b><br>
      在成為校園大使之後，第一步就是單人任務：讓自己熟悉 Mozilla 與社群。
      <ul>
        <li><a href="http://www.mozilla.org/zh-TW/mission/" target="_blank">Mozilla 的故事</a> [影片]</li>
        <li><a href="https://www.youtube.com/watch?v=fUmhf6JezoI" target="_blank">Mozilla 宣言</a> [影片]</li>
        <li><a href="{{ url('mozorg.contribute') }}" target="_blank">志工所能貢獻的專案</a></li>
        <li><a href="{{ url('mozorg.products') }}" target="_blank">Mozilla 的產品</a></li>
        <li><a href="https://webmaker.org/" target="_blank">Webmaker</a> 全球性社群，將創造、傳授、重新整合大家的 Web</li>
        <li><a href="https://support.mozilla.org/zh-TW/get-involved" target="_blank">Mozilla Support (SuMo)</a> 是由熱心的志工與員工所打造，為全世界的使用者提供技術支援</li>
      </ul>
    </li>
    <li><b>對外分享你最愛的 Mozilla 專案/產品</b>
      <ul>
        <li>透過 <a href="https://thimble.webmaker.org/" target="_blank">Thimble</a> 或 <a href="https://popcorn.webmaker.org/editor/" target="_blank">Popcorn</a>，對外分享你最感興趣的 Mozilla 專案</li>
        <li>可貢獻你感興趣的任何主題：
          <ul>
            <li>範例：可貢獻 Firefox OS、Firefox for Android 小秘訣、最夯的附加元件 (Add-on) 與其提升瀏覽經驗的方法、Mozilla 的使命、Mozilla 社群、校園大使方案等等
            </li>
          </ul>
        </li>
        <li>活動主旨就是要動手實作，讓自己更熟悉 Mozilla 專案或產品</li>
      </ul>
    </li>
    <li><b>向外交流</b>
      <ul>
        <li>Firefox 校園大使的社交管道
          <ul>
            <li>到校園大使粉絲頁按讚</li>
            <li>用自己的帳號分享上述頁面的更新訊息</li>
          </ul>
        </li>
        <li>與全球的校園大使交流
          <ul>
            <li>校園大使可透過 <a href="https://wiki.mozilla.org/IRC#Getting_Started" target="_blank">IRC (internet relay chat)</a> 與 <a href="https://www.mozilla.org/about/forums/" target="_blank">Mozilla 討論區</a>，互相提問、分享概念，
              並與更多 Mozillians 互動。<a href="https://client01.chat.mibbit.com/" target="_blank">立刻到 IRC 上註冊</a>並加入 #firefoxstudents 頻道
            </li>
            <li>隨時追蹤其他校園大使的狀態 <a href="https://twitter.com/mozstudents" target="_blank">Twitter</a></li>
            <li>加入校園大使的 <a href="https://plus.google.com/u/0/107726964966247240749/posts" target="_blank">Google+ 頁面</a></li>
          </ul>
        </li>
        <li>參加至少一項線上會議
          <ul>
            <li><a href="https://wiki.mozilla.org/Webmakers/Community_Calls" target="_blank">Webmaker calls</a></li>
            <li><a href="https://wiki.mozilla.org/Support/Weekly_Meetings" target="_blank">Support Mozilla(SuMo) Calls</a></li>
            <li><a href="https://air.mozilla.org/" target="_blank">Air Mozilla</a></li>
            <li><a href="https://wiki.mozilla.org/QA/Execution/Web_Testing/Meetings" target="_blank">Mozilla QA Web Testing calls</a></li>
          </ul>
        </li>
        <li>聯絡自己所在地的社群！
          <ul>
            <li>Mozilla 的各國<a href="http://www.mozilla.org/en-US/contact/communities/" target="_blank">社群地圖</a></li>
            <li>加入所在地社群的<a href="http://www.mozilla.org/en-US/contact/communities/" target="_blank">郵件群組</a></li>
            <li>透過所在地社群的郵件群組，或其他社交頻道上介紹自己</li>
            <li>加入所在地的社交頻道</li>
            <li>向你附近的 Mozillian 打招呼</li>
          </ul>
        </li>
      </ul>
    </li>
    <li><b>辦活動！</b>
      <ul>
        <li>
          <a href="https://wiki.mozilla.org/ReMo/SOPs/Attending_an_Event" target="_blank">參加</a>非 Mozilla 舉辦的活動，趁機對外介紹 Mozilla
          <ul><li>範例：校園派對、國際軟體自由日、任何 FOSS 活動、FOSDEM 等等</li></ul>
        </li>
        <li><a href="https://wiki.mozilla.org/ReMo/SOPs/Event_hosting" target="_blank">自行舉辦</a> Mozilla 活動</li>
        <li>在非 Mozilla 舉辦的活動上擺個 <a href="https://wiki.mozilla.org/ReMo/SOPs/Booth">Mozilla 攤位</a></li>
        <li>舉辦 <a href="https://webmaker.org/zh-TW/events" target="_blank">Webmaker 活動</a>。教導他人 Web 運作的方式並協助帶領出新一代的 Webmaker。了解 Mozilla Webmaker 專案的本質與目標，或在自己的社群中傳授 Web 相關知識</li>
        <li>向別人介紹 Firefox 並說明使用的理由 (分享 Firefox 的優點)
          <ul>
            <li>本主題亦可簡單介紹 Free and open-source software (FOSS) 或開放源碼的理念</li>
            <li>如果校園內已經有 FOSS 或開放源碼的社團，則校園大使或 Firefox 社團亦可支援技術方面的演講</li>
            <li>在演講結束之前，你可加演「歡迎加入 Mozilla」的簡介，鼓勵大家一同報名校園大使</li>
          </ul>
        </li>
        <li>在自己的學校內舉辦演講，提升 Mozilla 的知名度/能見度。
          <ul>
            <li>步驟 1：簡介 <a href="https://docs.google.com/presentation/d/1YGj_nQGGYF0Ze_ngklhJm9VQ2tU5rjAbTNxVT9QJT7g/" target="_blank">Mozilla 使命、專案、社群</a></li>
            <li>步驟 2：根據所需時間、現有資源、聽眾類型，可展示酷炫的 Mozilla 專案</li>
            <li>步驟 3：簡介 Firefox 校園大使專案、分享自己規劃中的 Firefox 社團與活動、說明自己身為校園大使的優勢</li>
            <li>步驟 4：做出正面、激勵人心的結論，分享重要連結以利大家能隨時相互聯絡或加入校園大使專案</li>
            <li>步驟 5：提問時間。鼓勵大家踴躍提出 Mozilla 或 Firefox OS 的相關問題，並設法回答。如果你有無法回答的問題，可先將問題記下並轉給校園大使團隊，以後再聯絡提問人並給予答案</li>
            <li>步驟 6：演講結束之後，你可協助有興趣的人報名校園大使專案，並自行設計表格，讓別人加入你的 Firefox 社團</li>
          </ul>
          你不需自己舉辦多盛大的活動，可規劃大約五到十人的團體活動即可。用力邀請你的朋友、同學，甚至附近學校的學生。
        </li>
      </ul>
    </li>
    <li><b>加入或創辦 Firefox Club！</b>
      <ul>
        <li>若你注意到自己的朋友/同學展現出興趣，或遇見有類似企圖心的人，你就可以創辦 <a href="https://wiki.mozilla.org/Category:FirefoxClubs" target="_blank">Firefox Club</a> 並舉行下一階段的活動</li>
        <li>檢查 <a href="https://wiki.mozilla.org/Category:FirefoxClubs" target="_blank">Firefox Club 名錄</a>，看看自己的學校是不是已經有 Firefox Club 了。如果還沒有，就立刻創辦社團吧</li>
      </ul>
    </li>
  </ol>

  <p>除了上述熱身任務，Mozilla 每月也會訂定團體任務，大使們將依照自己被分配的組別與組員一同完成當月任務。</p>

  <p>申請證書：於任期最後一個月由大使自行提出申請，需含申請書及任期成果展示(內容自訂)。待台灣方審核確認符合資格後，協助向美國提出證書申請。</p>
{% endblock %}
