{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "mocotw/community/student/base.html" %}

{% block page_title %}{{ _('The Mozilla Manifesto') }}{% endblock %}
{% block page_desc %}Mozilla 專案為全球性社群，成員們信奉開放、創新及機會是網際網路健全發展的關鍵因素。我們自 1998 年起為確保網際網路的發展裨益全民而生，以創作 Mozilla Firefox
  網頁瀏覽器聞名。{% endblock %}
{% block body_id %}about-manifesto{% endblock %}

{% block article %}
  <h2>Firefox 校園大使<br/>酷炫工具包</h2>
  <p>閃亮亮的 Firefox 校園大使必備好用酷炫工具包！「校園大使工具包」的產出，目的讓校園大使在校園中，有更多 Firefox 相關資源和素材可以使用和推廣，工具包內含數款可供下載的在地化檔案，內容將隨時更新。</p>
  <h3>認識 Mozilla Firefox 故事與產品</h3>
  <p>身為校園大使，你務必要熟悉關於 Mozilla 和 Firefox 的故事和歷史沿革。同時你也必須熟悉 Firefox 的產品，瞭解它有什麼樣的功能與優點。</p>
  <ul class="main-list">
    <li>
      <h4>關於 Mozilla 的故事</h4>
      <ul>
        <li><a href="http://mozilla.com.tw/about/manifesto/" target="_blank"> Mozilla 宣言</a></li>
        <li><a href="/media/img/mocotw/package/Document/Mozilla_organization/MozillaHistory.pdf" target="_blank">Mozilla 歷史沿革</a>
        </li>
        <li><a href="https://blog.mozilla.org/press/ataglance/" target="_blank"> 你所不知道的 Mozilla</a></li>
      </ul>
    </li>
    <li>
      <h4>產品介紹</h4>
      <ul>
        <li><a href="http://mozilla.com.tw/firefox/features/" target="_blank">Firefox 桌機版</a></li>
        <li><a href="http://mozilla.com.tw/firefox/mobile/" target="_blank">Firefox for Android</a></li>
        <li><a href="http://mozilla.com.tw/firefox/os/" target="_blank">Firefox OS</a></li>
      </ul>
    </li>
  </ul>
  <h3>Firefox 設計圖素</h3>
  <p>當你進行推廣時，一份設計精美的海報、DM 或是可用於個人網站的圖，是最能吸引人目光的。以下統合 Firefox 的相關圖素。當你因活動需求需要實體製作物，或是設計網站需要圖素時，請參考下列資料。</p>
  <ul class="main-list">
    <li>
      <h4>Firefox 品牌告示</h4>
      可應用在你的臉書作為封面圖片 (打開後請按右鍵下載圖片)
      <ul>
        <li><a href="/media/img/mocotw/package/Graphic/Slogan/FB_Firefox_band.jpg" target="_blank">The browser with soul</a></li>
        <li><a href="/media/img/mocotw/package/Graphic/Slogan/Empowerment_to_the_people_FB.jpg" target="_blank">Empowerment to the
          people</a></li>
        <li><a href="/media/img/mocotw/package/Graphic/Slogan/Wear_your_heart_on_your_screen_FB.jpg" target="_blank">Wear your
          heart on your screen</a></li>
      </ul>
    </li>
    <li>
      <h4>Firefox 製作物原始檔</h4>
      歡迎校園大使自行下載製作
      <ul>
        <li><a href="/media/img/mocotw/package/Graphic/Logo/Student_reps_logo.png" target="_blank">Firefox 校園大使徽章</a></li>
        <li><a href="/media/img/mocotw/package/Graphic/Poster/rapidreleasecycle_A_8.5x11-01.jpg"
               target="_blank">Firefox 產品週期圖</a></li>
        <li><a href="/media/img/mocotw/package/Graphic/Poster/FFx-Mobile_TestDrivers_Bugs_CMYK.pdf" target="_blank">Firefox KEEP
          BUGS ON THE RUN 海報</a></li>
        <li><a href="/media/img/mocotw/package/Graphic/Poster/FFx-Mobile_TestDrivers_Heroes_CMYK.pdf" target="_blank">Firefox
          HEROS WANTED 海報</a></li>
      </ul>
    </li>
    <li>
      <h4>Firefox 產品截圖</h4>
      歡迎校園大使在寫部落格分享使用心得時採用這幾張截圖
      <ul>
        <li><a href="/media/img/mocotw/package/Graphic/Product_image/Firefox_desktop.zip" target="_blank">Firefox 桌機版</a></li>
        <li><a href="/media/img/mocotw/package/Graphic/Product_image/Firefox_for_Android.zip" target="_blank">Firefox for
          Android </a></li>
        <li><a href="/media/img/mocotw/package/Graphic/Product_image/Firefox_OS.zip" target="_blank">Firefox OS</a></li>
      </ul>
    </li>
  </ul>
  <h3 id="repsup">申請 Firefox 宣傳品</h3>
  <p>為了幫助你順利在校園內推廣, 我們製作了一些代表 Firefox 品牌精神的酷酷宣傳品，歡迎校園大使於下方連結填寫需求。<br/>
    <a style="margin:0px;" href="/reg/repsup/" title="立刻申請Firefox 宣傳品" target="_blank">立刻申請</a></p>
  <p>目前有的宣傳物有：</p>
  <ul class="main-list">
    <li>Firefox 貼紙</li>
    <li>Firefox 新版釋出週期海報</li>
  </ul>
  <h3>其它相關宣傳工具</h3>
  <p>若你需要對你的同學或朋友舉辦小型或任何規模的介紹活動，建議你下載以下標準格式。也歡迎校園大使自行轉載 Mozilla Firefox 影片。</p>
  <ul class="main-list">
    <li>
      <h4>簡報與文件標準格式</h4>
      <ul>
        <li><a href="/media/img/mocotw/package/Document/Form/PPT.ppt" target="_blank">PowerPoint 格式</a></li>
        <li><a href="/media/img/mocotw/package/Document/Form/Word.doc" target="_blank">Word 格式</a></li>
      </ul>
    </li>
    <li>
      <h4>Mozilla Firefox 影片 (附中文字幕) </h4>
      <ul>
        <li><a href="/media/img/mocotw/package/Video/A_Different_Kind_of_Browser.zip" target="_blank">A Different Kind of
          Browser</a></li>
        <li><a href="/media/img/mocotw/package/Video/The_Mozilla_Story.zip" target="_blank">The Mozilla Story</a></li>
        <li><a href="/media/img/mocotw/package/Video/What_is_Mozilla.zip" target="_blank">What is Mozilla</a></li>
      </ul>
    </li>
  </ul>
  <h3>好用相關連結</h3>
  <p>從以下這些連結你可以得到最新的 Firefox 相關資訊，現在就立刻把他們加入書籤，別忘了用 Firefox 收藏庫進行管理！</p>
  <ul class="main-list">
    <li>Mozilla Taiwan 官網 <a href="http://mozilla.com.tw/" target="_blank">http://mozilla.com.tw/</a></li>
    <li>Mozilla Taiwan 部落格 <a href="http://blog.mozilla.com.tw/main"
                              target="_blank">http://blog.mozilla.com.tw/main </a></li>
    <li>Mozilla Taiwan 臉書 <a href="https://www.facebook.com/MozillaTaiwan" target="_blank">https://www.facebook.com/MozillaTaiwan</a>
    </li>
    <li>Mozilla Taiwan G+ <a href="https://plus.google.com/+MozillaTw/" target="_blank">https://plus.google.com/+MozillaTw/ </a>
    </li>
    <li>SUMO (Mozilla Support) <a href="https://support.mozilla.org/zh-TW/home" target="_blank">https://support.mozilla.org/zh-TW/home</a>
    </li>
    <li>Add-Ons 附加元件 <a href="https://addons.mozilla.org/zh-TW/firefox/" target="_blank">https://addons.mozilla.org/zh-TW/firefox/</a>
    </li>
    <li>Mozilla 品牌指南 <a href="http://www.mozilla.org/en-US/styleguide/" target="_blank">http://www.mozilla.org/en-US/styleguide/</a>
    </li>
    <li>Mozilla Links 中文版 <a href="http://mozlinks-zh.blogspot.com/">http://mozlinks-zh.blogspot.com/</a></li>
  </ul>
{% endblock %}
