{# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "mocotw/community/student/base.html" %}

{% block page_title %}{{ _('The Mozilla Manifesto') }}{% endblock %}
{% block page_desc %}Mozilla 專案為全球性社群，成員們信奉開放、創新及機會是網際網路健全發展的關鍵因素。我們自 1998 年起為確保網際網路的發展裨益全民而生，以創作 Mozilla Firefox
  網頁瀏覽器聞名。{% endblock %}
{% block body_id %}about-manifesto{% endblock %}

{% block article %}
  <h2>Firefox 校園大使<br>招募辦法</h2>
  <h3>資格</h3>
  <p>
  </p>
  符合下列資格者，便可申請 Firefox 校園大使：
  <ul>
    <li>年滿 18 歲，活潑有組織力。</li>
    <li>具有任一所大專院校在學的學生身分(含研究所)。</li>
    <li>喜歡 Firefox、認同 Mozilla 開放精神，並願意在校園內協助推廣 Firefox。</li>
    <li>曾任社團幹部或組織過校園活動者尤佳。</li>
  </ul>

  <h3>任期</h3>
  <p>
  Firefox 校園大使一學期一任，任期自公告日起至當學期結束為止，任滿後仍具學生身分者可繼續連任。若為大學畢業但確定繼續就讀研究所者，檢附研究所錄取證明即可連任。
  </p>
  <p>
  於校園大使任期間表現傑出，而任滿後因畢業或其他原因而不再具備學生身分者，若仍希望持續參與 Firefox 各項活動協助推廣，Mozilla Taiwan 將輔導你邁向 Mozilla Reps 之路，參與更多國際專案。
  我們亦可能提供傑出的卸任校園大使在公司工作的機會。
  </p>
  <h3>義務</h3>
  <p>
  </p>
  做為 Firefox 校園大使，你必須：
  <ul>
    <li>在校園裡擔任 Firefox 代表，協助推廣 Firefox 瀏覽器及相關產品。</li>
    <li>參與公司舉辦的校園大使訓練課程，以便增強實力。</li>
    <li>依據任務指派提交報告 (500 字以上，附照片佳），與其他學校的大使們分享目前校園活動的推行狀況。我們將在報告送出後 1 到 2 週內針對報告內容給予建議，並適時提供協助。</li>
    <li>於任期中完成指定任務。</li>
    <li>協助 Mozilla 在各區辦理的行銷活動。</li>
  </ul>

  <h3>權利</h3>
  <p>
  </p>
  做為 Firefox 校園大使，你有機會：
  <ul>
    <li>獲得 Firefox 特製禮品。</li>
    <li>任期結束時獲頒 Firefox 校園大使證書。</li>
    <li>成為電子報、網站、粉絲專頁等公開管道的焦點人物。</li>
    <li>獲得員工指導、並與國內外各校 Firefox 大使互動，精進自我能力。</li>
  </ul>
  <h3>資源</h3>
  <p>
  </p>
  我們提供校園大使在校園推廣 Firefox 的相關協助，例如：
  <ul>
    <li>校園大使訓練營：半年舉辦一次，提供推廣 Firefox 的各式技巧與訓練，包括 Firefox 產品最新消息、組織活動經驗分享等 (限校園大使參加)。</li>
    <li>酷炫工具包：包括設計圖檔、文件範本等，幫助你在校園推廣時更得心應手。</li>
    <li>校園大使群組：你可以在此群組內與其他校園大使交流。</li>
    <li>狐狐工作坊：從行銷推廣到開發者實作練習，以教學、實作、分享、互動的方式，協助 Firefox 校園大使獲得宣傳、推廣、開發技術教學等的各方位體驗。</li>
  </ul>
  此外，表現優異者將有在 Mozilla Taiwan 實習的優先機會。
  <p></p>

  <h3>申請方式與流程</h3>
  <p>
  填寫<a href="{{ url('mocotw.contribute_university_ambassadors') }}">線上申請單</a>後，即正式成為 Firefox 校園大使。
  </p>

{% endblock %}
