{% extends "base-resp.html" %}

{% block page_title_prefix %}Mozilla 社群 － {% endblock %}
{% block page_title %}Firefox 校園大使狐狐工作坊{% endblock %}
{% block page_desc %}為 Firefox 校園大使專屬訂做 - 從行銷推廣到開發者實作練習，以教學、實作、分享、互動的方式，協助 Firefox 校園大使獲得宣傳、推廣、開發技術教學等的各方位體驗。{% endblock %}

{% block extrahead %}
  {{ css('community-student-workshop') }}
{% endblock %}

{% block js %}
  <script type="text/javascript">
    var events = [
      {% for date in dates %}
        { Date: new Date("{{ date }}") }{% if loop.index < dates|length %},{% endif %}
      {% endfor %}
    ];
  </script>
  {{ js('community-student-workshop') }}
{% endblock %}

{% block breadcrumbs %}
  <nav class="breadcrumbs">
    <a class="home" href="{{ url('mozorg.home') }}">{{_('Home')}}</a>
    <b>»</b>
    <a href="/community/">社群參與</a>
    <b>»</b>
    <a href="/community/student/">校園大使</a>
    <b>»</b>
    <span>狐狐工作坊</span>
  </nav>
{% endblock %}


{% block content %}
  <div id="main-feature">
    <div class="row">
      <hgroup class="stacked">
        <h1><span class="large">狐狐工作坊</span></h1><br>
        <h4>為 Firefox 校園大使專屬訂做 - 從行銷推廣到開發者實作練習，以教學、實作、分享、互動的方式，協助 Firefox 校園大使獲得宣傳、推廣、開發技術教學等的各方位體驗。</h4>
      </hgroup>
    </div>
  </div>

  <nav class="menu-bar billboard">
    <ul>
      <li><a href="#June">六月</a></li>
      <li><a href="#August">八月</a></li>
      <li><a href="#September">九月</a></li>
      <li><a href="#October">十月</a></li>
      <li><a href="#November">十一月</a></li>
      <li><a href="#December">十二月</a></li>
    </ul>
  </nav>

  <div id="main-content">
    <article class="main-column">

        {% for post in posts %}
          {% if loop.index == 1 %}
      <section class="container divider" id="announcements">
        <h2>當期活動</h2>
          {% elif loop.index == 2 %}
      <section class="container" id="history">
        <h2>活動回顧</h2>
          {% endif %}
        <div class="row" {% if post.month %}id="{{ post.month }}"{% endif %}>
          <div class="leftCol">
            <p class="entry-posted">
              <time id="{{ post.date.date().__str__() }}" class="published" title="{{ post.date }}" datetime="{{ post.date }}">
                <span class="posted-month">{{ post.date.date().month }}月</span>
                <span class="posted-date">{{ post.date.date().day }}</span>
                <span class="posted-year">{{ post.date.date().year }}</span>
              </time>
            </p>
            {% if post.attachments|length == 0 %}
            <div class="rowImg" style="background: url('{{ media('img/mocotw/community/student/workshop/after-lunch.jpg') }}'); background-size: 100% 100%;">
            </div>
            {% else %}
            <div class="rowImg" style="background: url('{{ post.attachments[0].images.thumbnail.url }}'); background-size: 100% 100%;">
            </div>
            {% endif %}
          </div>
          <div class="span3">
            <h3><a href="{{ post.url }}">{{ post.title_plain|safe }}</a></h3>

            <p>{{ post.content|striptags }}</p>
            <a class="moreLink" href="{{ post.url }}">更多介紹</a>
          </div>
        </div>
          {% if loop.index in (1, posts|length) %}
      </section>
          {% endif %}
        {% endfor %}

    </article>

    <div class="sidebar">
      <div class="event-calendar"></div>
      <div class="sidebar-inset">

        <h2>關於 Firefox 校園大使</h2>

        <p>在你的校園生活，留下熱血、青春、自由的全紀錄！做一個 Firefox 校園大使會讓你顯得與眾不同， 因為你就是全球社群的一份子，與世界各地的夥伴共同為網路的自由開放努力！</p>
        <a class="moreLink" href="/community/student">更多介紹</a>

      </div>

    </div>
  </div>
{% endblock %}