{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "base-resp.html" %}

{% block body_class %}sky{% endblock %}

{% block description %}Mozilla Firefox 官方中文版下載，流暢、快速、個性化，提供無與倫比的瀏覽體驗，適用於Windows、Mac、Linux 及 Android 行動系統。{% endblock %}

{% block favicon %}<link rel="shortcut icon" type="image/icon" href="{{ MEDIA_URL }}img/firefox/favicon.ico?2013-06">{% endblock %}

{% block page_title_prefix %}{% endblock %}

{% block site_css %}
  {{ css('firefox-resp') }}
{% endblock %}

{% block extrahead %}
<meta name="og:image" content="{{ media('img/firefox/firefox-100.jpg?2013-06') }}">
{% endblock %}

{% block body_attrs %}{{ super() }} data-latest-firefox="{{ latest_firefox_version }}" data-esr-versions="{{ esr_firefox_versions }}"{% endblock %}

{% block site_js %}
  {{ js('firefox-resp') }}
{% endblock %}
