{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "base.html" %}

{% block body_class %}sky{% endblock %}

{% block description %}Mozilla Firefox, free web browser, is created by a global non-profit dedicated to putting individuals in control &amp; shaping the future of the web for the public good.{% endblock %}

{% block favicon %}<link rel="shortcut icon" href="{{ MEDIA_URL }}img/firefox/favicon.ico?2013-06">{% endblock %}

{% block page_title_prefix %}Mozilla Firefox Web Browser — {% endblock %}

{% block site_css %}
  {{ css('firefox') }}
{% endblock %}

{% block extrahead %}
<meta name="og:image" content="{{ media('img/firefox/firefox-100.jpg?2013-06') }}">
{% endblock %}

{% block site_header_logo %}
<h2><a href="{{ url('mozorg.home') }}"><img src="{{ media('img/firefox/template/header-logo.png') }}" alt="Mozilla Firefox" height="70" width="185" data-inverse-src="{{media('img/firefox/template/header-logo-inverse.png') }}"></a></h2>
{% endblock %}

{% block site_js %}
  {{ js('firefox') }}
{% endblock %}
