{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "/firefox/base.html" %}

{% block page_title %}客製自己的瀏覽器{% endblock %}
{% block body_id %}firefox-customize{% endblock %}
{% block page_desc %}Firefox 可讓你盡情客製自己喜歡的介面！為你的 Firefox 新添風格、佈景主題自由客製、附加元件作業順暢、外掛程式改造自己的介面保持同步{% endblock %}

{% block site_css %}
  {{ css('firefox_customize') }}
{% endblock %}

{% block js %}
  {{ js('firefox_customize') }}
{% endblock %}

{% block breadcrumbs %}
  <nav class="breadcrumbs">
    <a class="home" href="{{ url('mozorg.home') }}">{{_('Home')}}</a>
    <b>»</b>
    <a href="{{ url('firefox.fx') }}">Firefox 桌面版</a>
    <b>»</b>
    <span>客製自己的瀏覽器</span>
  </nav>
{% endblock %}

{% block content %}


<div id="main-feature">
  <div class="row">
  <hgroup class="stacked">
    <h1><span class="large">輕鬆個人化</span></h1><br>
    <h4>說到網路瀏覽，每個人的喜好必不相同─<br><br>Firefox 可讓你盡情客製自己喜歡的介面！</h4>
  </hgroup>

  <aside id="go-mobile">
    <h5>行動裝置同樣可行</h5>
    <p>你的行動裝置也能取得附加元件！只要用 Android 裝置瀏覽<a href="https://addons.mozilla.org/en-US/mobile/?browse=featured">行動附加元件頁面</a>，就能搜尋並安裝自己喜愛的附加元件。</p>
  </aside>

  {{ download_firefox(small=True) }}

  </div>
</div>

<nav class="menu-bar billboard">
  <ul>
    <li><a href="#style">新添風格：<span>佈景主題</span></a></li>
    <li><a href="#addons">自由客製：<span>附加元件</span></a></li>
    <li><a href="#plugins">作業順暢：<span>外掛程式</span></a></li>
    <li><a href="#interface">改造<span>自己的介面</span></a></li>
    <li><a href="#sync">保持<span>同步</span></a></li>
  </ul>
</nav>

<section class="billboard" id="style">
  <div class="row">
    <div class="span3">
      <h3>新添風格：<span>佈景主題</span></h3>
      <p>讓 Firefox 充滿個人風格！你可從全世界使用者所設計的數千種<a href="https://addons.mozilla.org/firefox/themes/">佈景主題</a>中挑選，或<a href="https://addons.mozilla.org/developers/docs/themes">自己設計佈景主題</a>。輕點滑鼠就能任意裝扮自己的 Firefox 瀏覽器。</p>
    </div>
    <div id="persona-previews" class="span7">
      <div id="try-on"><p>游標置於圖上即可預覽效果，點選即可套用</p></div>
      <div class="persona-previewer persona-previewer-random">
        <div class="persona-previewer-content">
          <div id="persona-tattoo" class="persona-visible"><img src="{{ media('img/firefox/customize/personas-tattoo.png') }}" width="344" height="174" alt="preview" /></div>
          <div id="persona-endless"><img src="{{ media('img/firefox/customize/personas-endless.png') }}" width="344" height="174" alt="preview" /></div>
          <div id="persona-kanagawa"><img src="{{ media('img/firefox/customize/personas-kanagawa.png') }}" width="344" height="174" alt="preview" /></div>

          <div id="persona-retronotes"><img src="{{ media('img/firefox/customize/personas-retronotes.png') }}" width="344" height="174" alt="preview" /></div>
          <div id="persona-bobmarley"><img src="{{ media('img/firefox/customize/personas-bobmarley.png') }}" width="344" height="174" alt="preview" /></div>
          <div id="persona-sunset"><img src="{{ media('img/firefox/customize/personas-sunset.png') }}" width="344" height="174" alt="preview" /></div>
        </div>
        <ul class="persona-previewer-tabs">
          <li><a href="https://addons.mozilla.org/firefox/addon/japanese-tattoo/"><img src="//getpersonas.cdn.mozilla.net/static/1/0/7610/preview.jpg" width="138" height="46" alt="Japanese Tattoo" /></a></li>
          <li><a href="https://addons.mozilla.org/firefox/addon/endless-possibilities-by-etsu/"><img src="//getpersonas.cdn.mozilla.net/static/8/7/30987/preview.jpg" width="138" height="46" alt="Endless Possibilities" /></a></li>
          <li><a href="https://addons.mozilla.org/firefox/addon/kanagawa-wave/"><img src="//getpersonas.cdn.mozilla.net/static/8/2/141882/preview.jpg" width="138" height="46" alt="kanagawa wave" /></a></li>
          <li><a href="https://addons.mozilla.org/firefox/addon/retro-notes-reloaded/"><img src="//getpersonas.cdn.mozilla.net/static/0/3/213203/preview.jpg" width="138" height="46" alt="Retro Notes Reloaded" /></a></li>
          <li><a href="https://addons.mozilla.org/firefox/addon/bob-marley/"><img src="//getpersonas.cdn.mozilla.net/static/3/6/44136/preview.jpg" width="138" height="46" alt="Bob Marley" /></a></li>
          <li><a href="https://addons.mozilla.org/firefox/addon/sunset-over-water/"><img src="//getpersonas.cdn.mozilla.net/static/6/9/64769/preview.jpg" width="138" height="46" alt="Sunset Over Water" /></a></li>
        </ul>
      </div>
      <p id="see-all-personas"><a href="https://addons.mozilla.org/firefox/complete-themes/" class="feature arrow">觀看全部 180,000+ 佈景主題 »</a></p>
    </div>
  </div>
</section>



<section class="billboard" id="addons">
<div class="row">
  <div class="span3">
    <h3>自由客製：<span>附加元件</span></h3>
    <p>許多高人氣附加元件都是好用功能的延伸，讓你打造更多采多姿的 Firefox。聽聽音樂、購物比價、查看天氣預報、更新 Facebook 個人檔案 – 這些小功能全都整進瀏覽器！同樣有數千組附加元件可讓你選擇，<a href="https://addons.mozilla.org/firefox/extensions/?sort=featured">先來看看我們最喜歡的幾個</a>。</p>
  </div>
  <div id="addons-feature" class="span7">
    <div id="addons-video" class="mozilla-video-control mozilla-video-shadow">
      {{ video('FF%20576%20h264%20v6.webm',
               'FF%20576%20h264%20v6.theora.ogv',
               'FF%20576%20h264%20v6.mp4',
               h=349, w=620,
               prefix='//videos-cdn.mozilla.net/serv/marketing/696470/',
               poster=media('img/firefox/video/poster-addons.jpg')) }}
    </div>
    <p id="builder-link">你是 Web 開發者？<a href="https://addons.mozilla.org/en-US/developers/builder">快來了解應如何製作絕妙的附加元件。</a></p>
    </div>
  </div>
</section>

<section class="billboard" id="plugins">
<div class="row">
  <div class="span3">
    <h3>作業順暢：<span>外掛程式</span></h3>
    <p>有些外掛程式是由特定公司 (如 Adobe Systems 或 Apple) 建構的第三方軟體，可強化影片、動畫、遊戲 (如 Flash Player 或 Quicktime) 的效果。一旦外掛程式未更新至最新版本，即可能讓瀏覽器當機或造成安全性風險。Mozilla 因此提供簡易工具，讓你隨時擁有最新版外掛程式。<a href="/plugincheck/">立刻檢查外掛程式。</a></p>
  </div>
  <div class="span7">
     {{ platform_img('img/firefox/customize/make-it-work.png?2013-06', {'alt': 'Make It Work: Plugins'}) }}
  </div>
</div>
</section>

<section class="billboard" id="interface">
<div class="row">
  <div class="span3">
    <h3>改造自己的<span>介面</span></h3>
    <p>Firefox 介面是由專業團隊所設計，並通過全世界數百萬名使用者的測試，確保大家都能擁有簡單又直覺的瀏覽體驗。</p>
    <p>當然，每個人都有其特殊需求。而你也能應自己喜好而調整介面：排列/整理、新增/移除許多按鈕或欄位，隨時滿足自己的瀏覽需求。<a href="https://support.mozilla.org/kb/How%20to%20customize%20the%20toolbar">進一步了解。</a></p>
  </div>
  <div class="span7">
     {{ platform_img('img/firefox/customize/adapt-your-interface.png', {'alt': 'Adapt Your Interface'}) }}
  </div>
</div>
</section>

<section class="billboard" id="sync">
<div class="row">
  <div class="span3">
    <h3>保持<span>同步</span></h3>
    <p>Sync 同步功能可無縫銜接桌機與行動裝置上的 Firefox。不論使用哪種裝置，都能存取相同的密碼、書籤、瀏覽記錄，甚至已開啟的分頁。</p>
    <p>在你用桌機上網而中途需起身離開時，也能讓行動裝置先開好桌機目前的分頁等你。使用者隨時都能轉換瀏覽平台！<a href="/firefox/mobile/sync/">進一步了解。</a></p>
  </div>
  <div class="span7">
    <div id="video-player" class="mozilla-video-control">
      {{ video('FoxySync640.webm',
               'FoxySync640.theora.ogv',
               'FoxySync640.mp4',
               h=349, w=620,
               prefix='//videos-cdn.mozilla.net/serv/marketing/firefox4/',
               poster=media('img/firefox/video/poster-fx4-sync.jpg')) }}
    </div>
  </div>
</div>
</section>


{% endblock %}
