{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "/firefox/base.html" %}

{% block page_title %}極致暢快效能{% endblock %}
{% block body_id %}firefox-security{% endblock %}
{% block page_desc %}繫好安全帶！最新版 Firefox 擁有閃電般的開機速度、強悍繪圖效能、高速頁面載入等特色，讓你馬上察覺效能明顯提升。像是郵件、影片、遊戲等 Web 應用，在越來越講究細緻的畫面之外，也需要更高效能以順暢執行之。為了確實滿足全部需求。{% endblock %}

{% block extrahead %}
  {{ css('video') }}
  {{ super() }}
{% endblock %}

{% block js %}
  {{ js('video') }}
{% endblock %}

{% block breadcrumbs %}
  <nav class="breadcrumbs">
    <a class="home" href="{{ url('mozorg.home') }}">{{_('Home')}}</a>
    <b>»</b>
    <a href="{{ url('firefox.fx') }}">Firefox 桌面版</a>
    <b>»</b>
    <span>極致暢快效能</span>
  </nav>
{% endblock %}

{% block content %}

<div id="main-feature" class="stacked">
  <h1><span class="large">極致效能</span></h1>
  {{ download_firefox(small=True) }}
</div>

<nav class="menu-bar billboard">
  <ul>
    <li><a href="#web">讓 Web 更快</a></li>
    <li><a href="#hardware">硬體加速</a></li>
  </ul>
</nav>

<section id="web" class="container divider">
<div class="row">
  <div class="span3">
    <h2>讓 Web <span>更快</span></h2>
    <p>繫好安全帶！最新版 Firefox 擁有閃電般的開機速度、強悍繪圖效能、高速頁面載入等特色，讓你馬上察覺效能明顯提升。</p>
    <p>像是郵件、影片、遊戲等 Web 應用，在越來越講究細緻的畫面之外，也需要更高效能以順暢執行之。為了確實滿足全部需求，最新版的 Firefox 全面提升了 JavaScript 引擎 ─ JägerMonkey。</p>
  </div>
  <figure id="video-wrapper" class="span7">
    <div id="video-player" class="mozilla-video-control mozilla-video-shadow">
      {{ video('screencast.webm',
               'screencast.ogv',
               'screencast.mp4',
               h=360, w=640,
               prefix='//videos-cdn.mozilla.net/serv/mozhacks/demos/screencasts/runfield/',
               poster=media('img/firefox/video/poster-runfield.jpg')) }}
    </div>
    <figcaption>Runfield 即是以 JavaScript 與 Canvas 建構的 Web 遊戲。<a href="https://developer.mozilla.org/demos/detail/runfield/launch">快來玩玩看 »</a></figcaption>
  </figure>
</div>
</section>

<section id="hardware" class="container divider-last">
<div class="row">
  <div class="span3">
    <h2>硬體加速</h2>
    <p>不論你在 Windows 7、Vista、XP 或 Mac OS X 上執行 Firefox，像是看影片或玩遊戲等許多作業都能享受硬體加速的快感。</p>
  </div>
  <div class="span7">
    <img height="300" width="620" alt="Hardware Acceleration screenshot" src="{{ media('img/firefox/performance/hardware-accel.png') }}">
  </div>
</div>
</section>

{% endblock %}
