{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "/firefox/base.html" %}

{% block page_title %}安全瀏覽 Web{% endblock %}
{% block body_id %}firefox-security{% endblock %}
{% block page_desc %}Firefox 時時保護 個人隱私安全。在瀏覽網路時，你所留下的資料或多或少都內含個人資訊。Mozilla 認為這些資訊只屬於你個人所有 (某些使用誇張手法的廣告商更不該擁有)，因此 Firefox 內建多項功能以確保個人資訊安全，例如：不要追蹤我。{% endblock %}

{% block site_css %}
  {{ css('firefox_security') }}
{% endblock %}

{% block breadcrumbs %}
  <nav class="breadcrumbs">
    <a class="home" href="{{ url('mozorg.home') }}">{{_('Home')}}</a>
    <b>»</b>
    <a href="{{ url('firefox.fx') }}">Firefox 桌面版</a>
    <b>»</b>
    <span>安全瀏覽 Web</span>
  </nav>
{% endblock %}

{% block content %}


<div id="main-feature" class="stacked">
  <h1>Firefox 時時保護 <span class="large">個人隱私安全</span></h1>
  {{ download_firefox(small=True) }}
</div>

<nav class="menu-bar billboard">
  <ul>
    <li><a href="#privacy">保護個人隱私</a></li>
    <li><a href="#secure">高安全性瀏覽</a></li>
    <li><a href="#control">自行控制</a></li>
    <li><a href="#mission">堅守理念</a></li>
  </ul>
</nav>

<section id="privacy" class="billboard">
<div class="row">
  <div class="span3">
    <h2>保護個人隱私</h2>
    <p>在瀏覽網路時，你所留下的資料或多或少都內含個人資訊。Mozilla 認為這些資訊只屬於你個人所有 (某些使用誇張手法的廣告商更不該擁有)，因此 Firefox 內建多項功能以確保個人資訊安全。</p>
    <p class="top-link"><a href="#main-feature">回到頂端</a></p>
  </div>
  <div class="section-image span4">
     {{ platform_img('img/firefox/security/screenshot-privacy.jpg', {'alt': 'Private Browsing screenshot'}) }}
  </div>
  <ul class="section-list span3">
    <li>
      <h4>不要追蹤我</h4>
      <p>許多網站會追蹤你的線上行為，再將相關資料販售給廣告商。Firefox 能幫你告知所有網站你拒絕此類的追蹤作業。<a href="https://support.mozilla.org/kb/how-do-i-stop-websites-tracking-me">進一步了解</a>。</p>
    </li>
    <li>
      <h4>隱私瀏覽</h4>
      <p>有時你就是想私下瀏覽網站，則此功能可保護自己的瀏覽記錄不外洩。<a href="https://support.mozilla.org/kb/Private%20Browsing">進一步了解</a>。</p>
    </li>
    <li>
      <h4>清除最近的歷史記錄</h4>
      <p>輕點滑鼠幾下，就能清除所有隱私資料或最近的活動。<a href="https://support.mozilla.org/kb/Clear%20Recent%20History">進一步了解</a>。</p>
    </li>
    <li>
      <h4>刪除網站記錄</h4>
      <p>對最近瀏覽過的網站有所疑慮？直接移除所有記錄！<a href="https://support.mozilla.org/kb/Clear%20Recent%20History#w_how-do-i-remove-a-single-website-from-my-history">進一步了解</a>。</p>
    </li>
    <li>
      <h4>內容安全政策</h4>
      <p>Firefox 可讓網站明確指出合法的內容，進而保護使用者免受 XSS 攻擊。</p>
    </li>
  </ul>
</div>
</section>

<section id="secure" class="billboard">
<div class="row">
  <div class="span3">
    <h3>高安全性瀏覽</h3>
    <p>不論是線上購物、刷卡付賬，或只是登入 Facebook，都應謹慎使用個人資訊以免遭有心人士利用。所幸 Firefox 早已具備高階的安全功能，可時時確保個人資料的安全。</p>
    <p class="top-link"><a href="#main-feature">回到頂端</a></p>
  </div>
  <div class="section-image span4">
     {{ platform_img('img/firefox/security/screenshot-anti-malware.jpg', {'alt': 'Anti-Malware screenshot'}) }}
  </div>
  <ul class="section-list span3">
    <li>
      <h4>即時網站識別</h4>
      <p>此功能將透過顏色讓使用者區分出可疑網站，避免進入偽造網頁。<a href="https://support.mozilla.org/kb/Site%20Identity%20Button">進一步了解</a>。</p>
    </li>
    <li>
      <h4>反詐騙網頁 & 反惡意軟體</h4>
      <p>Firefox 將阻絕木馬與間諜軟體，並警告使用者遠離詐騙網頁。</p>
    </li>
    <li>
      <h4>安全的軟體安裝程序</h4>
      <p>必先使用安全連線，才能下載附加元件與其他第三方軟體。</p>
    </li>
    <li>
      <h4>整合防毒程式</h4>
      <p>Firefox 完美整合電腦的防毒軟體，讓你能隨時順利下載檔案。</p>
    </li>
  </ul>
</div>
</section>

<section id="control" class="billboard">
<div class="row">
  <div class="span3">
    <h3>自行<span>控制</span></h3>
    <p>為因應變化多端的網路世界，Mozilla 提供簡單易用的工具，讓你能自行判斷並下達聰明的決定。</p>
    <p class="top-link"><a href="#main-feature">回到頂端</a></p>
  </div>
  <div class="section-image span4">
     {{ platform_img('img/firefox/security/screenshot-plugins.jpg', {'alt': 'Plugins screenshot'}) }}
  </div>
  <ul class="section-list span3">
    <li>
      <h4>檢查外掛程式</h4>
      <p>過期的第三方外掛程式可能帶來風險，因此 Mozilla 讓你能輕鬆檢查需更新的外掛程式。<a href="/plugincheck/">檢查外掛程式</a>。</p>
    </li>
    <li>
      <h4>家長監護</h4>
      <p>強制執行 Windows 7 既有的家長監護功能，停止不適當的下載或網站瀏覽。</p>
    </li>
    <li>
      <h4>客製化安全設定</h4>
      <p>多樣的客製化設定，讓你控制 Firefox 對網站訂定的安全層級。<a href="https://support.mozilla.org/kb/Options%20window%20-%20Security%20panel">進一步了解</a>。</p>
    </li>
  </ul>
</div>
</section>

<section id="mission" class="billboard">
<div class="row">
  <div class="span3">
    <h3>堅守<span>理念</span></h3>
    <p>全球性非營利組織 Mozilla 矢志推動網路的平等、自由、開放。我們從未透過使用者而獲利，只想讓大家擁有更完美的上網經驗，也同樣重視個人資訊的安全與隱私。</p>
    <p class="top-link"><a href="#main-feature">回到頂端</a></p>
  </div>
  <div class="section-image span4">
    <img alt="Communtity icon" src="{{ media('img/firefox/security/community.png') }}">
  </div>
  <ul class="section-list span3">
    <li>
      <h4>承諾你的隱私權</h4>
      <p>Firefox 堅守嚴格的隱私政策，絕對不會追蹤使用者的身分與線上行為。<a href="{{ php_url('/legal/privacy/firefox.html') }}">閱讀隱私政策</a>。</p>
    </li>
    <li>
      <h4>使命謹記於心</h4>
      <p>Mozilla 的使命引領我們建構出 Firefox，也代表我們首重使用者的需求。<a href="/about/">進一步了解</a>。</p>
    </li>
  </ul>
</div>
</section>

{% endblock %}
