{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. #}

{% extends "/firefox/base.html" %}

{% block page_title %}植基於尖端技術{% endblock %}
{% block body_id %}firefox-technology{% endblock %}
{% block page_desc %}植基於尖端開放技術。開發者工具讓可以瞭解 Web 運作的方式。想動手修改相關設計與程式碼？Firefox 開發者工具可讓你看穿網頁背後的機制，而能進行 Web 的除錯、優化、測試。{% endblock %}

{% block site_css %}
  {{ css('firefox_technology') }}
{% endblock %}

{% block breadcrumbs %}
  <nav class="breadcrumbs">
    <a class="home" href="{{ url('mozorg.home') }}">{{_('Home')}}</a>
    <b>»</b>
    <a href="{{ url('firefox.fx') }}">Firefox 桌面版</a>
    <b>»</b>
    <span>植基於尖端技術</span>
  </nav>
{% endblock %}

{% block content %}


<div id="main-feature">
  <div class="row">
  <hgroup class="stacked">
    <h1>植基於<span class="large">開放技術</span></h1>
    <h4>創新的強大功能，完全改變 Web 的建構方式</h4>
  </hgroup>

  <aside id="more-info">
    <h5>更多資訊</h5>
    <ul>
      <li><a href="https://developer.mozilla.org/demos">Demo Studio</a></li>
      <li><a href="{{ url('firefox.performance') }}">輕鬆客製化</a></li>
      <li><a href="https://developer.mozilla.org/">Mozilla 開發者社群網站 (MDN)</a></li>
    </ul>
  </aside>

  {{ download_firefox(small=True) }}

  </div>
</div>

<nav class="menu-bar billboard">
  <ul>
    <li><a href="#tools">開發者<span>工具</span></a></li>
    <li><a href="#html5">HTML5<span> 引領創新</span></a></li>
    <li><a href="#css">CSS<span> 徹底美化</span></a></li>
    <li><a href="#apis">APIs<span> 前衛概念</span></a></li>
    <li><a href="#svg">SVG<span> 強悍演進</span></a></li>
    <li><a href="#security">高階<span>安全性</span></a></li>
  </ul>
</nav>

<div id="wall">
<section>

<article id="tools" class="article container divider">

<p class="top-link"><a href="#main-feature">回到頂端</a></p>

<div class="click-star"><span>滑鼠游標移過各區塊即可觀看範例。</span></div>

<div class="intro">
    <h1>開發者<span>工具</span></h1>
    <p>你曾想過 Web 運作的方式？想動手修改相關設計與程式碼？Firefox 開發者工具可讓你看穿網頁背後的機制，而能進行 Web 的除錯、優化、測試。</p>
</div>

<article>
    <div class="demo">
        <img src="{{ media('img/firefox/technology/tools-style-editor.png') }}" alt="Style Editor screenshot" />
    </div>
    <h1>樣式編輯器</h1>
    <p>樣式編輯器 (Style Editor) 可輕鬆測試、修改網頁的外觀。你可變更任何網頁的設計，且只要修改樣式表，就能立刻看到相關結果。可至「網頁開發者」選單中找到此功能。</p>
</article>

<article>
    <div class="demo">
        <img src="{{ media('img/firefox/technology/tools-debugger.png') }}" alt="Debugger screenshot" />
    </div>
    <h1>除錯器</h1>
    <p>在原始碼編輯器中設定中斷點之後，只要暫停、執行、觀看指令碼的執行作業，即可迅速找出 JavaScript 碼中的問題。所有指令碼均列在選單之上，你只需輸入檔案的部分名稱就可跳選該檔案。另針對 Firefox OS 與 Firefox for Android，亦支援遠端除錯功能。</p>
</article>

<article>
    <div class="demo">
        <img src="{{ media('img/firefox/technology/tools-mobile.png?2013-06') }}" alt="Mobile developer tools screenshot" />
    </div>
    <h1>行動開發者工具</h1>
    <p>適應性設計檢視 (Responsive Design View) 模式，可針對你目前檢視中的網頁輕鬆調整尺寸，確實呈現網頁在任何螢幕上的視覺效果，且均可透過桌機輕鬆完成作業。你也可透過除錯器 (Debugger)，對行動裝置所執行的 JavaScript 進行除錯。只要連上 Firefox for Android 或 Firefox OS，同樣可利用桌機上的監控器對行動裝置進行除錯。</p>
</article>

<article>
    <div class="demo">
        <img src="{{ media('img/firefox/technology/tools-developer-toolbar.png?2013-06') }}" alt="Developer Toolbar screenshot" />
    </div>
    <h1>開發者工具列</h1>
    <p>在開發 Web 時，快速、簡單、直覺的開發者工具列將為你省下許多時間。除了可透過鍵盤輕鬆控制多樣工具之外，亦能在你輸入時自動完成參數與指令。可到「網頁開發者」選單，或直接按下 shift+F2 即可找到該工具列。</p>
</article>

<article class="hasdemo">
    <div class="demo">
        <img src="{{ media('img/firefox/technology/tools-console.png?2013-06') }}" alt="Web Console screenshot" />
    </div>
    <h1>網頁主控台</h1>
    <p>觀看自己網頁中所發生的事件。網頁主控台 (Web Console) 可查看 JavaScript 碼、JavaScript 與 CSS 錯誤、網路活動等的記錄訊息。你可自行篩選所要查看的事件。此外，亦可透過 JavaScript 直接與網頁互動。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/Using_the_Web_Console">進一步了解</a>
</article>

<article>
    <div class="demo">
        <img src="{{ media('img/firefox/technology/tools-inspector.png') }}" alt="Page Inspector screenshot" />
    </div>
    <h1>頁面檢測器</h1>
    <p>只要選擇你感興趣的頁面元素，即可觀察網頁的樣式結構。對網頁的任一部分按下滑鼠右鍵，點選「檢測元素 (Inspect Element)」；或從「網頁開發者」選單中找到「檢測器 (Inspect)」；或直接按下 ctrl-shift-I (Mac 為 cmd-shift-I) 快捷鍵，都可找到此功能。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/Tools/Inspector">進一步了解</a>
</article>

<article>
    <div class="demo">
        <img src="{{ media('img/firefox/technology/tools-scratchpad.png') }}" alt="Scratchpad screenshot" />
    </div>
    <h1>程式碼速記本</h1>
    <p>瀏覽器絕對是測試 JavaScript 的絕佳工具，而程式碼速記本 (Scratchpad) 可讓你寫下的程式碼直接與網頁內容互動。程式碼速記本可輕鬆測試你的想法，再將結果複製到你常用的網站開發工具中。在網頁上嘗試各種可能，同樣樂趣無窮。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/Tools/Scratchpad">進一步了解</a>
</article>

<article>
    <h1>Firebug</h1>
    <p><a href="https://addons.mozilla.org/en-US/firefox/addon/firebug/">Firebug</a> 附加元件可相容最新版的 Firefox。廣受許多網頁開發者所愛用。</p>
    <a class="learn" title="documentation" href="http://www.getfirebug.com/">進一步了解</a>
</article>

<article id="tools-more">
    <h1>更多開發資源</h1>
    <ul>
        <li>留意我們的<a href="https://blog.mozilla.com/devtools">開發部落格</a></li>
        <li>取得<a href="https://hacks.mozilla.org/category/developer-tools/">測試版本與秘技部落格</a>的最新資訊</li>
        <li>到 <a href="https://developer.mozilla.org/">developer.mozilla.org</a> 加入熱忱的開發社群，隨時透過 Demo 與說明文件自行學習或指導他人</li>
    </ul>
</article>

</article>


<article id="html5" class="article container divider">

<p class="top-link"><a href="#main-feature">回到頂端</a></p>

<div class="click-star"><span>滑鼠游標移過各區塊即可觀看範例。</span></div>

<div class="intro">
    <h1><span>HTML5 引領創新</span></h1>
    <p>Firefox 一直完美支援 HTML5，而除了持續更新版本之外，亦不斷支援更高階的功能。</p>
</div>

<article id="formdemo" class="hasademo xxxie">
    <h1>表單</h1>
    <div class="demo">
        <form>
            <h4>Mozilla 你好，</h4><p>我的名字是 <input pattern="....*" placeholder="你的姓名">。我覺得這個 Demo 很 <input placeholder="炫？">。</p>
            <p>另外我想反應：Mozilla 應該 <input placeholder="...">。</p>
            <p><button onclick="return submitForm();">送出</button></p>
        </form>
        <p>已送出！感謝你的意見。</p>
    </div>
    <p>Firefox 建置了 HTML5 表單，並提供新的輸入方式、資料清單支援、新的輸入屬性 (如游標自動定位、欄位提示文字、表單元件、驗證機制、限制條件驗證、自由配置表單元件，還有新的 CSS 選擇器等)，將所有特色整合在一起。若需詳細資訊，<a href="https://hacks.mozilla.org/">可至 Hacks 網站</a>。</p>
    <a class="close" title="close" href="#close">關閉</a>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/HTML/HTML5/Forms_in_HTML5">進一步了解</a>
</article>

<article class="hasademo">
    <h1>剖析器</h1>
    <div class="demo parser">
        <svg viewBox="0 0 200 100"><path stroke-width="1" stroke-dasharray="3,3" stroke="black" fill="none" d="M20 80L60 20L100 80L140 20L180 80"/><circle cx="20" cy="80" r="15" fill="none" stroke="#000"> <animate attributeName="cx" repeatDur="indefinite" values="0; 160; 0" dur="16s" accumulate="none" additive="sum" fill="freeze"/> <animate attributeName="cy" repeatDur="indefinite" values="80; 20; 80; 20; 80" dur="8s" accumulate="none" fill="freeze"/> </circle> </svg>
        <math> <mrow> <mi>x</mi> <mo>=</mo> <mfrac> <mrow> <mrow> <mo>-</mo> <mi>b</mi> </mrow> <mo>&PlusMinus;</mo> <msqrt> <mrow> <msup> <mi>b</mi> <mn>2</mn> </msup> <mo>-</mo> <mrow> <mn>4</mn> <mo>&InvisibleTimes;</mo> <mi>a</mi> <mo>&InvisibleTimes;</mo> <mi>c</mi> </mrow> </mrow> </msqrt> </mrow> <mrow> <mn>2</mn> <mo>&InvisibleTimes;</mo> <mi>a</mi> </mrow> </mfrac> </mrow> </math>

    </div>
    <p>Firefox 具備 HTML5 相容的剖析器 (Parser)，內含如<a href="https://developer.mozilla.org/en/svg_in_html_introduction">網頁內嵌 SVG (inline SVG)</a> 的<a href="https://hacks.mozilla.org/2010/05/firefox-4-the-html5-parser-inline-svg-speed-and-more/">新功能</a>，另可透過自有處理器執行並剖析演算法，藉此提高效能。如此可讓 Firefox 剖析演算法更標準，並為跨瀏覽器的一致性打下基礎。</p>
    <a class="close" title="close" href="#close">關閉</a>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/HTML/HTML5/HTML5_Parser">進一步了解</a>
</article>


<article class="hasademo">
    <h1>WebM</h1>
    <div class="demo">
        <video preload="auto" width="160" src="//videos-cdn.mozilla.net/serv/firefoxlive/meetthecubs.webm" onmouseover="this.play()" onmouseout="this.pause()"></video>
    </div>
    <p>Firefox 可支援 WebM ─ 免權利金網路影片的新格式。只要你加入他們的 <a href="http://www.youtube.com/html5">HTML5 beta</a>，即可於 YouTube 上使用此格式；另外只要使用新的 <a href="http://apiblog.youtube.com/2010/07/new-way-to-embed-youtube-videos.html">iframe embedding API</a>，即可嵌入 YouTube 影片。加入測試並在<a href="http://apiblog.youtube.com/2010/07/new-way-to-embed-youtube-videos.html">此篇文章</a>底端觀賞範例。</p>
    <a class="close" title="close" href="#close">關閉</a>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/En/Using_audio_and_video_in_Firefox">進一步了解</a>
</article>

<article>
    <h1>Video Buffer API</h1>
    <p>透過<a href="https://hacks.mozilla.org/2010/08/html5-video-buffered-property-available-in-firefox-4/">影片緩衝 (Buffered) 屬性</a>對 HTML5 影片的支援功能，搭載影片的網頁將可精確得出影片緩衝的進度，而不是根據下載速率與目前串流中的位置，提供百分比數據而已。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/En/Using_audio_and_video_in_Firefox">進一步了解</a>
</article>

<article>
    <h1>支援影片「預載」</h1>
    <p>影片的「自動緩衝 (Autobuffer)」屬性 (自 Firefox 3.5 起所內含，僅 On/Off 兩種狀態)，現已由新的「預載 (Preload)」屬性所取代。只要是包含於網頁內的影片，均可讓開發者控制影片的預載方式。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/En/Using_audio_and_video_in_Firefox">進一步了解</a>
</article>

<article>
    <h1>瀏覽記錄的 pushState 與 replaceState</h1>
    <p>Firefox 支援 <a href="https://developer.mozilla.org/en/DOM/Manipulating_the_browser_history">HTML5 pushState 與 replaceState 瀏覽記錄修改函式</a>，可讓開發者建立或修改瀏覽器的歷史記錄。有助於開發「想針對以 Hash 結尾的網址產生瀏覽記錄」的網頁應用 (即如 HTML 架構的投影片)。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/DOM/Manipulating_the_browser_history">進一步了解</a>
</article>

</article>


<article id="css" class="article container divider">

<p class="top-link"><a href="#main-feature">回到頂端</a></p>

<div class="click-star"><span>滑鼠游標移過各區塊即可觀看範例。</span></div>

<div class="intro">
    <h1>以 <span>CSS</span> 美化網頁</h1>
    <p>歸功於相關標準已漸趨成熟，Firefox 所滿載的全新與強化 CSS 屬性，已從自有的 CSS 命名空間 (namespace) 納入標準的命名空間。</p>
</div>

<article class="hasademo xxxie">
    <h1>CSS Transitions</h1>
    <div class="demo" id="transitiondemo"><span>❖✪</span></div>
    <p>Firefox 可支援 CSS 漸變效果 (Transitions)。由於仍屬早期規格，因此仍保留了 –moz 前綴屬性名稱。</p>
    <a class="close" title="close" href="#close">關閉</a>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/CSS/CSS_transitions">進一步了解</a>
</article>

<article class="hasademo">
    <h1>CSS Animations</h1>
    <div class="demo" id="animationdemo"><span>♥</span></div>
    <p>Firefox 5 即支援 CSS Animations ─ 可定義 CSS keyframes 而建立複雜的動畫。</p>
    <a class="close" title="close" href="#close">關閉</a>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/CSS/CSS_animations">進一步了解</a>
</article>

<article>
    <h1>-moz-calc()</h1>
    <p>Firefox 支援 calc 的早期版本 (即自有命名空間的 –moz-calc )。開發者可用簡單表示式指定長度，進而簡化 CSS 頁面配置 (不需再用 divs 形成空格排版)。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/CSS/-moz-calc">進一步了解</a>
</article>

<article>
    <h1>-moz-any()</h1>
    <p>Firefox 另新增特別實用的新 CSS 擴充：-moz-any() 選擇器群組 (Selector grouping)。可提供另一種組合選擇器的方式，避免大量重複指定同樣的選擇器。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en-US/docs/Web/CSS/:any">進一步了解</a>
</article>


<article id="mozelementdemo">
    <h1>-moz-element()</h1>
    <p>-moz-element 為 background-image 屬性的延伸，可將任何元素作為其他元素的背景。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/CSS/-moz-element">進一步了解</a>
</article>

<article>
    <h1>-moz-placeholder</h1>
    <p>針對 HTML5 表單中的輸入欄位提示文字，可透過 :-moz-placeholder 改變提示文字的屬性，如色彩或其他屬性。
</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/CSS/%3A-moz-placeholder">進一步了解</a>
</article>

<article class="hasademo" id="radiusdemo">
    <h1>Border Radius</h1>
    <p>現已支援 border-radius 屬性，將取代舊版的 -moz-border-radius。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/CSS/border-radius">進一步了解</a>
</article>


<article id="boxshadowdemo" class="hasademo">
    <h1>box-shadow</h1>
    <p>box-shadow 已取代 -moz-box-shadow。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/CSS/box-shadow">進一步了解</a>
</article>


<article id="ffsdemo" class="hasademo experimental xxxie">
    <h1>-moz-font-feature-settings</h1>
    <div class="demo">
    <table class="sample">
        <tbody><tr><td style="font-size: 80%;" class="ss05">Beau Grand &amp; Fort</td></tr>
        <tr><td style="font-size: 62%;" class="dlig"><span class="ss06">klmn</span>ABRACADABRANTESQUE<span class="ss06">opqr</span></td></tr>
        <tr><td style="font-size: 108%;" class="dlig">EXTRAORDINAIRE</td></tr>
        <tr><td style="font-size: 108%;" class="dlig"><span class="ss06">t</span>prestigieux<span class="ss06">u</span></td></tr>
        <tr><td style="font-size: 175%;" class="dlig">FULGURANT</td></tr>
        <tr><td style="font-size: 128%;" class="ss04">Phénoménal</td></tr>
        <tr><td style="font-size: 180%;" class="dlig-ss02">«COLOSSAL!»</td></tr>

        <tr><td style="font-size: 140%;" class="ss05">incroyable</td></tr>
        <tr><td style="font-size: 85%;" class="salt">&amp; modeste avec <span class="ss05">ça</span></td></tr>
    </tbody></table>
    </div>
    <p>Firefox 透過 <a href="https://developer.mozilla.org/en/CSS/-moz-font-feature-settings">-moz-font-feature-settings</a> 屬性，可更完整支援 <a href="https://hacks.mozilla.org/2010/11/firefox-4-font-feature-support/">TrueType 字型</a>。現已可利用 kerning、ligatures、alternates、real small caps、stylistic sets，還有更多字型變化。</p>
    <a class="close" title="close" href="#close">關閉</a>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/CSS/-moz-font-feature-settings">進一步了解</a>
</article>

<article>
    <h1>統一 CSS 單位</h1>
    <p>Firefox 更改像素解析度，以迎合 Internet Explorer、Safari、Chrome。目前的 1 英吋等於 96 像素。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/CSS-2_Quick_Reference/Units#CSS_units_and_dots-per-inch">進一步了解</a>
</article>

<article>
    <h1>支援 Physical CSS Unit</h1>
    <p>針對要使用實際尺寸的特殊情況，Firefox 導入新的 CSS 單位 ─ mozmm。</p>
    <a class="learn" title="documentation" href="http://weblogs.mozillazine.org/roc/archives/2010/08/css_units_chang.html">進一步了解</a>
</article>

<article>
    <h1>device-pixel-ratio</h1>
    <p>-moz-device-pixel-ratio 媒體查詢，將提供「實際裝置像素」與「CSS 像素」的比值。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/En/CSS/Media_queries#-moz-device-pixel-ratio">進一步了解</a>
</article>

<article>
    <h1>-moz-tab-size</h1>
    <p>在繪製文字時，-moz-tab-size 將以空白字元為單位，定義定位字元 (Tab character；U+0009) 的長度。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/CSS/-moz-tab-size">進一步了解</a>
</article>

<article>
    <h1>-moz-focusring</h1>
    <p>當聚焦任一元素時，Firefox 的 CSS pseudo-selector (即 -moz-focusring)，可讓開發者指定元素的聚焦環外觀。在繪製聚焦環時，不同的作業系統有不同的繪製規則。而此參數可讓你控制其外觀，並能兼顧各種平台的規範。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/CSS/%3A-moz-focusring">進一步了解</a>
</article>

<article>
    <h1>-moz-image-rect</h1>
    <p>新的 -moz-image-rect 可讓你選定圖像的某一部分，以作為 <a href="https://developer.mozilla.org/en/CSS/background">background</a> 或 <a href="https://developer.mozilla.org/en/CSS/background-image">background-image</a> 屬性的一部分。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/CSS/-moz-image-rect">進一步了解</a>
</article>

<article>
    <h1>可調整文字區域的尺寸</h1>
    <p>文字區域預設即可調整尺寸；或可透過新的 resize CSS 屬性關閉該功能。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/CSS/resize">進一步了解</a>
</article>

</article>

<article id="apis" class="article container divider">

<p class="top-link"><a href="#main-feature">回到頂端</a></p>

<div class="click-star"><span>滑鼠游標移過各區塊即可觀看範例。</span></div>

<div class="intro">
    <h1>全新 <span>API</span></h1>
    <p>Firefox 建構了新標準 API，可找出瀏覽器所發生的問題，並有更多方式可讓網頁具備更高的互動性，且線上或離線皆然。</p>
</div>

<article>
    <h1>window.matchMedia</h1>
    <p>Firefox 支援等同於 CSS3 <a href="https://developer.mozilla.org/En/CSS/Media_queries">媒體查詢 (Media queries)</a> 的 JavaScript 功能，讓網頁可適應其顯示媒體/裝置的螢幕尺寸。現可取得媒體的多項資訊，如螢幕寬度、解析度、旋轉方位等。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/DOM/window.matchMedia">進一步了解</a>
</article>

<article>
    <h1>WebSockets</h1>
    <p>Firefox 可支援與伺服器之間的雙向通訊。WebSockets 將於 Web 上建立即時通訊應用與 HTML5 遊戲。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/WebSockets">進一步了解</a>
</article>

<article>
    <h1>Server Sent Events</h1>
    <p>Server Sent Events 可讓伺服器推播訊息至瀏覽器，且該訊息將以網頁事件的形態被偵測。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/Server_Sent_Events">進一步了解</a>
</article>

<article>
    <h1>ECMAScript 5</h1>
    <p>ECMAScript 5 為新版 JavaScript 語言，具備多項新功能與新 API (如 Strict Mode 和 JSON API)。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/Special:Tags?tag=ECMAScript5">進一步了解</a>
</article>


<article id="webgldemo" class="hasademo experimental xxxie">
    <h1>WebGL</h1>
    <script src="{{ media('js/firefox/technology/sylvester.js') }}"></script>
    <script src="{{ media('js/firefox/technology/glUtils.js') }}"></script>
    <script src="{{ media('js/firefox/technology/gldemo.js') }}"></script>
    <div class="demo">
        <canvas onmouseout="stopTeaPot()" onmouseover="startTeaPot()" height="200" width="300"></canvas>
    </div>
    <p>也就是 Canvas 3D。WebGL 所導入的 API 極為接近 OpenGL ES 2.0，並可用於 HTML5 的 canvas 元素中，進而為 Web 帶來 3D 圖形功能。</p>
    <a class="close" title="close" href="#close">關閉</a>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/WebGL">進一步了解</a>
</article>

<article>
    <h1>針對檔案上傳元件可支援 .click()</h1>
    <p>Firefox 可於隱藏的檔案上傳元件上呼叫 .click()，進而帶出作業系統的上傳對話框；意即開發者可自訂上傳元件的外觀，而不需顯示原本 (醜陋) 的檔案上傳元件。如果進一步整合新的 <a href="https://developer.mozilla.org/en/Using_files_from_web_applications">File APIs</a> 與 <a href="https://developer.mozilla.org/En/XMLHttpRequest/Using_XMLHttpRequest#Monitoring_progress">progress events</a>，就能創造絕佳的檔案上傳體驗。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/using_files_from_web_applications#Using_hidden_file_input_elements_using_the_click%28%29_method">進一步了解</a>
</article>

<article>
    <h1>支援 File API 中的 .slice</h1>
    <p>Firefox 可支援 Blob API 與其隨附的 .slice APIs。若使用者只想處理部分檔案，卻又不想將完整的大型檔案載入至記憶體時，就可利用此 API。若要穩定上傳大型檔案，則可搭配某些伺服器程式碼與 JS 程式碼，將大型檔案切割為數個區塊並上傳，亦可自動重傳上傳失敗的區塊，甚至可同步上傳多個區塊。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/DOM/Blob">進一步了解</a>
</article>

<article>
    <h1>支援 File API URLs</h1>
    <p>Firefox 支援 File API 的 .url 屬性。意即只要是來自於 File API 的物件，均可作為 HTML、圖像、視訊等物件，或任何可透過指定 URL 而顯示的物件。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/Using_files_from_web_applications">進一步了解</a>
</article>

<article>
    <h1>觸控與多點觸控事件</h1>
    <p>Firefox 可於 DOM 結構上支援觸控與多點觸控事件，而 Windows 7 系統已可用此功能。</p>
    <a class="learn" title="documentation" href="https://hacks.mozilla.org/2010/08/firefox4-beta3/">進一步了解</a>
</article>

<article>
    <h1>偵測 Click-to-Touch</h1>
    <p>Firefox 透過 <a href="https://developer.mozilla.org/en/DOM/event.mozInputSource">mozInputSource</a> 屬性，可辨別是由滑鼠或手指所產生的事件。如此有助於處理觸控與多點觸控事件，並讓 App 能以不同方式處理觸控或滑鼠的事件。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/DOM/event.mozInputSource">進一步了解</a>
</article>

<article>
    <h1>IndexedDB</h1>
    <p>Firefox 具備早期版本的 <a href="http://www.w3.org/TR/IndexedDB/">IndexedDB</a>。此內部儲存空間標準不僅正蓬勃發展，並仍持續改進中。在此標準穩定之前，仍將處於自有的命名空間。可參閱 <a href="https://developer.mozilla.org/en/IndexedDB/IndexedDB_primer">IndexedDB primer</a> 以初步了解 IndexedDB API 的使用方式。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/IndexedDB">進一步了解</a>
</article>

<article>
    <h1>FormData</h1>
    <p>Firefox 另支援新的 <a href="https://hacks.mozilla.org/2010/07/firefox-4-formdata-and-the-new-file-url-object/">FormData</a> 物件，可輕鬆使用於 HTML 表單中。該物件亦具備數個新功能，像是透過 File API 所取得的檔案，可更容易併入表單資料中。</p>
    <a class="learn" title="documentation" href="https://hacks.mozilla.org/2010/07/firefox-4-formdata-and-the-new-file-url-object/">learn more</a>
</article>

<article>
    <h1>將 Canvas 作為檔案物件</h1>
    <p>針對上傳與其他作業，Firefox 可將 Canvas 作為檔案物件以利存取。現在可在 <a href="https://developer.mozilla.org/en/DOM/HTMLCanvasElement">Canvas</a> 上使用 mozGetAsFile() 函式，即可回傳圖像檔案。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/DOM/HTMLCanvasElement">進一步了解</a>
</article>

<article id="audiodemo" class="hasademo experimental xxxie">
    <!--[if gte IE 9]>-->
    <script src="{{ media('js/firefox/technology/processing.js') }}"></script>
    <!--<![endif]-->

    <script src="{{ media('js/firefox/technology/beatdetektor.js') }}"></script>
    <script src="{{ media('js/firefox/technology/dsp.js') }}"></script>
    <script src="{{ media('js/firefox/technology/main.js') }}"></script>
    <audio id="grappes" src="{{ media('img/firefox/technology/track.ogg') }}" preload="auto"></audio>

    <h1>Audio Sampling and Generation API</h1>
    <div class="demo">
        <canvas onmouseout="stopProcessingAudio()" onmouseover="startProcessingAudio()" id="audiocube" data-processing-sources="{{ media('js/firefox/technology/anim.pde') }}" style="image-rendering: optimizespeed ! important;" width="128" height="128"></canvas>
    </div>
    <p>Firefox 的 Audio Data API，可讓開發者讀取、修改、寫入來自於音訊與視訊元素的資料。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/Introducing_the_Audio_API_Extension">進一步了解</a>
</article>

</article>

<article id="svg" class="article container divider">

<p class="top-link"><a href="#main-feature">回到頂端</a></p>

<div class="intro">
    <h1>強悍演進的 <span>SVG</span></h1>
    <p>Firefox 更進一步支援 <abbr title="Scalable Vector Graphics">SVG</abbr>，讓線條圖形也能有更創新的玩法。</p>
</div>

<article>
    <h1>SVG 動畫與 SMIL</h1>
    <p>現可在 Firefox 中，以 SMIL 創造 SVG 動畫。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/SVG/SVG_animation_with_SMIL ">進一步了解</a>
</article>

<article>
    <h1>SVG 作為圖像與 CSS 背景</h1>
    <p>SVG 現可用於 <a href="https://developer.mozilla.org/en/HTML/element/img#Supported_Image_Formats">&lt;img&gt; 標籤之內</a>，亦可作為 <a href="https://developer.mozilla.org/en/CSS/background-image#Syntax">CSS 中的背景圖像</a>。另可支援 SMIL 動畫。</p>
    <img src="{{ media('img/firefox/technology/lion.svg') }}" alt="Lion SVG image example">
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/CSS/background-image#Syntax">進一步了解</a>
</article>

</article>

<article id="security" class="article container divider">

<p class="top-link"><a href="#main-feature">回到頂端</a></p>

<div class="intro">
    <h1>更高的<span>安全性</span></h1>
    <p>Firefox 支援許多新強化的安全功能，可協助 Web 開發者並保護使用者。</p>
</div>

<article>
    <h1>內容安全政策</h1>
    <p>內容安全政策 (CSP) 為一系列工具，可協助開發者抵擋不同類型的攻擊。特別一提的是，CSP 的工具能減少跨網站指令攻擊、鏈結綁架、封包監聽等攻擊行為。只要網站違反任何規則，Firefox 隨即回傳該網站的違反資訊，一併提升了其他瀏覽器的安全性。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/Security/CSP">進一步了解</a>
</article>

<article>
    <h1>X-Frame-Options</h1>
    <p>Firefox 支援 X-Frame-Options 標頭，為鏈結綁架 (Clickjacking) 的防禦方式之一。其他瀏覽器均已支援此回應標頭。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/The_X-FRAME-OPTIONS_response_header">進一步了解</a>
</article>

<article>
    <h1>HSTS (ForceHTTPS)</h1>
    <p>Firefox 支援 HTTP Strict Transport Security (HSTS) 標頭。這些標頭用以告知瀏覽器絕不透過未加密的 HTTP 連上網站。</p>
    <a class="learn" title="documentation" href="http://tools.ietf.org/html/draft-hodges-strict-transport-sec-02">進一步了解</a>
</article>

<article>
    <h1>改進 CORS</h1>
    <p>Firefox 修復了跨來源資源分享 (CORS) 中的某些問題。</p>
    <a class="learn" title="documentation" href="https://developer.mozilla.org/en/http_access_control">進一步了解</a>
</article>

<article>
    <h1>變更 :visited</h1>
    <p> 在<a href="https://hacks.mozilla.org/2010/03/privacy-related-changes-coming-to-css-vistited/">補上了長久以來「讓任何網站查詢使用者瀏覽記錄」的 CSS 規則漏洞</a>之後，Firefox 更進一步提高了使用者的線上隱私安全。其他 WebKit 架構的瀏覽器亦跟著採用了這些改變。</p>
    <a class="learn" title="documentation" href="https://hacks.mozilla.org/2010/03/privacy-related-changes-coming-to-css-vistited/">進一步了解</a>
</article>


</article>

</section>



</div><!-- end #wall div -->

{% endblock %}

{% block js %}
  {{ js('firefox_tech') }}
{% endblock %}
