{% from "macros.html" import email_newsletter_form with context %}
{% set_lang_files "main" %}
<!doctype html>
{# Note the "windows" class, without javascript platform-specific
     assets default to windows #}
<html class="windows no-js" lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    {% block ga_experiments %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block extra_meta %}{% endblock %}

    <title>{% block page_title_prefix %}Mozilla — {% endblock %}{% block page_title %}{% endblock %}{% block page_title_suffix %} — mozilla.org{% endblock %}</title>

    {% block tabzilla_css %}
      {{ css('mocotw-tabzilla') }}
    {% endblock %}

    <!--[if lte IE 8]>
    <script src="{{ MEDIA_URL }}js/libs/html5shiv.js"></script>
    <![endif]-->

    {% block site_css %}
      {{ css('responsive') }}
    {% endblock %}

    {% block extrahead %}{% endblock %}

    {% block favicon %}<link rel="shortcut icon" href="{{ MEDIA_URL }}img/favicon.ico">{% endblock %}

    {{ js('site') }}

    {% include 'includes/google-analytics.html' %}
  </head>

  <body id="{% block body_id %}{% endblock %}" class="html-{{ DIR }} sky"{% block body_attrs %}{% endblock %}>
    {% include 'mocotw/tabzilla/tabzilla.html' %}
    <div id="strings" {% block string_data %}{% endblock %}></div>
    <div id="outer-wrapper">
    <div id="wrapper">

    {% block site_header %}
      <header id="masthead">
        <a href="http://www.mozilla.org/" id="tabzilla">{{ _('Mozilla') }}</a>

        {% block site_header_nav %}
          {% include 'mocotw/tabzilla/navigator.html' %}
        {% endblock %}

        {% block site_header_logo %}
        <h2><a href="{{ url('mozorg.home') }}"><img src="{{ MEDIA_URL }}img/mocotw/mozcomtw/nav-logo-small.png" alt="mozilla"></a></h2>
        {% endblock %}

        {% block alt_header %}{% endblock %}

        {% block breadcrumbs %}{% endblock %}

      </header>
    {% endblock %}

    {% block mosaic %}{% endblock %}

    {% block content %}{% endblock %}

    {% block email_form %}{{ email_newsletter_form() }}{% endblock %}

    </div><!-- close #wrapper -->

    {% block site_footer %}
      {% include "mocotw/tabzilla/footer.html" %}
    {% endblock %}

    </div><!-- close #outer-wrapper -->

    <!--[if IE 9]>
      <script src="{{ MEDIA_URL }}js/libs/matchMedia.js"></script>
    <![endif]-->

    {% block site_js %}
      {{ js('common-resp') }}
    {% endblock %}
    {% block tabzilla_js %}
      <script src="/tabzilla/tabzilla.js?build=1"></script>
    {% endblock %}
    {% block js %}{% endblock %}
    {% if DEBUG %}
      <script src="/tabzilla/replace_urls.js?build=1"></script>
    {% endif %}
  </body>
</html>
